<li *ngIf="option['type'] =='field' || option['type']=='area' || option['type']=='file'">
  <label>{{option['title']}} <span *ngIf="option['is_require'] == '1'" style="display: inline-block">*</span></label>
  <retail-text [model]="options[option['option_id']]" (modelChange)="updateProductCustomizableOptions(option['option_id'],$event)"
               [validation]="option['is_require']=='1'? 'require' :''"
               [formKey]="'pos-product-detail'">
  </retail-text>
</li>

<li *ngIf="option['type'] =='drop_down' || option['type']=='radio' || option['type']=='checkbox' || option['type']=='multiple'">
  <label>{{option['title']}}<span *ngIf="option['is_require'] == '1'" style="display: inline-block">*</span></label>
  <retail-select [model]="options[option['option_id']]" (modelChange)="updateProductCustomizableOptions(option['option_id'],$event)"
                 [elementData]="getOptionTypeData()"
                 [formKey]="'pos-product-detail'"
                 [validation]="option['is_require']=='1'? 'require' :''">
  </retail-select>
</li>

<li *ngIf="option['type'] =='date'">
  <label>{{option['title']}}<span *ngIf="option['is_require'] == '1'" style="display: inline-block">*</span></label>
  <date-select class="date-select" [model]="options[option['option_id']]" (modelChange)="updateProductCustomizableOptions(option['option_id'],$event)"
               [formKey]="'pos-product-detail'"
               [validation]="option['is_require']=='1'? 'require' :''">
  </date-select>
</li>

<li *ngIf="option['type'] == 'time'">
  <label>{{option['title']}}<span *ngIf="option['is_require'] == '1'" style="display: inline-block">*</span></label>
  <time-select class="time-select" [model]="options[option['option_id']]" (modelChange)="updateProductCustomizableOptions(option['option_id'],$event)"
               [formKey]="'pos-product-detail'"
               [validation]="option['is_require']=='1'? 'require' :''">
  </time-select>
</li>

<li *ngIf="option['type'] =='date_time'">
  <label>{{option['title']}}<span *ngIf="option['is_require'] == '1'" style="display: inline-block">*</span></label>
  <time-select  class="time-select"  [model]="options[option['option_id']]" (modelChange)="updateProductCustomizableOptions(option['option_id'],$event)"
               [formKey]="'pos-product-detail'"
               [validation]="option['is_require']=='1'? 'require' :''">
  </time-select>
  <date-select  class="date-select" [model]="options[option['option_id']]" (modelChange)="updateProductCustomizableOptions(option['option_id'],$event)"
               [formKey]="'pos-product-detail'"
               [validation]="option['is_require']=='1'? 'require' :''">
  </date-select>
</li>
