<div class="auth-page">
  <div class="log-img"></div>
  <div class="log-content">
    <div class="inner">
      <h1 class="logo"><img src="assets/img/new_logo.png"/></h1>

      <!-- Forgot Password -->
      <form class="js-validation-reminder form-reset">
        <div class="page-title"><h1>Reset Password</h1></div>
        <ul class="fr-control">
          <li *ngIf="!token">
            <div class="form-group">
              <div class="col-xs-12">
                <input class="form-control" type="email" id="reminder-email" placeholder="Enter Your Email" id="reminder-email" name="reminder-email" [(ngModel)]="data['email']">
              </div>
            </div>
          </li>

          <!-- Reset pass -->
          <li *ngIf="!!token">
            <div class="form-group">
              <div class="col-xs-12">
                <input type="password" id="new_password" name="new_password" [(ngModel)]="data['new_password']"
                       placeholder="Password"/>
              </div>
            </div>
          </li>
          <li *ngIf="!!token">
            <div class="form-group">
              <div class="col-xs-12">
                <input type="password" id="confirm_new_password" name="confirm_new_password" [(ngModel)]="data['confirm_new_password']"
                       placeholder="Confirm new password"/>
              </div>
            </div>
          </li>
          <li class="button-group col-xs-12">
            <button type="submit" class="btn-primary" *ngIf="!token" [ladda]="(accountState$ |async)?.isProcessing">Confirm</button>
            <button type="submit" class="btn-primary" *ngIf="!!token" [ladda]="(accountState$ |async)?.isProcessing">Confirm</button>
          </li>
          <li>
            <a class="link-text" (click)="routerActions.go('account/login')">Login?</a>
          </li>
        </ul>
      </form>
    </div>
    <a href="#" class="click contact-btn"><i class="fa fa-envelope-o"></i>Contact Us</a>
  </div>
</div>
