<form>
  <legend>Version Information</legend>

  <div class="form-group">
    <label for="clientVersion">Connect Pos version:</label>
    <input type="text" class="form-control" name="clientVersion" id="clientVersion" value="1.0.0" disabled>
  </div>

  <div class="form-group">
    <label for="connectorVersion">Connector version:</label>
    <input type="text" class="form-control" name="connectorVersion" id="connectorVersion" value="1.0.0 - Compatible" disabled>
  </div>

  <div class="form-group">
    <label for="licenseKey">License Key:</label>
    <input type="text" class="form-control" name="licenseKey" id="licenseKey" value="Validated" disabled>
  </div>

</form>
