<form class="general-info">
  <legend>{{'Version Information' | translate}}</legend>

  <div class="form-group">
    <label for="clientVersion">{{'Connect Pos version:' | translate}}</label>
    <input type="text" class="form-control" name="clientVersion" id="clientVersion" value="1.1.8" disabled>
  </div>

  <div class="form-group">
    <label for="connectorVersion">{{'Connector version:' | translate}}</label>
    <input type="text" class="form-control" name="connectorVersion" id="connectorVersion" value="1.1.8 - Compatible" disabled>
  </div>

  <div class="form-group">
    <label for="licenseKey">{{'License Key:' | translate}}</label>
    <input type="text" class="form-control" name="licenseKey" id="licenseKey" value="Validated" disabled>
  </div>

</form>
