<table class="outlet-table">
  <thead>
    <tr>
      <th>Region ID</th>
      <th>{{ 'Region Name' | translate }}</th>
      <!--<th>{{ 'List Of Outlet' | translate }}</th>-->
      <th>{{ 'Action' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input placeholder="{{ 'Search field' | translate }}" [value]="configurationsState.regions.filterData.id" enterBlur (blur)="updateFilter({id:$event.target['value']})"/>
      </td>
      <td>
        <input placeholder="{{ 'Search field' | translate }}" [value]="configurationsState.regions.filterData.region_name" enterBlur (blur)="updateFilter({name:$event.target['value']})"/>
      </td>
      <!--<td>-->
        <!--<input placeholder="{{ 'Search field' | translate }}" [value]="configurationsState.regions.filterData.assigned_outlets" enterBlur (blur)="updateFilter({name:$event.target['value']})"/>-->
      <!--</td>-->
      <td>

      </td>
    </tr>
    <!--<tr *ngFor="let region of configurationsState.outlets.outletFiltered" (click)="editOutlet(outlet['id'])">-->
    <tr *ngFor="let region of configurationsState.regions.regionFiltered">
      <td>{{region['id']}}</td>
      <td>{{region['region_name']}}</td>
      <!--<td>{{refactorListOutletById(region['assigned_outlets'])}}</td>-->
      <td (click)="editRegion(region['id'])">EDIT</td>
    </tr>
  </tbody>
</table>
