<!-- START Add new User page -->
<div class="addNew min-page">
  <div class="white-box">
    <div class="box560">
      <div class="title-page">
        <h1>
          {{ isEditingPricing() ? "Update Pricing" : "Create Pricing"}}
          <span *ngIf="isEditingPricing()">{{id}}</span>
        </h1>
      </div>
      <form class="js-validation-pricing form-horizontal">
        <div class="form-content">
          <div class="form-group">
            <label class="control-label" for="val-pricing_code">Pricing Code</label>
            <div class="element">
              <input type="text" class="form-control" id="val-pricing_code" name="val-pricing_code"
                     placeholder="Enter Pricing Code.." [(ngModel)]="pricing['code']">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="val-pricing_name">Pricing Name</label>
            <div class="element">
              <input type="text" class="form-control" id="val-pricing_name" name="val-pricing_name"
                     placeholder="Enter Pricing Name.." [(ngModel)]="pricing['name']">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="val-display_name">Display Name</label>
            <div class="element">
              <input type="text" class="form-control" id="val-display_name" name="val-display_name"
                     placeholder="Enter Pricing Name.." [(ngModel)]="pricing['display_name']">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="val-type">Type</label>
            <div class="element">
              <select class="form-control" id="val-type" name="val-type" [(ngModel)]="pricing['type']" data-placeholder="Choose one..">
                <option value="">Choose option</option>
                <option value="1">Standard</option>
                <option value="2">Premium</option>
                <option value="3">Lifetime</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="nousers">Number of starting user</label>
            <div class="element">
              <input type="number" min="0" class="form-control" id="nousers" name="nousers"
                     placeholder="Enter Number Of Starting Users.."
                     [(ngModel)]="pricing['nouser']">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="val-cost_monthly">Cost Monthly</label>
            <div class="element">
              <input type="text" class="form-control" id="val-cost_monthly" name="val-cost_monthly"
                     placeholder="Enter Pricing Cost Monthly.."
                     [(ngModel)]="pricing['cost_monthly']">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="val-cost_annually">Cost Yearly</label>
            <div class="element">
              <input type="text" class="form-control" id="val-cost_annually" name="val-cost_annually" placeholder="Enter Pricing Cost Annually.."
                     [(ngModel)]="pricing['cost_annually']">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="val-cost_adding">Cost of adding new active user</label>
            <div class="element">
              <input type="text" class="form-control" id="val-cost_adding" name="val-cost_adding"
                     placeholder="should be entered depending on type"
                     [(ngModel)]="pricing['cost_adding']">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="val-visibility">Visibility</label>
            <div class="element">
              <select class="form-control" id="val-visibility" name="val-visibility" [(ngModel)]="pricing['visibility']" data-placeholder="Choose one..">
                <option value="1">Show to Customer</option>
                <option value="0">Hidden</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="val-description">Description</label>
            <div class="element">
                            <textarea class="form-control" id="val-description" name="val-description" rows="6"
                                      placeholder="Pricing's Description Here.." [(ngModel)]="pricing['description']">
                            </textarea>
            </div>
          </div>
        </div>
        <div class="group-btn tac line-top">
          <button type="button" (click)="goBack()" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
