<div class="grid-product">
  <pos-default-sales-checkout-top-bar [checkoutProductState]="checkoutProductState$ | async" [configState]="configState$ | async"></pos-default-sales-checkout-top-bar>

  <pos-default-sales-checkout-grid [checkoutProductState]="checkoutProductState$ | async"></pos-default-sales-checkout-grid>

  <pos-default-sales-checkout-list></pos-default-sales-checkout-list>



</div>
<div class="cart-product">
  <pos-default-sales-checkout-actions-bar [quoteState]="quoteState$ | async" [cartCustomerState]="cartCustomerState$ | async" [cartActionBarState]="cartActionBarState$ | async">
  </pos-default-sales-checkout-actions-bar>

  <pos-default-sales-checkout-cart [quoteState]="quoteState$ | async" [cartCustomerState]="cartCustomerState$ | async" [configState]="configState$ | async" [cartItemState]="cartItemState$ | async" [cartTotalsState]="cartTotalsState$ | async">
  </pos-default-sales-checkout-cart>

  <pos-default-sales-checkout-grand-total [quoteState]="quoteState$ | async" [posSyncState]="posSyncState$ | async"></pos-default-sales-checkout-grand-total>

</div>
<div class="checkout-popup">
  <pos-default-sales-checkout-popup [productOptionsState]="productOptionsState$ | async"></pos-default-sales-checkout-popup>
</div>

<div class="checkout-step">
  <pos-default-sales-checkout-step [posQuoteState]="quoteState$ | async" [posStepState]="posStepState$ | async" [posConfigState]="configState$ | async" [posSyncState]="posSyncState$ | async" [posGeneralState]="generalState$ | async" [receiptState]="receiptState$ | async"></pos-default-sales-checkout-step>
</div>

