<div class="left-menu-side mn-xpos" #menuElem>
  <span class="icon-close-thin mn-close" (click)="menuLeftActions.changeOpenState(false)"></span>
  <div class="account-side">
    <span class="icon-user-bold"></span>
    <div class="user-name">
      <p class="name">{{getUserName()}}</p>
      <p class="txt">{{getOutletRegisterData()}}</p>
    </div>
  </div>
  <ul class="left-menu-link">
  <li>
      <span class="click" (click)="openCart()">
          <span class="icon-nav-sellscreen"></span>
          <span>{{ 'Sell screen' | translate}}</span>
      </span>
    </li>
    <li>
      <span class="click" [ngClass]="{disabled: !offline.online}" (click)="openShift()">
          <span class="icon-nav-shift"></span>
          <span>{{'shift' | translate}}</span>
      </span>
    </li>
    <li *ngIf="authenticateService.userCan('view_order_list')">
            <span class="click" (click)="openOrders()">
                <span class="icon-nav-orderlist"></span>
              <span>{{'order list' | translate}}</span>
            </span>
    </li>
    <li>
            <span class="click" [ngClass]="{disabled: !offline.online}" (click)="goPosSetting()">
                <span class="icon-nav-setting"></span>
               <span>{{'setting' | translate}}</span>
            </span>
    </li>
    <li>
            <span class="click" [ngClass]="{disabled: !offline.online}" (click)="changeOutlet()">
              <span class="icon-nav-outlet"></span>
              <span>{{'Change outlet' | translate}}</span>
            </span>
    </li>
    <li>
            <span class="click" (click)="flushCache()">
              <span class="icon-trash"></span>
              <span>{{'Flush cache' | translate}}</span>
            </span>
    </li>
  </ul>
  <div class="bot-bar">
    <button class="red" (click)="accountActions.logout()" [ladda]="accountState.isLogging">{{'Logout' | translate}}</button>
    <div style="margin-top: 15px;width: 100%;margin-bottom: -40px;margin-left: -10px;">
      <ul class="fr-control">
        <li>
          <label>{{'language' |translate}}</label>
          <retail-select2 [elementData]="retailTranslate.getListLanguageSupport()" [model]="translate.currentLang"
                          (modelChange)="retailTranslate.updateLanguage($event)"></retail-select2>
        </li>
      </ul>
    </div>
  </div>
</div>
