<div class="checkout-row">
  <div class="checkout-head">
    <div class="c-name"><span class="icon-wallet"></span> {{method['title']}}</div>
    <div class="c-price">
      <input [disabled]="!method['isChanging'] && posStepState.totals.remain <= 0.01"
             type="text" inputSelectText enterBlur
             [value]="method['amount']"
             (blur)="changeAmount($event.target.value)"/>
    </div>
    <div class="c-other" *ngIf="!hasQuestion() && !isSuccess()">
      {{getMessage()}}
    </div>
    <div class="c-other" *ngIf="isSuccess()">
      Successfully
    </div>
    <span *ngIf="!isSuccess()" class="delete-btn" (click)="remove()"><span class="icon-close-thin"></span></span>
  </div>
</div>

<!-- Pop Up Question of tyro -->
<div *ngIf="hasQuestion() && !!getMessage()" class="popup-wrapper open" id="newOutletInfo">
  <div class="popup-content">
    <h3>{{ 'Tyro Payment Gateway' | translate }}</h3>
    <p> {{getMessage()}}</p>
    <div class="button-bar">
      <button *ngFor="let question of getTyroTransactionData().additionData['questions']" (click)="tyroActions.userSelectAnswer(question['value'])">
        {{question['label']}}
      </button>
    </div>
  </div>
</div>
<div class="popup-overlay" [ngClass]="{open: hasQuestion()}"></div>
