<div class="license-detail min-page">
  <!-- =================================================================== -->
  <!-- START Checkout page -->

  <div class="white-box">
    <div class="box560">
      <div class="title-page no-line">
        <h1>Checkout</h1>
      </div>
      <div class="checkout-content">
        <div class="payment-method-wrap">
          <div class="row grand-total">
            <div class="col-sm-6 lbl">
              Grand total
            </div>
            <div class="col-sm-6 value">
              ${{(checkoutState$ | async).totals?.total?.grand_total | number: '1.2-2'}}
            </div>
          </div>
          <div class="row payment-method-choice" *ngIf="(checkoutState$ | async).totals?.total?.grand_total > 0">
            <div class="col-sm-6 lbl">
              Payment method
            </div>
            <div class="col-sm-6">
              <ul>
                <li class="clearfix radio-btn" *ngFor="let p of (checkoutState$ | async)?.payments"
                    [ngClass]="{active: paymentMethod == p['id'],'payment-wall': p['id'] =='payment-wall','paypal': (p['id'] =='braintree' || p['id'] =='paypal')}">
                  <input type="radio" [id]="p['id']" [value]="p['id']" name="paymentMethod" [(ngModel)]="paymentMethod">
                  <label [for]="p['id']">{{p['data']['name']}}</label>
                  <div class="check">
                  </div>
                  <span class="icon icon-paywall" [ngClass]="{'icon-paywall': p['id'] =='payment-wall','icon-paypal' :p['id'] =='braintree' }"></span>
                </li>
              </ul>
            </div>
          </div>
          <!--<div *ngIf="(checkoutState$ | async).totals?.total?.grand_total == 0">-->
          <!--<div>-->
          <!--you_do_not_need_select_payment-->
          <!--</div>-->
          <!--<div>-->
          <!--<button>-->
          <!--Complete-->
          <!--</button>-->
          <!--</div>-->
          <!--</div>-->
        </div>

        <div class="credit-card-info" *ngIf="paymentMethod == 'braintree'">
          <braintree-payment-component></braintree-payment-component>
        </div>
        <div class="credit-card-info" *ngIf="paymentMethod == 'paypal'">
          <paypal-button-component></paypal-button-component>
        </div>
      </div>
    </div>
  </div>
</div>
