<div id="none-license-inform" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content gray-bg ">
      <div class="modal-header">
        <h2 class="modal-title">Oops!!</h2>
      </div>
      <div class="modal-body">
        <form action="" class="form-horizontal">
          <div class="form-group">
            <p>You don't have any product.</p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="group-btn tac">
          <button type="button" class="btn btn-primary" (click)="goProductsPage()">Go Products Page</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="list-page min-page">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="block">
      <div class="block-content">
        <table class="table table-bordered table-responsive white-box">
          <thead>
          <tr>
            <th>Product</th>
            <th>Pricing</th>
            <th>Plan Billing Cycle</th>
            <th>Active Register</th>
            <th>Purchase Date</th>
            <th>Expiry Date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let productLicense of licenseProduct">
            <td>{{productLicense['productName']}}</td>
            <td>{{productLicense['pricingName']}}</td>
            <td>{{productLicense['billingCycle']}}</td>
            <td>{{productLicense['additionEntity']}}</td>
            <td>{{productLicense['purchaseDate'] | amCalendar}}</td>
            <td>{{productLicense['expiryDate'] | amCalendar}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


