<div id="none-license-inform" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content gray-bg ">
      <div class="modal-header">
        <h2 class="modal-title">Oops!!</h2>
      </div>
      <div class="modal-body">
        <form action="" class="form-horizontal">
          <div class="form-group">
            <p>You don't have any product.</p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="group-btn tac">
          <button type="button" class="btn btn-primary" (click)="goProductsPage()">Go Products Page</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="list-page min-page">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="block">
      <div class="block-content">
        <table class="table table-bordered table-responsive white-box">
          <thead>
          <tr>
            <th>Product</th>
            <th>Version</th>
            <th>Pricing</th>
            <th>Current User</th>
            <th>Purchase Date</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>X-POS</td>
            <td>1.0.1</td>
            <td>1.0.1</td>
            <td>1.0.1</td>
            <td>1.0.1</td>
            <td>1.0.1</td>
            <td>
              <button type="button" class="btn btn-default" data-id="${data}">More Details</button>
              <button type="button" class="btn btn-primary" data-id="${data}">Adjust Plan</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


