<div class="order-list-leftside">
  <div class="top-bar">
        <span class="menu-toggle" (click)="menuLeftActions.changeOpenState(true)"><span class="icon-menu amenu"></span><span
          class="text">X-Retail</span></span>
    <div class="check-box click" (click)="toggleSearchOnline(!ordersState.list.isSearchOnline)">
      <input [checked]="ordersState.list.isSearchOnline"
             type="checkbox" [disabled]="!offline.online">
      <span></span>{{ 'Search Online' | translate }}
    </div>
    <div class="search-blk">
      <span class="icon-search"></span><input #searchElement [value]="ordersState.list.searchString"
                                              placeholder="Client ID, Magento ID, Customer..."
                                              (blur)="searchOrder($event.target.value)"
                                              enterBlur inputSelectText
                                              [disabled]="ordersState.list.isResolving"
                                              type="text">
    </div>
  </div><!--end top-bar-->

  <div class="top-field">
    <div class="date-input-wrap">
      <div class="date-input">
        <i class="icon-date-time"></i>
        <input #dateSelectFrom type="text" class="calendar-picker"/>
      </div>
        <label>To</label>
      <div class="date-input">
        <i class="icon-date-time"></i>
        <input #dateSelectTo class="calendar-picker" type="text"/>
      </div>
    </div>
    <div class="selectbox-wrap">
      <retail-select [disabled]="ordersState.list.isSearchOnline" [elementData]="orderService.getPaymentStatusElem()" [defaultText]="'Payment status'"
                     [model]="ordersState.list.searchOrderPaymentStatus"
                     (modelChange)="searchOrderStatus({searchOrderPaymentStatus:$event})">
      </retail-select>
      <retail-select [disabled]="ordersState.list.isSearchOnline" [elementData]="orderService.getShipmentStatusElem()" [defaultText]="'Shipment status'"
                     [model]="ordersState.list.searchOrderShipmentStatus"
                     (modelChange)="searchOrderStatus({searchOrderShipmentStatus:$event})">
      </retail-select>
      <retail-select [elementData]="orderService.getSyncStatusElem(ordersState.list.isSearchOnline)" [defaultText]="'Sync status'"
                     [model]="ordersState.list.searchOrderSyncStatus"
                     (modelChange)="searchOrderStatus({searchOrderSyncStatus:$event})">
      </retail-select>
    </div>

  </div><!--end top-field-->

  <div class="order-list-inner" style="top: -20px" perfectScroll>
    <h1 *ngIf="ordersState.list.ordersGroped.count() === 0" class="text-center">{{ 'No orders found' | translate }}</h1>
    <div class="order-group">
      <div *ngFor="let orderGrouped of ordersState.list.ordersGroped;trackBy:trackByTimeStamp">
        <div *ngIf="orderGrouped['orders'].count() >0" class="date">
          {{!!orderGrouped['today'] ? 'Today' : orderGrouped['timestamp']}}
        </div>
        <pos-default-sales-orders-list-item *ngFor="let order of orderGrouped['orders'];trackBy:trackById" [order]="order" [ordersState]="ordersState"></pos-default-sales-orders-list-item>
      </div>

    </div>
  </div>
</div>
