<div class="order-list-leftside">
  <div class="top-bar">
        <span class="menu-toggle" (click)="menuLeftActions.changeOpenState(true)"><span class="icon-menu amenu"></span><span
          class="text">X-Retail</span></span>
    <div class="check-box">
      <input [checked]="ordersState.list.isSearchOnline" (change)="toggleSearchOnline($event)"
             type="checkbox" [disabled]="!offline.online">
      <span></span>{{ 'Search Online' | translate }}
    </div>
    <div class="search-blk">
      <span class="icon-search"></span><input #searchElement [value]="ordersState.list.searchString"
                                              placeholder="Client ID, Magento ID, Customer..."
                                              (blur)="searchOrder($event.target.value)"
                                              enterBlur inputSelectText
                                              [disabled]="ordersState.list.isResolving"
                                              type="text">
    </div>
  </div><!--end top-bar-->

  <div class="top-field">
    <div class="date-input-wrap">
      <input #dateSelectFrom type="text" class="calendar-picker"/>
      <label>To</label>
      <input #dateSelectTo class="calendar-picker" type="text"/>
    </div>
    <div class="selectbox-wrap">
        <retail-select [disabled]="ordersState.list.isSearchOnline" [elementData]="orderService.getStatusElementData()"
                     [model]="ordersState.list.searchOrderStatus"
                     (modelChange)="searchOrderStatus($event)">
        </retail-select>
    </div>
    
  </div><!--end top-field-->

  <div class="order-list-inner" style="top: -20px" perfectScroll>
    <h1 *ngIf="ordersState.list.ordersGroped.count() === 0" class="text-center">{{ 'No orders found' | translate }}</h1>
    <div class="order-group">
      <div *ngFor="let orderGrouped of ordersState.list.ordersGroped;trackBy:trackByTimeStamp">
        <div *ngIf="orderGrouped['orders'].count() >0" class="date">
          {{!!orderGrouped['today'] ? 'Today' : orderGrouped['timestamp']}}
        </div>
        <pos-default-sales-orders-list-item *ngFor="let order of orderGrouped['orders'];trackBy:trackById" [order]="order" [ordersState]="ordersState"></pos-default-sales-orders-list-item>
      </div>

    </div>
  </div>
</div>
