<div id="delete-url" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content gray-bg ">
      <div class="modal-body">
        <form action="" class="form-horizontal">
          <div class="form-group tac">
            <p>Are you sure you want to delete this url?</p>
          </div>
          <div class="group-btn tac">
            <button type="button" class="btn btn-default" (click)="closePopupModalDeleteUrl()">No</button>
            <button type="button" class="btn btn-primary" (click)="removeBaseUrl()">Yes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- START Add new User page -->
<div class="current-plan-info min-page" *ngIf="!!licenseHasProduct">
  <div class="white-box">
    <div class="box560">
      <div class="title-page">
        <h1>Current plan info</h1>
      </div>
      <form class="js-validation-user form-horizontal" id="plan-detail-form">
        <div class="form-content">
          <div class="form-group">
            <label class="control-label">Product:</label>
            <div class="element">{{product['name']}}</div>
          </div>
          <div class="form-group">
            <label class="control-label">Pricing Plan:</label>
            <div class="element">{{pricing['display_name']}}</div>
          </div>
          <div class="form-group">
            <label class="control-label">Created Date:</label>
            <div class="element">{{licenseHasProduct['purchase_date'] | amCalendar}}</div>
          </div>
          <div class="form-group">
            <label class="control-label">Expiry Date:</label>
            <div class="element error-date">{{licenseHasProduct['expiry_date'] | amCalendar}}</div>
          </div>
          <div class="form-group">
            <label class="control-label">Number of Registers:</label>
            <div class="element">{{licenseHasProduct['addition_entity']}}</div>
          </div>
          <div class="form-group">
            <label class="control-label">Current Billing Cycle:</label>
            <div class="element">{{getBillingCycleName(licenseHasProduct['billing_cycle'])}}</div>
          </div>
          <div class="form-group">
            <label class="control-label pl30">Last Invoice At:</label>
            <div class="element">{{ licenseHasProduct['last_invoice'] ? (licenseHasProduct['last_invoice'] | amCalendar) : "-"}}</div>
          </div>
          <div class="form-group">
            <label class="control-label pl30">Next Invoice At:</label>
            <div class="element">{{licenseHasProduct['next_invoice'] ? (licenseHasProduct['next_invoice'] | amCalendar) : "-"}}
              <!--<a class="link-action">(Error)</a>-->
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Change Version:</label>
            <div class="element s-row">
              <select class="form-control" name="" disabled style="width: auto">
                <option value="">1.0.0 - current</option>
                <option value="">2.0</option>
              </select>
              <a class="link-action">(Version info)</a>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Status:</label>
            <div class="element text-success">Activated</div>
          </div>
        </div>
        <div class="list-of-basedurls">
          <div class="clearfix">
            <div class="table-title pull-left">List of base urls:</div>
            <div class="download-url pull-right"><a class="link-action">Download API Version</a></div>
          </div>
          <table class="table table-bordered table-responsive white-box">
            <thead>
            <tr>
              <th>In use</th>
              <th>Base URL</th>
              <th>API Version</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let baseUrl of licenseHasProduct['base_url']">
              <td>
                <label *ngIf="baseUrl['request'] != true" class="css-input css-checkbox css-checkbox-primary">
                  <input [disabled]="baseUrl['is_valid'] !== true" type="checkbox" name="license_in_use" [(ngModel)]="baseUrl['in_use']"><span></span>
                </label>
              </td>
              <td>
                <span *ngIf="baseUrl['request'] != true" style="word-break: break-all">{{baseUrl['url']}}</span>
                <p *ngIf=" baseUrl['is_valid'] !== true && baseUrl['request'] !== true" class="text-danger">(waiting acceptance)</p>
                <input *ngIf="baseUrl['request'] == true" type="text" class="form-control base-url" name="base-url" placeholder="Enter a URL ..." [(ngModel)]="baseUrl['url']">
              </td>
              <td>{{baseUrl['api_version']}}</td>
              <td>
                <a class="link-action" (click)="openPopupModalDeleteUrl(baseUrl)">Remove</a>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td><a class="link-action" (click)="requestNewBaseUrl(baseUrl)">New</a></td>
            </tr>
            </tbody>
          </table>
        </div>

        <!--<div class="plan-history">-->
        <!--<div class="clearfix">-->
        <!--<div class="table-title pull-left">Plan history</div>-->
        <!--<div class="download-url pull-right">-->
        <!--<button type='button' class="btn btn-default btn-orange">Change plan</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--<table class="table table-bordered table-responsive white-box">-->
        <!--<thead>-->
        <!--<tr>-->
        <!--<th>#</th>-->
        <!--<th>Plan</th>-->
        <!--<th>Starting date</th>-->
        <!--<th>Action</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr>-->
        <!--<td>1</td>-->
        <!--<td>Basic</td>-->
        <!--<td>1 Jan 2018</td>-->
        <!--<td><a href="#" class="link-action">See invoices</a></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--<td>2</td>-->
        <!--<td>Basic</td>-->
        <!--<td>23 Nov 2017</td>-->
        <!--<td><a href="#" class="link-action">See invoices</a></td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->
        <!--</div>-->

        <div class="group-btn tac line-top">
          <button type="button" class="btn btn-default" (click)="routerActions.go('cloud/default/account/license/list')">Back</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
