/* Header */

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 25px;
    z-index: 9;
}

.navbar-default .navbar-nav > li {
    margin: 20px 30px;
    @include tablet {
        margin: 20px 7px;
    }
    > a {
        font-size: 14px;
        color: $navy;
        font-weight: 600;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        padding: 0;
        i {
            font-size: 40px;
            color: $aqua;
            margin-right: 12px;
        }
    }
    &:first-child {
        margin-left: 46px;
        @include tablet {
            margin-left: 0;
        }
    }
}

.navbar-right {
    .user {
        position: relative;
        padding: 10px 20px 10px 60px;  
        //display: flex;
        //align-items: center;
    }
    .img {        
        margin-right: 10px;
        position: absolute;
        left:0;
    }

    img {
        width: 48px;
        height: 48px;
        border-radius: 50%;

    }
    .logout-btn{
        font-weight: bold;
        color: #fff;        
        background: $aqua;
        display: inline-block;
        padding: 2px 5px;
        border-radius: 4px;
        margin: 0;
        bottom: 0;
        left: 116px;
        cursor: pointer;

    }
    .personal-info {
        font-size: 14px;
        font-weight: 700;
        .role {
            color: #4f4f4f;
        }
        .name {
            color: $aqua;
        }
    }
    .bootstrap-select {
        background-color: transparent;
        border: none;
        box-shadow: none;
        text-align: left;
        &.open .dropdown-toggle {
            box-shadow: none;
            background-color: transparent;
        }
        .btn {
            outline: none;
            background-color: transparent;
            border: none;
            padding: 0;
            text-transform: none;
            margin-left: 0;
            .caret {
                top: 10px !important;
                right: 10px !important;
            }
            &:active:focus {
                box-shadow: none;
                background-color: transparent;
                outline: none;
            }
            &:focus {
                outline: none;
            }
        }
        .dropdown-menu {
            box-shadow: none;
            border: none;
            &.open{
               background:rgba(45,185,175,.85);                            
                min-width: 280px;
                border-radius: 10px;
                padding: 10px 10px 20px 10px; 
            }
            
            &.inner{
                background: none;
            }
            li{
                a {
                    color: $white;
                    word-break: break-word;
                    white-space: normal;
                    &:hover,
                    &:focus {
                        background-color:#3fded3;
                        color: $white;
                        font-weight: 400;

                    }
                }
                &.selected{
                    a{
                        background: none;
                        font-weight: bold;

                    }
                }
            }
            
            
            .logout{
                background: #10a499;
                display: inline-block;
                border-radius: 4px;
                padding: 5px 10px;
                margin-top: 15px;
                font-weight: bold;
                margin-left: 13px;
                &:hover{
                    font-weight: bold;
                }
            }
        }
    }
}
