/* Header */

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 25px;
  z-index: 9;
}

.navbar-default .navbar-nav > li {
  margin: 20px 30px;
  @include tablet {
    margin: 20px 7px;
  }
  > a {
    font-size: 14px;
    color: $navy;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0;
    i {
      font-size: 40px;
      color: $aqua;
      margin-right: 12px;
    }
  }
  &:first-child {
    margin-left: 46px;
    @include tablet {
      margin-left: 0;
    }
  }
}

.navbar-right {
  .user {
    position: relative;
    padding: 10px 70px 10px 60px;
    //display: flex;
    //align-items: center;
  }
  .img {
    margin-right: 10px;
    position: absolute;
    left:0;
  }

  img {
    width: 48px;
    height: 48px;
    border-radius: 50%;

  }
  .logout-btn{
    font-weight: bold;
    color: #fff;
    background: $aqua;
    display: inline-block;
    padding: 2px 5px;
    border-radius: 4px;
    margin: 0;
    bottom: 0;
    left: 116px;
    cursor: pointer;

  }
  .personal-info {
    font-size: 14px;
    font-weight: 700;
    .role {
      color: #4f4f4f;
    }
    .name {
      color: $aqua;
    }
  }
  .open .dropdown-toggle {
    box-shadow: none;
    background-color: transparent;
  }
  .btn {
    outline: none;
    background-color: transparent;
    border: none;
    padding: 0;
    text-transform: none;
    margin-left: 0;
    .caret {
      top: 10px !important;
      right: 10px !important;
    }
    &:active:focus {
      box-shadow: none;
      background-color: transparent;
      outline: none;
    }
    &:focus {
      outline: none;
    }
  }
  .dropdown {
    box-shadow: none;
    border: none;
    .bs-caret {
      position: absolute;
      right: -33px;
      top: -10px;

    }
    .caret {
      border-top: 7px dashed;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
    }
    .dropdown-menu {
      background: #e9eef1;
      margin: 0;
      padding: 0;
      border: none;
      right: -51px;
      &::before {
        width: 0;
        height: 0;
        content: "";
        position: absolute;
        top: -8px;
        right: 17px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #e9eef1;
      }
    }
    li{
      padding: 0 30px;
      margin-top: -1px;
      span {
        color: $white;
        display: block;
        word-break: break-word;
        white-space: normal;
        border-bottom: 1px solid #ccd4d9;
        padding: 15px 0;
        color: #333;
      }
      &:hover {
        background: #ccd4d9;
      }
      &.signout{
        background: #3a465c;
        padding: 15px 0;
        text-transform: uppercase;
        text-align: center;
        color: #30a59c;
        font-weight: 600;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      &:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
    }

  }
}
