.sale-reports{
	// filter
    .filter{
		margin-right: 5px;
		.dropdown-toggle,
		.btn-filter-main
		{
			min-width: inherit;
			padding: 10px 13px;
			background: $aqua;
			color: $white;
			margin: 0;
		}
		.btn-filter-main {
			background: #3b4556;
		}
		&.open{
			> .dropdown-toggle{
				&:hover,
				&:focus{
					background: $aqua-light;
				}
			}
		}
		ul.dropdown-menu{
			padding: 10px 0;
			margin: 0;
			min-width: 220px;
			background-color: #e9eef1;
			border: none;
			.remove-filters,
			.filter-all{
				border-bottom: 1px solid $border-color;
				padding-bottom: 0px;
				margin: 5px 0;
				a{
					padding: 0;
					&:hover{
						background: none;
					}
				}
			}
			li{
				padding: 2px 20px;
			}
			&.filter-dropdown{
				li{
					input{
						position: relative;
						z-index: 10;
						opacity: 0;
						width: 20px;
						height: 20px;
					}
					label{
						position: relative;
						margin-left: -25px;
						z-index: 9;
						pointer-events: none;
						padding-left: 25px;
						margin-top: 0px;

						&:before{
							height: 16px;
							width: 16px;
							border: 1px solid #b4b4b4;
							display: inline-block;
							background: #fff;
							content: "";
							display: inline-block;
							position: absolute;
							left: 0;
							top: 4px;
							border-radius: 2px;
							color: #fff;
							padding-left: 2px;
							line-height: 17px;
						}
					}
					input:checked + label:before{
						content: "\f3fd";
						font-family: "ionicons";
						background: #1fa79d;
						font-weight: 300;
						font-size: 22px;
						line-height: 14px;
						text-align: center;
						border-color: #1fa79d;
					}
				}
				.group-btn{
					border-top: 1px solid $border-color;
					padding-top: 15px;
					margin-top: 10px;
					text-align: center;
				}
			}
		}
		&.report-filter {
			.dropdown-menu {
				left: 0;
				padding: 0;
				
				.arrow {
					padding: 0;
					position: absolute;
					top: -20px;
					right: 15px;
					color: #dbe2e6;
					font-size: 20px;
				}
				.search-form {
					padding: 15px;
					background: #dbe2e6;
					border-radius: 5px;
					form {
						position: relative;
					}
					
					input {
						background: #fff;
						height: 30px;
						border-radius: 15px;
						opacity: 1;
						width: 100%;
						border-color: transparent;
						font-size: 13px;
						padding-right: 20px;
					}
					i {
						position: absolute;
						right: 10px;
						z-index: 20;
						top: 4px;
					}
				}
			}
			&.search-filter {
				.dropdown-menu {
					right: 0;
					left: auto;
				}
				
			}
		}
	}

    // end filter
	.datatable-filter-form{
		display: none;
	}
	.database-content{
		max-width:100vw;
		max-height: 100vh;
		margin-bottom: 30px;
		padding-bottom: 10px;
	}
	table.datatable{
		width: 100%;
	    color: #333;
	    border: #e4e3e4 0 solid;
	    border-collapse: collapse;
	    border-spacing: 0;
	    background-color: #fff;
	    border-width: 1px 0 0 1px;
	    border-radius: 7px;
	    font-size: 15px;
	    letter-spacing: 0;
	    font-size: 15px;
	    font-weight: 400;
	    position: relative;

		tbody{
	    	.datatable-row{
		    	&:nth-child(2n+2){
		    		background-color: #f0f0f0;
		    	}
	    	}
	    	&:nth-child(2n+1){
	    		/* background-color: #befaf6; */
	    		.datatable-row{
	    			&:nth-child(2n+2){
			    		background-color: $white;
			    	}
			    	/* &:nth-child(2n+1){
			    		background-color: #f0f0f0;
			    	} */
			    	/* &:first-of-type{
			    		background-color: #f0f4f7;
			    	} */
		    	}
	    	}
	    	&.tbody-lastest{
	    		th,td{
	    			border-bottom-width: 1px;
	    		}
	    	}

		}
	    tr, td, th{
			border: #e4e3e4 1px solid;
			font-weight: 400;
			font-size: 13px;
	    }

	    .datatable-row-aggs-header{
			color: $white;
			background-color: #92a1ab;
			text-align: center;
			font-weight: 300 !important;
	    }
	    .datatable-col-header-row{
			color: $white;
			background-color: #92a1ab;
			border-top-left-radius: 7px;
			border-top-right-radius: 7px;
			height: 50px;
			th{
				font-size: 20px;
				font-weight: 700;
				text-transform: uppercase;
				border-bottom-width: 1px;
				padding-top: 2px;
				text-align: center;
				&:first-child{
					border-top-left-radius: 6px;
				}
				&:last-child{
					border-top-right-radius: 6px;
				}
				&.border{
					border-left-width: 1px;
					border-right-width: 1px;
				}


			}
	    }
	    .datatable-col-labels-row{
			color: #888;
			height: 50px;
			padding-left: 20px;
			th{
				position: relative;
				border-bottom-width: 1px;
				text-align: right;
				padding-right: 14px;
				font-weight: 600;
				&:first-child{
					border-left-width: 1px;
				}
				&:last-child{
					border-right-width: 1px;
				}
				&.datatable-row-label-label{
					padding: 0 20px;
					text-align: left;
					border-left-width: 0;
					font-weight: 700;
				}
				&.datatable-row-label-label--last{
					// padding-right: 54px;
					border-left-width: 1px;
					border-right-width: 1px;
					text-align: center;
				}
				.report-filter{
					border-left: 1px solid #97d4d0 ;
					position: absolute;
					right: 0;
					top: 0;
					height: 100%;
					width: 44px;
					margin-right:0;
					.btn-report-filter{
						height: 100%;
						width: 100%;
						cursor: pointer;
						text-align: center;
						display: flex;
						align-items: center;
						justify-content: center;
						&:focus,
						&:active{
							background: #11b4a8;
							color: $white;
						}
					}
					&.open{
						.btn-report-filter{
							background: #11b4a8;
							color: $white;
							transition: background 300ms ease;
							i:before{
								content: "\f126";
								transition: all 300ms ease;
							}
						}
					}
				}
			}
			.datatable-row-aggs-label--start  {
				border-left-width: 1px;
			}
			.datatable-row-aggs-label{
				background-color: rgba(65,65,65,.02);
				padding-left: 14px;
				text-align: right;
				font-weight: 600;
				cursor: pointer;
				.ion{
					color: $aqua;
				}
			}
	    }

	    tr{
    		height: 50px;
    	}
	    .datatable-row{
    		th,td{
				min-width: 65px;
				padding-right: 14px;
				padding-left: 14px;
				&:last-child{
					border-right-width: 1px;
				}
    		}
    		th{
    			text-align: left;
    		}
    		td{
    			text-align: right;
    			.price-wrap{
    				white-space: nowrap;
    			}
    		}

	    	&:hover{
	    		background-color: #f0f4f7;
	    		.datatable-row-aggs{
	    			background-color: rgba(31,103,152,.08);
	    		}
	    	}
	    	&:first-child{
	    		&.datatable-row--group-start{
	    			th,td{
						border-top-width: 0;
	    			}
	    		}
	    	}
	    	.datatable-row-label{
				color: #1a958b;
				height: 50px;
				padding-left: 20px;
				min-width: 160px;
	    	}
	    	.datatable-row-aggs--start{
	    		border-left-width: 1px;
	    	}
	    }
	    .datatable-col-totals-row{
	    	th{
				text-align: left;
				padding-left: 20px;
				padding-right: 10px;
	    	}
	    	td{
				text-align: right;
				padding-right: 14px;
	    	}
	    	td,th{
				background-color: rgba(65,65,65,.04);
				border-top-width: 1px;
				border-bottom-width: 1px;
				font-size: 14px;
				font-weight: 700;
				&:last-child{
					border-right-width: 1px;
					border-bottom-right-radius: 7px;
				}
	    	}
	    	.datatable-table-total--start{
	    		border-left-width: 1px;
	    	}

	    }
		.datatable-row-col-totals {
			th {
				text-align: left;
				padding-left: 20px;
				padding-right: 10px;
			}
			td {
				text-align: right;
				padding-right: 14px;
			}
			td, th {
				background-color: rgba(65, 65, 65, .04);
				border-top-width: 1px;
				border-bottom-width: 1px;
				font-size: 15px;
				font-weight: 700;
				&:last-child {
					border-right-width: 1px;

					//border-bottom-right-radius: 7px;
				}
			}
			.datatable-row-col-totals--start {
				border-left-width: 1px;
			}
		}
		.total_summary_report {
			background-color: #f0f4f7 !important;
			tr {
				&:last-child {
					border-collapse: collapse !important;
					border-bottom-width: 1px;
					border-bottom-right-radius: 7px;
					color: #333 !important;
					//border-bottom-right-radius: 7px;
				}
			}
		}
	    .datatable-row,
	    .datatable-col-labels-row,
	    .datatable-col-totals-row,
		.datatable-row-col-totals,
	    .datatable-col-aggs-row{
	    	.datatable-cell--section-start{
				padding-left: 15px;
				border-left-width: 1px;
				border-right-width: 1px;
	    	}
	    }
	    .datatable-row--group-start{
			td, th{
				border-top-width: 1px;
			}
	    }
	    //tfoot

	   	.datatable-col-aggs-row{
	   		height: 50px;
	   		th{
	   			&.datatable-col-aggs-header{
					width: 50px;
					height: 150px;
					text-align: center;
					color: $white;
					background-color: #92a1ab;
					font-size: 20px;
					&.expand-w{
						width: 60px;
					}
					&.expand-w-once{
						width: 70px;
						height: 70px;
					}
					.datatable-col-aggs-header-outer{
						text-align: center;
						/* line-height: 50px; */
						position: relative;
						display: inline-block;
						/* height: 100%;
						width: 100%; */
						padding: 3px 0;
						overflow-wrap: normal;
					}
					.datatable-col-aggs-header-inner{
						-webkit-writing-mode: vertical-rl;
						-ms-writing-mode: tb-rl;
						writing-mode: vertical-rl;
						/* padding: 0 25px 0 25px; */
						text-transform: uppercase;
						-webkit-transform: rotate(-180deg);
						transform: rotate(-180deg);
						/* height: 100%;
						width: 100%; */
						font-weight: 300;
						text-align: center;
					}
	   			}
	   		}
	   		&:first-child{
	   			:first-child{
					border-bottom-left-radius: 7px;
					border-bottom-width: 1px;
	   			}
	   		}
	   		.datatable-cell-empty{
				// border-left-width: 1px;
				background-color: #f2f2f2;
	   		}
	   		.datatable-col-aggs-label{
				color: $gray;
				padding-left: 10px;
				padding-right: 10px;
				font-weight: 700;
				line-height: 1.2;

	   		}
	   		.datatable-col-aggs	{
				text-align: right;
				padding-right: 14px;
	   		}
	   		&:last-child{
	   			.datatable-col-aggs,
	   			th{
	   				border-bottom-width: 1px;
	   			}
	   		}

	   	}

   	}// End table


	.panel-filter{
		background:#30a59c;
		border-radius: 4px;
		margin-bottom: 30px;
		padding: 10px 20px;
		@include transition(0.3s);

		.filter-main,
		.select-type-report,
		.select-pay-report,
		.select-card-method,
		.date-range-wrap{
			float: left;
			margin-right: 10px;
			margin-bottom: 0;
		}

		.select-type-report{
			.form-control{
				width: auto;
				border: none;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
			}
		}
		.select-pay-report {
			.form-control {
				border-radius: 4px;
			}
		}
		.select-card-method{
			width: 250px;
			.form-control{
				border-radius: 4px;
			}
		}
		.input-group {
			display: block;
		}
		.input-group-addon {
			border: none;
			background: #e9eef1;
			display: block;
			float: left;
			height: 40px;
			line-height: 28px;
			width: 40px;
		}
		.column-display{
			select{
				width: 100%;
				height: 200px;
			}
			.column-selected{
				.lbl-selected{
					border: 1px solid $aqua;
					padding: 0 5px;
					border-radius: 4px;
					margin: 2px;
					display: inline-block;
					font-size: 13px;
					color: $aqua;
					cursor: pointer;
					&:hover{
						background: $aqua-light;
						color: $white;
					}
				}
			}
		}

		// Date range
		.date-range-wrap{
			position: relative;
			.txt-date-range{
				height: 40px;
				width: 186px;
				border: none;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
			}
			.date-range-content{
				position: absolute;
				top: 42px;
				left: 0;
				min-width: 700px;
				background-color: $white;
				border-radius: 4px;
				z-index: 10;
				border: 1px solid #acacac;
				box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
				-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
				-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175)

			}
			.nav-tabs{
				margin-bottom: 10px;
			}
			.date-selector-tabs{
				padding-top: 10px;
				background-color: $light-gray;

				> li{
					width: 50%;
				}
			}
			.compare-date-panel{
				ul.nav-tabs > li{
					width: 16.6666%;
				}
				.radio-btn{
					padding-bottom: 10px;
					label{
						text-transform: none;
					}
					.form-control{
						width: auto;
						display: inline-block;
						margin: 6px 2px 0;
						padding: 6px 9px;
					}
					.txt-num{
						width: 70px;
					}
					.not-radio{
						padding: 0;
					}

					input.txt-num-count{
						width: 60px;
					    top: 0;
					    left: 54px;
					    position: relative;
					}
					.lbl-count-from{
						padding-left: 0;
						margin-left: 55px;
					}
				}
				.tab-content{
					padding: 0 20px 20px 12px;
				}


			}
			.date-range-panel{
				padding: 20px;
				width: 100%;
				#dateRangerTable{
					@include clearfix;
				}
				.daterangepicker{
					position: relative;
					top: 0 !important;
					left: 0 !important;
					border: none;
					box-shadow: none;
					-webkit-box-shadow: none;
					-moz-box-shadow: none;
					&:before{
						display: none;
					}
					&.show-calendar{
						.calendar{
							max-width: none;
							width: 48%;
							&.right{
								float: right;
								width: 48%;
								border-left: 1px solid $table-border;
								padding-left: 4%;
							}
						}
					}
				}
			}
			.group-btn{
					background-color: $light-gray;
					padding: 30px 20px 30px 33px;
				    margin-bottom: 0;
				    border-radius: 0 0 4px 4px;
				    margin-top: 0;
				    .pull-left{
				    	margin-top: 10px;
				    }
				    .date-value{
				    	font-weight: 700;
				    	font-size: 16px;
				    }
				}
		}

		.fillter-top{
			.pull-left{
				width: calc(100% - 320px);
				> * {
					margin: 10px 10px 10px 0;
				}
			}
			.pull-right{
				width: 305px;
				display: flex;
				button {
					margin: 10px 0 10px 10px;
					&.btn-custom {
						background: transparent;
						border: 2px solid #fff;
						color: #fff;
						padding: 10px 15px;
					}
				}
			}
		}
		//filter-fields
		.filter-fields{
			background-color: #fff;
			padding: 15px 20px;
			margin-top: 15px;
			border-radius: 4px;
			position: relative;
			@include transition(0.3s);
			.icon-arr{
				position: absolute;
				top: -20px;
				left: 12px;
				font-size: 30px;
				color: #fff;
			}
			.form-group{
				margin-bottom: 30px;
				label{
					font-weight: 600;
				}
				.form-control{
					font-weight: 400;
					background-color: #e9eef1;
					&:focus {
						background-color: #d6dde1;
					}
					&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
						color: transparent;
					}
					&::-moz-placeholder { /* Firefox 19+ */
					color: transparent;
					}
					&:-ms-input-placeholder { /* IE 10+ */
					color: transparent;
					}
					&:-moz-placeholder { /* Firefox 18- */
					color: transparent;
					}
				}
				.select2-container {
					.select2-selection--multiple{
						background:$light-gray;
						padding: 2px 12px;
						@include border-radius(4px);
						@include transition(.03s);
						border: 1px solid #ddd !important;
						.select2-selection__choice{
							background:#dbfefb;
						}
						.select2-selection__choice__remove{
							color: $orange;
						}

					}

				}
			}
			.group-btn{
				border-top: 1px solid #d6dde1;
				padding-top: 20px;
				.btn {
					padding: 5px 0;
				} 
				i {
					margin-right: 8px;
					font-size: 20px;
				}
			}

		}

	}


}//End reports

