/* left side bar */

#sidebar {
    position: fixed;
    width: 203px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    @include transition(.28s);
    @include translate3D(-169px, 0, 0);
    overflow-y: auto;
    overflow-x: hidden;
    background: $dark-blue;
    
    .sidebar-header {
        background-color: $aqua;
        .logo {
            padding: 28px;
            display: none;
        }
        .navbar-toggler, .navbar-back {
            float: right;
            cursor: pointer;
            height: 100%;
            padding: 19px 8px;
        }
        .navbar-back{
            background-color: rgba(255, 255, 255, 0.2);
            display: none;
        }
        .ion-navicon, .ion-ios-arrow-back {
            font-size: 25px;
            color: $white;
        }
    }
    li {
        border-top: 1px solid $boder-color-light;
        &.has-child {
            .nav-submenu {
                position: relative;
                &:after {
                    content: "\f489";
                    position: absolute;
                    right: 27px;
                    top: 6px;
                    font-family: "Ionicons";
                    font-size: 25px;
                    font-weight: 900;
                }
            }
            ul {
                margin-bottom: 14px;
                display: none;
            }
            li {
                border: none;
                a {
                    padding: 8px 58px 8px;
                    text-transform: none;
                    color: $smoke;
                    &:hover{
                        cursor: pointer;
                    }
                }
                &:focus{
                    outline: none !important;
                    border: none!important;
                }
            }
            &.open {
                .nav-submenu {
                    //color: $aqua;
                    &:after {
                        content: "\f462";
                    }
                }
                ul {
                    display: block;
                    @include transition(.8s);
                    .active a {
                        //color: $aqua;
                        &:focus{
                            outline: none;
                        }
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    .nav-main a {
        color: $color-menu;
        text-transform: uppercase;
        display: block;
        padding: 14px 10px;
        &:hover {
            color: $green;
        }
        i {
            font-size: 16px;
            margin-right: 10px;
        }
        &.nav-submenu{
            white-space: nowrap;
        }
    }
    .sidebar-pull {
        @include translate3D(170px, 0, 0);
        @include transition(.28s);
    }
    .search-form {
        margin: 14px 0;
        position: relative;
        .ion-ios-search {
            position: absolute;
            right: 10px;
            top: 7px;
            font-size: 16px;
            color: $white-smoke;
        }
        .form-control {
            visibility: hidden;
        }
    }
    &.expand {
        width: 297px;
        @include translate3D(0, 0, 0);
        .sidebar-pull {
            @include translate3D(0, 0, 0);
        }
        .logo {
            display: block;
        }
        .navbar-back{
            display: block;
            padding: 19px 14px;
        }
        .navbar-toggler {
            display: none;
        }
        .search-form {
            margin: 25px 20px;
            .ion-ios-search {
                right: 15px;
            }
            .form-control {
                visibility: visible;
                @include box-shadow(none);
                background-color: transparent;
                border: 1px solid $boder-color-light;
                @include border-radius(20px);
                height: 38px;
                padding-left: 30px;
                padding-right: 30px;
                &::-webkit-input-placeholder {
                    color: #576378;
                    font-size: $font-size-base - 1;
                }
                &:-moz-placeholder {
                    color: #576378;
                    opacity: 1;
                    font-size: $font-size-base - 1;
                }
                &::-moz-placeholder {
                    color: #576378;
                    opacity: 1;
                    font-size: $font-size-base - 1;
                }
                &:-ms-input-placeholder {
                    color: #576378;
                    font-size: $font-size-base - 1;
                }
            }
        }
        .nav-main {
            padding: 0 20px;
             .nav-submenu {           
                color: $smoke;
                .sidebar-mini-hide {
                    color: $white-smoke;
                }
                &:hover{
                    cursor: pointer;
                    color: $green;
                    .sidebar-mini-hide {
                        color: $green;
                    }
                }  
            } 
        }
    }
}
