<span class="icon-link snote-edit" [ngClass]="{open: cartActionBarState.isOpeningNote}" (click)="toggleNote($event)">
            <span class="icon-edit"></span>
            <span class="tooltiptext-bottom">{{"Take note" | translate}}</span>
            <div class="popover-wrapper up right-pos add-note" *ngIf="cartActionBarState.isOpeningNote">
                <div class="p-outer" #noteElem>
                    <div class="p-inner">
                        <textarea placeholder="{{ 'Add note here' | translate }}" [value]="quoteState.info.note"></textarea>
                    </div>
                </div>
            </div>
</span>
