<div id="addNotePopup" class="popup-wrapper animated fadeIn open">
  <div class="popup-content">
    <!-- Add note -->
    <div class="form-popup addNote-form">
      <h2>Add note</h2>
      <div class="form-popup-content">
        <form>
          <div class="form-group">
            <textarea class="form-control" placeholder="Begin your message ..." name="note" [(ngModel)]="note"></textarea>
          </div>
          <div class="button-group">
            <button class="gray" (click)="cartActionBarActions.changeModePopup(null)">Cancel</button>
            <button class="primary" (click)="saveNote()">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="popup-overlay open"></div>
