<div id="onholdOrder" class="popup-wrapper open">
  <div class="popup-content">
    <div class="list-mode-popup onHold-popup">
      <h2>{{ 'Onhold Orders' | translate }}</h2>
      <div class="list-mode-content">
        <div class="list-mode-top clearfix">
          <div class="search-box">
            <span class="icon-search"></span>
            <input placeholder="Search by customer name , email and order's note"
                   type="text"
                   (keyup)="cartActionBarActions.searchOrderOnhold($event.target.value)"
                   inputSelectText>
          </div>
        </div>
        <ul class="list-mode-content">
          <li class="item header">
            <div class="col-item customer">{{ 'Customer' | translate }}</div>
            <div class="col-item order">{{ 'Orders' | translate }}</div>
            <div class="col-item total">{{ 'Total' | translate }}</div>
            <div class="col-item last action">{{ 'Action' | translate}}</div>
          </li>
        </ul>
        <ul class="list-mode-content scroll" perfectScroll>
          <li class="item animated fadeIn" *ngFor="let order of cartActionBarState.orderOnhold">
            <div class="col-item customer">
              <div class="info">
                <h3>{{order['customer']['first_name'] + " " + order['customer']['last_name']}}</h3>
                <div class="date-time">
                  <span>{{order['create_at'] | datetimeFormat:'detail'}}</span>
                </div>
              </div>

            </div>
            <div class="col-item order">
              <div class="icon-noted" [ngClass]="{disabled: !order['note']}">
                  <span class="tooltiptext-right">
                  {{order['note']}}
                  </span>
              </div>

              <ul class="product-list">
                <li *ngFor="let item of cartActionBarService.getOrderOnholdItems(order['items'])">
                  <span *ngIf="!item['buy_request']['custom_sale']">{{item['name']}}</span>
                  <span *ngIf="!!item['buy_request']['custom_sale']">{{item['buy_request']['custom_sale']['name']}}</span>
                </li>
              </ul>
            </div>
            <div class="col-item total">
              <span class="cart-num">{{getTotalItem(order)}}</span>
              <span class="price">
                  {{order['grand_total'] | priceFormat}}
                </span>
            </div>
            <div class="col-item last action">
              <button class="primary" (click)="cartActionBarActions.retrieveOrderOnhold(order)">{{ 'Retrieve' | translate }}</button>
              <span class="icon-trash" (click)="cartActionBarActions.deleteOrderOnhold(order)"></span>
            </div>
          </li>
        </ul>
        <div class="list-mode-bot clearfix">
          <button class="gray pull-right" (click)="cartActionBarActions.changeModePopup(null)">{{ 'Close' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="popup-overlay open"></div>
