<div class="order-row" [ngClass]="{active: item['active_options']}">
  <div class="items">
    <p class="img"><img src="{{!item['origin_image'] ? 'assets/img/no-image1.png' : item['origin_image']}}" alt=""/></p>
    <input class="qty" type="text" *ngIf="!!checkDecimalsQtyItems()" value="{{item['qty_ordered'] | number :'1.2-2'}}" disabled/>
    <input class="qty" type="text" *ngIf="!checkDecimalsQtyItems()" value="{{item['qty_ordered']}}" disabled/>
    <p class="price">
      {{(configState.setting.tax.displaySalesPricesExclTax() ? item['row_total'] : item['row_total_incl_tax'])| priceFormat}}
    </p>
    <div class="product">
      <!--FIX XRT-517 display custom sale in order detail-->
      <h3 *ngIf="!item['buy_request']['custom_sale']">{{item['name']}}</h3>
      <h3 *ngIf="item['buy_request']['custom_sale']">{{item['buy_request']['custom_sale']['name']}}</h3>
      <p *ngIf="!item['buy_request']['custom_sale']">{{item['sku']}}</p>
      <div *ngIf="item['product_options']['attributes_info']">
        <p *ngFor="let attr of item['product_options']['attributes_info']">{{attr['label']|translate}}:{{attr['value']}}</p>
      </div>
    </div>
    <div class="h-pos">
      <span class="click-btn" *ngIf="item['qty_refunded']">{{item['qty_refunded'] | number}} {{ 'refunded' | translate }}</span>
      <span class="click" *ngIf="isHaveOption()" (click)="item['active_options'] = !item['active_options']">{{ 'See Option' | translate }}</span>
    </div>
    <!--div class="h-pos"><span class="click" *ngIf="isHaveOption()" (click)="item['active_options'] = !item['active_options']">See Option</span></div-->
  </div>
  <div class="more-option" *ngIf="isHaveOption()">
    <div *ngIf="item['product_options']['options']">
      <div class="items o-txt" *ngFor="let option of item['product_options']['options']">
        <div class="product">
          <h3>{{option['label']}}</h3>
          <p><em>{{option['value']}}</em></p>
        </div>
      </div>
    </div>
    <div *ngIf="item['children']">
      <div class="items" *ngFor="let group of getBundleChildren()">
        <h3>{{group['label']}}</h3>
        <div class="sup-item" *ngFor="let item of group['items']">
          <p class="price">
            {{(configState.setting.tax.displaySalesPricesExclTax() ? item['row_total'] : item['row_total_incl_tax'])| priceFormat}}
          </p>
          <div class="product">
            <p>
              {{item['qty_ordered'] +" x " +item['name']}}
            </p>
          </div>
          <div class="h-pos" *ngIf="!!item['qty_refunded']">
                        <span class="click-btn">
                            {{item['qty_refunded']}} {{ 'refunded' | translate }}
                    </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
