<header>
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarCollapse">

        <!--<div class="form-group" *ngIf="hasWebsite()">-->
          <!--<label for="baseUrl">{{'Website' | translate}}</label>-->
          <!--<select id="baseUrl" name="baseUrl" class="form-control" [ngModel]="baseUrl" (ngModelChange)="selectWebsite($event)" >-->
            <!--<option value="null">{{'Please select website'| translate}}</option>-->
            <!--<option *ngFor="let item of accountState.urls" [value]="item['url']" [selected]="baseUrl == item['url']">{{item['url']}}</option>-->
          <!--</select>-->
        <!--</div>-->

      <ul class="nav navbar-nav">
        <li>
          <label for="baseUrl">{{'Website' | translate}}</label>
          <select id="baseUrl" name="baseUrl" class="form-control" [ngModel]="baseUrl" (ngModelChange)="selectWebsite($event)" >
          <option value="null">{{'Please select website'| translate}}</option>
          <option *ngFor="let item of accountState.urls" [value]="item['url']" [selected]="baseUrl == item['url']">{{item['url']}}</option>
          </select>
        </li>
      </ul>
      <div class="nav navbar-nav navbar-right">
        <div class="user">
          <div class="img"><img src="assets/img/default-avatar.png" alt="Avatar"></div>
          <div class="personal-info">
            <span class="name">{{accountState.user['username']}}</span>
            <span class="role">({{accountState.user['roles']['cloud_group']}})</span>
          </div>
          <div class="logout-btn" (click)="accountActions.logout()" [ladda]="accountState.isProcessing">
            Logout
            <i class="ion-log-out"></i>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
