<div id="sidebar" style="z-index:10000">
  <div class="sidebar-pull">
    <div class="sidebar-header">
      <a class="logo" title="Logo" href="#">
        <img src="assets/img/logo.png" alt="Logo">
      </a>
      <div class="search-form">
        <form action="" class="form-horizontal">
          <input type="text" placeholder="Search Setting" class="form-control">
        </form>
      </div>
    </div>
    <div class="sidebar-content">
      <ul class="nav-main list-unstyled">
        <!--<li *ngIf="authenticate.isUser(accountState.user)">-->
        <li>
          <a class="nav-submenu" data-toggle="nav-submenu">
            <i class="ion-pie-graph"></i>
            <span class="sidebar-mini-hide" routerLink="/cloud/default/dashboard" routerLinkActive="active">Dashboard</span>
          </a>
        </li>
        <!--<li *ngIf="authenticate.isUser(accountState.user)">-->
        <li>
          <a class="nav-submenu" data-toggle="nav-submenu">
            <i class="ion-social-buffer"></i>
            <span class="sidebar-mini-hide" routerLink="/cloud/default/sale-report" routerLinkActive="active">Sales Report</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
