<div id="sidebar">
  <div class="sidebar-pull">
    <div class="sidebar-header">
      <a class="logo" title="Logo" href="#">
        <img src="assets/img/logo.png" alt="Logo">
      </a>
      <div class="search-form">
        <form action="" class="form-horizontal">
          <input type="text" placeholder="Search Setting" class="form-control">
        </form>
      </div>
    </div>
    <div class="sidebar-content">
      <ul class="nav-main list-unstyled">
        <li *ngIf="authenticate.isAdmin(accountState.user)">
          <a class="nav-submenu" data-toggle="nav-submenu">
            <i class="ion-social-buffer"></i>
            <span class="sidebar-mini-hide" routerLink="/cloud/license-management" routerLinkActive="active">License Management</span>
          </a>
        </li>
        <li *ngIf="authenticate.isAdmin(accountState.user)">
          <a class="nav-submenu" data-toggle="nav-submenu">
            <i class="ion-social-buffer"></i>
            <span class="sidebar-mini-hide" routerLink="/cloud/pricing-management" routerLinkActive="active">Pricing Management</span>
          </a>
        </li>
        <li *ngIf="authenticate.isAdmin(accountState.user)">
          <a class="nav-submenu" data-toggle="nav-submenu">
            <i class="ion-social-buffer"></i>
            <span class="sidebar-mini-hide" routerLink="/cloud/product-management" routerLinkActive="active">Product Management</span>
          </a>
        </li>
        <li *ngIf="authenticate.isUser(accountState.user)">
          <a class="nav-submenu" data-toggle="nav-submenu">
            <i class="ion-social-buffer"></i>
            <span class="sidebar-mini-hide" routerLink="/cloud/general" routerLinkActive="active">General</span>
          </a>
        </li>
        <li *ngIf="authenticate.isUser(accountState.user)">
          <a class="nav-submenu" data-toggle="nav-submenu">
            <i class="ion-pie-graph"></i>
            <span class="sidebar-mini-hide" routerLink="/cloud/dashboard" routerLinkActive="active">Dashboard</span>
          </a>
        </li>
        <li *ngIf="authenticate.isAdmin(accountState.user) || authenticate.userCan('access_to_user_management') || authenticate.userCan('view_edit_create_delete_role')" class="has-child"
            [ngClass]="{openz: router.isActive('/cloud/user-management',false)}">
          <a class="nav-submenu" data-toggle="nav-submenu" (click)="openMenu($event)">
            <i class="ion-android-options"></i>
            <span class="sidebar-mini-hide">User management</span>
          </a>
          <ul class="list-unstyled">
            <li *ngIf="authenticate.isAdmin(accountState.user) || authenticate.userCan('access_to_user_management')" routerLink="/cloud/user-management/users" routerLinkActive="active">
              <a>User</a>
            </li>
            <li *ngIf="authenticate.isAdmin(accountState.user)" routerLinkActive="active">
              <a href="#/cloud/user-management/admins">Admins</a>
            </li>
            <li *ngIf="authenticate.isAdmin(accountState.user)" routerLinkActive="active">
              <a href="#/cloud/user-management/owners">Owners</a>
            </li>
            <li *ngIf="authenticate.isUser(accountState.user) && authenticate.userCan('view_edit_create_delete_role')"
                routerLinkActive="active">
              <a href="#/cloud/user-management/roles">Roles</a>
            </li>
            <!--<li *ngIf="authenticate.isUser(accountState.user) && authenticate.userCan('view_edit_role_permission')" routerLink="/cloud/user-management/permission"
                routerLinkActive="active">
              <a>Permission</a>
            </li>-->
          </ul>
        </li>
        <!--<li class="has-child">
          <a class="nav-submenu" data-toggle="nav-submenu">
            <i class="ion-ios-gear"></i>
            <span class="sidebar-mini-hide">X-pos setting</span>
          </a>
        </li>-->
        <li class="has-child" [ngClass]="{open: router.isActive('cloud/account',false)}">
          <a class="nav-submenu" data-toggle="nav-submenu" (click)="openMenu($event)">
            <i class="ion-person"></i>
            <span class="sidebar-mini-hide">Account</span>
          </a>
          <ul class="list-unstyled">
            <li *ngIf="authenticate.isUser(accountState.user)" routerLinkActive="active">
              <a href="#/cloud/account/license">License</a>
            </li>
            <li *ngIf="authenticate.isUser(accountState.user)" routerLink="/cloud/account/payment-method" routerLinkActive="active">
              <a href="#/cloud/account/payment-method">Payment Methods</a>
            </li>
            <li *ngIf="authenticate.isUser(accountState.user)" routerLinkActive="active">
              <a href="#/cloud/account/invoices-history">Invoices History</a>
            </li>
            <li>
              <a href="#/cloud/account/account-information">Account Information</a>
            </li>
            <li>
              <a href="#/cloud/account/change-password">Change Password</a>
            </li>
          </ul>
        </li>
        <li *ngIf="authenticate.isUser(accountState.user)" class="has-child" [ngClass]="{open: router.isActive('cloud/documentation',false)}">
          <a class="nav-submenu" data-toggle="nav-submenu" routerLink="/cloud/documentation">
            <i class="ion-android-list"></i>
            <span class="sidebar-mini-hide">Documentation</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
