<!-- START Add new User page -->
<div class="addNew min-page add-product-page">
  <div class="row white-box">
    <div class="col-md-10 col-md-offset-1">
      <div class="title-page">
        <h1>
          {{ isEditingProduct() ? "Update Product" : "Create Product"}}
          <span *ngIf="isEditingProduct()">{{product['name']}}</span>
        </h1>
      </div>
      <form class="js-validation-product form-horizontal">
        <div class="form-content">
          <div class="form-group">
            <label class="control-label" for="val-product_code">Product Code</label>
            <div class="element">
              <input type="text" class="form-control" id="val-product_code" name="val-product_code"
                     placeholder="Enter Product Code.." [(ngModel)]="product['code']">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="val-product_name">Product Name</label>
            <div class="element">
              <input type="text" class="form-control" id="val-product_name" name="val-product_name"
                     placeholder="Enter Product Name.." [(ngModel)]="product['name']">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="val-product_des">Description</label>
            <div class="element">
                            <textarea class="form-control" id="val-product_des" name="val-product_des" rows="6"
                                      placeholder="Product's Description Here.." [(ngModel)]="product['description']">
                            </textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="val-pricings">Pricings</label>
            <div class="element">
              <select multiple="true" class="form-control val-pricings" id="val-pricings" style="width: 100%;"
                      name="val-pricings">
                <option *ngFor="let price of prices" [value]="price['_id']" [selected]="isSelectedPrice(price._id)">
                  {{ price['display_name']}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Versions of Product</label>
            <div class="element">
              <button type="button" (click)="resetModalVersion()" class="btn btn-sm add-version" data-toggle="modal" data-target="#modal-product-versions">Add Version</button>
            </div>
          </div>

          <table class="table table-bordered tbl-version" *ngIf="product.versions && product.versions.length > 0">
            <tr>
              <th>Version</th>
              <th>Name</th>
              <th>API Versions</th>
              <th>Path</th>
              <th width="130">Action</th>
            </tr>
            <tr *ngFor="let version of product.versions;let i = index">
              <td>
                {{version.version}}
              </td>
              <td>
                {{version.name}}
              </td>
              <td>
                <code *ngFor="let api of version.api">{{api}}</code>
              </td>
              <td>
                {{version.path}}
              </td>
              <td>
                <button class="btn btn-default" type="button" title="View Version" (click)="editVersion(i)" data-toggle="modal" data-target="#modal-product-versions">
                  <i class="fa fa-eye"></i>
                </button>
                <button class="btn btn-default btn-orange" type="button" title="Remove Version" (click)="removeVersion(version)">
                  <i class="fa fa-times"></i>
                </button>
              </td>
            </tr>
          </table>
        </div>
        <div class="group-btn tac line-top">
          <button type="button" (click)="goBack()" class="btn btn-default">Cancel</button>
          <button type="submit" [ladda]="(productState$ |async)?.processing" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modal for product version -->
<div id="modal-product-versions" class="modal fade" role="dialog">
  <div class="row">

    <!-- Modal content-->
    <div class="col-md-offset-2 col-md-8 modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center">PRODUCT VERSION</h4>
      </div>
      <div class="modal-body">
        <table class="table">
          <tr>
            <th>
              <label for="modal-version-version">Version</label>
            </th>
            <td>
              <input type="hidden" name="modal-version-id" id="modal-version-id" value="-1">
              <input type="text" class="form-control" id="modal-version-version" name="modal-version-version" required placeholder="Version of Product">
            </td>
          </tr>
          <tr>
            <th>
              <label for="modal-version-name">Name</label>
            </th>
            <td>
              <input type="text" class="form-control" id="modal-version-name" name="modal-version-name" required placeholder="Version Name">
            </td>
          </tr>
          <tr>
            <th>
              <label for="modal-version-customers">Customers</label>
            </th>
            <td>
              <select class="form-control" name="modal-version-customers" id="modal-version-customers" required style="margin-bottom: 10px;">
                <option value="all">All Customers</option>
                <option value="specified">Specified Customers</option>
              </select>
              <select multiple="multiple" class="form-control" name="modal-version-specified-customers" id="modal-version-specified-customers" required style="display:none; width: 100%;">
                <option *ngFor="let user of users" value="{{ user }}">
                  {{ user }}
                </option>
              </select>
            </td>
          </tr>
          <tr>
            <th>
              <label for="modal-version-api">API Versions</label>
            </th>
            <td>
              <select multiple="multiple" class="form-control" name="modal-version-api" id="modal-version-api" required style="width: 100%;">
                <option *ngFor="let apiVersion of product.apiVersions" value="{{ apiVersion }}">
                  {{ apiVersion }}
                </option>
              </select>
            </td>
          </tr>
          <tr>
            <th>
              <label for="modal-version-path">Path</label>
            </th>
            <td>
              <input type="text" class="form-control" id="modal-version-path" name="modal-version-path" required placeholder="Path to Folder">
            </td>
          </tr>
          <tr>
            <th>
              <label for="modal-version-descriptions">Descriptions</label>
            </th>
            <td>
              <textarea class="form-control" id="modal-version-descriptions" name="modal-version-descriptions" cols="30" rows="10" placeholder="Descriptions"></textarea>
            </td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary add-version" (click)="addVersion()">Save</button>
      </div>
    </div>

  </div>
</div>
<!-- end -->
