<!-- START Add new User page -->
<div class="addNew min-page add-product-page">
  <div class="row">
    <div class="col-md-12">
      <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
          <ul class="nav nav-tabs">
            <li>
              <a href="#">
                {{ isEditingProduct() ? "Update Product" : "Create Product"}}
              </a>
            </li>
            <li>
              <a href="#">API Management</a>
            </li>
          </ul>
        </div>

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

