
<div class="panel-body">
  <div class="tab-content">
    <div class="tab-pane fade in active" id="tab1default">
      <form class="js-validation-product form-horizontal">
        <div class="form-content">
          <div class="form-group">
            <label class="control-label" for="val-product_code">Product Code</label>
            <div class="element">
              <input type="text" class="form-control" id="val-product_code" name="val-product_code"
                     placeholder="Enter Product Code.." [(ngModel)]="product['code']">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="val-product_name">Product Name</label>
            <div class="element">
              <input type="text" class="form-control" id="val-product_name" name="val-product_name"
                     placeholder="Enter Product Name.." [(ngModel)]="product['name']">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="val-product_des">Description</label>
            <div class="element">
                            <textarea class="form-control" id="val-product_des" name="val-product_des" rows="6"
                                      placeholder="Product's Description Here.." [(ngModel)]="product['description']">
                            </textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="val-pricings">Pricings</label>
            <div class="element">
              <select multiple="true" class="form-control val-pricings" id="val-pricings" style="width: 100%;"
                      name="val-pricings">
                <option *ngFor="let price of prices" [value]="price['_id']" [selected]="isSelectedPrice(price._id)">
                  {{price['display_name']}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Versions of Product</label>
            <div class="element">
              <button type="button" (click)="resetModalVersion()" class="btn btn-sm add-version" data-toggle="modal" data-target="#modal-product-versions">Add Version</button>
            </div>
          </div>

          <table class="table table-bordered tbl-version" *ngIf="product.versions && product.versions.length > 0">
            <tr>
              <th>Version</th>
              <th>Name</th>
              <th>API Versions</th>
              <th>Path</th>
              <th width="130">Action</th>
            </tr>
            <tr *ngFor="let version of product.versions;let i = index">
              <td>
                {{version.version}}
              </td>
              <td>
                {{version.name}}
              </td>
              <td>
                <code *ngFor="let api of version.api">{{api}}</code>
              </td>
              <td>
                {{version.path}}
              </td>
              <td>
                <button class="btn btn-default" type="button" title="View Version" (click)="editVersion(i)" data-toggle="modal" data-target="#modal-product-versions">
                  <i class="fa fa-eye"></i>
                </button>
                <button class="btn btn-default btn-orange" type="button" title="Remove Version" (click)="removeVersion(version)">
                  <i class="fa fa-times"></i>
                </button>
              </td>
            </tr>
          </table>
        </div>
        <div class="group-btn tac line-top">
          <button type="button" (click)="goBack()" class="btn btn-default">Cancel</button>
          <button type="submit" [ladda]="(productState$ |async)?.processing" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modal for product version -->
<div id="modal-product-versions" class="modal fade" role="dialog">
  <div class="row">

    <!-- Modal content-->
    <form id="product-version">
      <div class="col-md-offset-2 col-md-8 modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center">PRODUCT VERSION</h4>
        </div>
        <div class="modal-body">
          <table class="table">
            <tr>
              <th>
                <label for="modal-version-version">Version</label>
              </th>
              <td>
                <input type="hidden" name="modal-version-id" id="modal-version-id" value="-1">
                <input type="text" class="form-control" id="modal-version-version" name="modal-version-version" required placeholder="Version of Product">
              </td>
            </tr>
            <tr>
              <th>
                <label for="modal-version-name">Name</label>
              </th>
              <td>
                <input type="text" class="form-control" id="modal-version-name" name="modal-version-name" required placeholder="Version Name">
              </td>
            </tr>
            <tr>
              <th>
                <label for="modal-version-licenses">Licenses</label>
              </th>
              <td>
                <select class="form-control" name="modal-version-licenses" id="modal-version-licenses" required style="margin-bottom: 10px;">
                  <option value="all">All Licenses</option>
                  <option value="specified">Specified Licenses</option>
                </select>
                <select multiple="multiple" class="form-control" name="modal-version-specified-licenses" id="modal-version-specified-licenses" required style="display:none; width: 100%;">
                  <option *ngFor="let license of licenses" value="{{ license.key }}">
                    {{ license.key + ' | ' + license.shop_owner_username }}
                  </option>
                </select>
              </td>
            </tr>
            <tr>
              <th>
                <label for="modal-version-api">API Versions</label>
              </th>
              <td>
                <select multiple="multiple" class="form-control" name="modal-version-api" id="modal-version-api" required style="width: 100%;">
                  <option *ngFor="let apiVersion of product.apiVersions" value="{{ apiVersion.code }}">
                    {{ apiVersion.code }}
                  </option>
                </select>
              </td>
            </tr>
            <tr>
              <th>
                <label for="modal-version-path">Package</label>
              </th>
              <td>
                <i class="indicator glyphicon glyphicon-folder-open" style="margin-right: 5px;"></i><code id="modal-version-path-display"></code>
                <input type="file" class="form-control" id="modal-version-path" name="modal-version-path" required style="margin-top: 10px;">
              </td>
            </tr>
            <tr>
              <th>
                <label for="modal-version-descriptions">Descriptions</label>
              </th>
              <td>
                <textarea class="form-control" id="modal-version-descriptions" name="modal-version-descriptions" cols="30" rows="10" placeholder="Descriptions"></textarea>
              </td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary modal-add-version" >Save</button>
        </div>
      </div>
    </form>

  </div>
</div>
<!-- end -->
