<div class="items" [ngClass]="{active: isActive()}" (click)="listActions.selectOrderDetail(order)">
  <div class="value">
    <h3 class="status" *ngIf="order['retail_status']">{{orderService.getClientStatus(order['retail_status'])|translate}}</h3>
    <h3 class="status" *ngIf="!order['retail_status']">{{order['status']}}</h3>
    <p class="price">{{order['totals']['grand_total'] | priceFormat}}</p>
  </div>
  <div class="info">
    <h3 class="name">{{order['customer']['name']}}</h3>
    <p class="id">#{{order['retail_id']}}</p>
  </div>
  <span class="offline" *ngIf="!order['order_id']">&nbsp;</span>
  <span class="unsync" *ngIf="order['pushed'] === 3">&nbsp;</span>
</div>
