// Primary colors
$white:       #FFF;
$black:       #000;
$red:         #F00;
$cred:        #F56461;
$cred2:       #E85856;
$refund:      #F36564;
$cyellow:     #A19565;
$cgreen:      #1FA79D;
$cgreen2:     #2DB9B0;
$cblueLight:  #008AE8;
$cblue:       #243958;
$cblueDark:   #113158;
$cblueDeep:   #0A162C;
$corange:     #F3A31E;
$corange2:    #F4A522;
$cbkg:        #F5F5F5;
$cbkg2:       #ECF0F3;
$cinput:      #D2E0EB;
$gray:        #B2B2B2;
$grayLight:   #ECEBEB;
$grayDark:    #414141;
$mainTxt:     #4F4F4F;
$border:      #E0E0E0;
$disable:     #C3C3C3;
$disTxt:      #818181;
$yellow:      #A39665;
$aqua: 		  #37aea6;
$text-gray:   #888888;


//Fonts
$mainFont:    'OpenSans', sans-serif;
$italicFont:  'OpenSans-Italic', sans-serif;
$mediumFont:  'OpenSans-Semibold', sans-serif;
$boldFont:    'OpenSans-Bold', sans-serif;
$blackFont:   'OpenSans-Extrabold', sans-serif;
$lightFont:   'OpenSans-Light', sans-serif;
$icomoon:     'icomoon';

//Size
$sizeS:       13px;
$size:        14px;
$sizeM:       18px;

//Space
$hozSpace:    20px;
$hozmSpace:   26px;
$hoztSpace:   35px;
$hozcSpace:   40px;
$hozlSpace:   58px;

//Width
$w-setting:   1086px;
$w-precent:   63.9824%;

$bp-tablet-h: 1024px;

