<div id="createCustomer" class="popup-wrapper open animated fadeIn">
  <div class="popup-content">
    <div class="create-customer">
      <div class="tabs-blk">


        <ul class="tabs-header">
          <li [ngClass]="{active: checkoutPopupState.customerPopup.billingTabState === 'accountInfo'}" (click)="changeBillingState('accountInfo')">
            {{ 'Account Information' | translate }}
          </li>
          <li [ngClass]="{active: checkoutPopupState.customerPopup.billingTabState === 'address'}" (click)="changeBillingState('address')">
            {{ 'Address' | translate }}
          </li>
          <!-- <li>Others</li> -->
          <li [ngClass]="{active: checkoutPopupState.customerPopup.billingTabState === 'others',disabled: !checkoutPopupState.customerPopup.customer || !checkoutPopupState.customerPopup.customer['id']}" (click)="changeBillingState('others')">
            {{ 'Others' | translate }}
          </li>
        </ul>


        <div id="accountInfo" class="tabs-content d-show" *ngIf="checkoutPopupState.customerPopup.billingTabState === 'accountInfo'">
          <div class="inner" #perfect>
            <form class="acc-info">
              <ul class="fr-control">
                <li>
                  <label class="require">{{ 'First Name' | translate }}*</label>
                  <retail-text [(model)]="checkoutPopupState.customerPopup.customer['first_name']" [validation]="'required'" [formKey]="'pos-address-form-' + type">
                  </retail-text>
                </li>
                <li>
                  <label class="require">{{ 'Last Name' | translate }}*</label>
                  <retail-text [(model)]="checkoutPopupState.customerPopup.customer['last_name']" [validation]="'required'" [formKey]="'pos-address-form-' + type">
                  </retail-text>
                </li>
                <li>
                  <label class="require">Email*</label>
                  <retail-text [(model)]="checkoutPopupState.customerPopup.customer['email']" [validation]="'required,email'" [formKey]="'pos-address-form-' + type">
                  </retail-text>
                </li>
                <li>
                  <label>{{ 'Group' | translate }}*</label>
                  <retail-select [elementData]="getCustomerGroupsSelect()" [(model)]="checkoutPopupState.customerPopup.customer['customer_group_id']" [validation]="'required'" [formKey]="'pos-address-form-' + type">
                  </retail-select>
                </li>
                <li>
                  <label class="require">{{ 'Telephone' | translate }}</label>
                  <retail-text [(model)]="checkoutPopupState.customerPopup.customer['telephone']" [formKey]="'pos-address-form-' + type">
                  </retail-text>
                </li>
              </ul>
            </form>
          </div>
        </div>


        <div id="address" class="tabs-content d-show" *ngIf="checkoutPopupState.customerPopup.billingTabState === 'address'">
          <pos-default-sales-checkout-popup-customer-detail-address [checkoutPopupState]="checkoutPopupState" [quoteState]="quoteState" [posConfigState]="posConfigState">
          </pos-default-sales-checkout-popup-customer-detail-address>
        </div>


        <div id="others" class="tabs-content d-show" *ngIf="checkoutPopupState.customerPopup.billingTabState === 'others'">
          <div class="inner">
            <div class="badge-note">
              <div class="badge-ico">
                <p>{{ 'Lifetime Sales' | translate }}: <span class="txt-green">${{checkoutPopupState.customerPopup.customerOtherInfo['life_time_sales']}}</span>
                </p>
                <p>{{ 'Available Points Balance' | translate}}: <span class="txt-green">{{checkoutPopupState.customerPopup.customerOtherInfo['rp_point_balance'] ? checkoutPopupState.customerPopup.customerOtherInfo['rp_point_balance'] : 0}} {{ 'points' | translate }}</span>
                </p>
              </div>
            </div>
            <div class="wishlist">
              <div class="wl-title">
                <h6>{{ 'Wish list' | translate }}</h6>
                <div class="number-item">
                  <span class="txt-green">{{checkoutPopupState.customerPopup.customerOtherInfo['wishlistItems'].count()}}</span>
                  {{ 'item(s)' | translate }} {{ 'in' | translate }} {{ 'Wish list' | translate }}
                </div>
              </div>
              <div class="desc-bottom">
                <button [ngClass]="{'orange' : checkoutPopupState.customerPopup.wishlistItemSelected.count()> 0}" (click)="addSelectedWishlistToCart()">
                  {{ "Add To Cart" | translate }}
                </button>
              </div>
            </div>
            <div class="wl-table" perfectScroll>
              <table>
                <thead>
                <tr>
                  <th>
                    <div>
                      <span></span>{{ "Item Name" | translate }}
                    </div>
                  </th>
                  <th>{{ 'Price' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr class="graybg"
                    *ngFor="let wishlist of checkoutPopupState.customerPopup.customerOtherInfo['wishlistItems']">
                  <td>
                    <div class="check-box" (click)="selectedWishlistItem(wishlist)">
                      <input type="checkbox" [checked]="isSelectedWishlist(wishlist)"/>
                      <span></span>{{wishlist['product']['name']}}
                    </div>
                  </td>
                  <td>{{wishlist['product']['price'] | priceFormat}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <div class="desc-bottom" *ngIf="checkoutPopupState.customerPopup.billingTabState === 'accountInfo'">
        <button class="gray" (click)="cancelForm()" [ladda]="checkoutPopupState.customerPopup.isSaving">{{ 'Cancel' | translate }}</button>
        <button (click)="save()" [ladda]="checkoutPopupState.customerPopup.isSaving">
          {{!checkoutPopupState.customerPopup.customer.getId() ? 'Create new' : 'Save'}}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="popup-overlay open"></div>
