<div class="form-popup" [ngClass]="{'new-address-shipment': isShippingPopup()}">
  <div class="form-popup-top" *ngIf="isShippingPopup()">
    <h2>New address</h2>
  </div>
  <div class="form-popup-content">
    <form>
      <div class="content-scroll" perfectScroll>
        <div class="row">
          <div class="form-group col-sm-6">
            <label class="require">{{ 'First Name' | translate }}*</label>
            <retail-text [(model)]="address['first_name']"
                         [formKey]="'pos-address-form-' + type"
                         [validation]="'require'"></retail-text>
          </div>
          <div class="form-group col-sm-6">
            <label class="require">{{ 'Last Name' | translate }}*</label>
            <retail-text [(model)]="address['last_name']"
                         [formKey]="'pos-address-form-' + type"
                         [validation]="'require'"></retail-text>
          </div>
        </div>
        <div class="row">
          <div class="form-group" [ngClass]="{'col-sm-12': posConfigState.setting.customer.getStreetLines() === 1,'col-sm-6': posConfigState.setting.customer.getStreetLines() != 1}">
            <label>{{ 'Street' | translate }}*</label>
            <retail-text [(model)]="address['street'][0]"
                         [formKey]="'pos-address-form-' + type"
                         [validation]="'require'"></retail-text>
          </div>
          <div class="form-group col-sm-6" *ngIf="posConfigState.setting.customer.getStreetLines() >= 2">
            <label>{{ 'Street2' | translate }}</label>
            <retail-text [(model)]="address['street'][1]"></retail-text>
          </div>
          <div class="form-group col-sm-6" *ngIf="posConfigState.setting.customer.getStreetLines() >= 3">
            <label>{{ 'Street3' | translate }}</label>
            <retail-text [(model)]="address['street'][2]"></retail-text>
          </div>
          <div class="form-group col-sm-6" *ngIf="posConfigState.setting.customer.getStreetLines() >= 4">
            <label>{{ 'Street4' | translate }}</label>
            <retail-text [(model)]="address['street'][3]"></retail-text>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-4">
            <label>{{ 'Country' | translate }}*</label>
            <retail-select2 [elementData]="getCountrySelectElem()"
                            [(model)]="address['country_id']" (modelChange)="changeCountry($event)"
                            [formKey]="'pos-address-form-' + type"
                            [validation]="'require'">
            </retail-select2>
          </div>
          <div class="form-group col-sm-4" *ngIf="hasRegion">
            <label class="require">{{ 'State' | translate }}/ {{ 'Province' | translate }}*</label>
            <retail-select2 [elementData]="getRegionSelect(address['country_id'])"
                            [(model)]="address['region_id']"
                            [formKey]="'pos-address-form-' + type"
                            [validation]="'require'"></retail-select2>
          </div>
          <div class="form-group col-sm-4" *ngIf="!hasRegion">
            <label class="require">{{ 'State' | translate }}/ {{ 'Province' | translate }}</label>
            <retail-text [(model)]="address['region']"
                         [formKey]="'pos-address-form-' + type"></retail-text>
          </div>
          <div class="form-group col-sm-4">
            <label class="require">{{ 'City' | translate }}*</label>
            <retail-text [(model)]="address['city']"
                         [formKey]="'pos-address-form-' + type"
                         [validation]="'require'"></retail-text>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-sm-6">
            <label class="require">{{ 'Telephone' | translate }}*</label>
            <retail-text [(model)]="address['telephone']"
                         [formKey]="'pos-address-form-' + type"
                         [validation]="'require'"></retail-text>
          </div>
          <div class="form-group col-sm-6">
            <label>{{ 'Zip' | translate }}/ {{ 'Postal Code' | translate }}*</label>
            <retail-text [(model)]="address['postcode']"
                         [formKey]="'pos-address-form-' + type"
                         [validation]="'require'"></retail-text>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="checkbox-input">
              <input type="checkbox" name="saveToAddressBook" id="add-address"
                     [(ngModel)]="address['isSaveToAddressBook']">
              <label for="add-address">Add to address book</label>
            </div>
          </div>
        </div>
      </div>
      <div class="button-group" *ngIf="isShippingPopup()">
        <button class="gray" (click)="closePopup()">Cancel</button>
        <button class="primary">Save</button>
      </div>
    </form>
  </div>
</div>
