<div class="list-mode-popup shipment-list-popup">
  <h2>Add shipment</h2>
  <div class="list-mode-content">
    <div class="list-mode-top clearfix">
      <div class="pull-left">
        <label>Shipment Amount:</label>
        <input type="text">
      </div>
      <div class="pull-right">
        <button class="orange">New Address</button>
      </div>
    </div>
    <ul class="list-mode-content">
      <li class="item header">
        <div class="col-item name">Name</div>
        <div class="col-item address">Address</div>
        <div class="col-item zipcode">Zip code</div>
        <div class="col-item last edit">Edit</div>
      </li>
    </ul>
    <ul class="list-mode-content scroll" perfectScroll>
      <li class="item">
        <div class="col-item name">
          <div class="radio-input">
            <input type="radio" name="shipment-item">
            <label></label>
          </div>
          <div class="info">
            <h3>sydney Opera House</h3>
            <div class="phone">
              <strong>Phone:</strong> (+61) 2-950-7111
            </div>
          </div>

        </div>
        <div class="col-item address">
          167 Bennelong Point, Sydney NSW 2000, Australia
        </div>
        <div class="col-item zipcode">
          736-1610
        </div>
        <div class="col-item last edit">
          <span class="icon-edit"></span>
        </div>
      </li>
      <li class="item">
        <div class="col-item name">
          <div class="radio-input">
            <input type="radio" name="shipment-item">
            <label></label>
          </div>
          <div class="info">
            <h3>sydney Opera House</h3>
            <div class="phone">
              <strong>Phone:</strong> (+61) 2-950-7111
            </div>
          </div>

        </div>
        <div class="col-item address">
          167 Bennelong Point, Sydney NSW 2000, Australia
        </div>
        <div class="col-item zipcode">
          736-1610
        </div>
        <div class="col-item last edit">
          <span class="icon-edit"></span>
        </div>
      </li>
      <li class="item">
        <div class="col-item name">
          <div class="radio-input">
            <input type="radio" name="shipment-item">
            <label></label>
          </div>
          <div class="info">
            <h3>sydney Opera House</h3>
            <div class="phone">
              <strong>Phone:</strong> (+61) 2-950-7111
            </div>
          </div>

        </div>
        <div class="col-item address">
          167 Bennelong Point, Sydney NSW 2000, Australia
        </div>
        <div class="col-item zipcode">
          736-1610
        </div>
        <div class="col-item last edit">
          <span class="icon-edit"></span>
        </div>
      </li>
      <li class="item">
        <div class="col-item name">
          <div class="radio-input">
            <input type="radio" name="shipment-item">
            <label></label>
          </div>
          <div class="info">
            <h3>sydney Opera House</h3>
            <div class="phone">
              <strong>Phone:</strong> (+61) 2-950-7111
            </div>
          </div>

        </div>
        <div class="col-item address">
          167 Bennelong Point, Sydney NSW 2000, Australia
        </div>
        <div class="col-item zipcode">
          736-1610
        </div>
        <div class="col-item last edit">
          <span class="icon-edit"></span>
        </div>
      </li>
    </ul>
    <div class="list-mode-bot clearfix">
      <button class="primary pull-right">Add shipment</button>
    </div>
  </div>
</div>
