<div class="list-mode-popup" [ngClass]="{'shipment-list-popup': isShippingPopup()}">
  <h2 *ngIf="isShippingPopup()">Add shipment</h2>
  <div class="list-mode-content">
    <div class="list-mode-top clearfix">
      <div class="pull-left">
        <div class="" *ngIf="isShippingPopup()">
          <label>Shipment Amount:</label>
          <input type="text" [(ngModel)]="shippingAmount" inputSelectText>
        </div>
        <h3 class="title" *ngIf="!isShippingPopup()">Address list</h3>
      </div>
      <div class="pull-right">
        <button class="orange" (click)="addEditAddress({})">New Address</button>
      </div>
    </div>
    <ul class="list-mode-content scroll" perfectScroll>
      <li class="item" *ngFor="let address of checkoutPopupState.customerPopup.customer['address']">
        <div class="col-item name">
          <div class="radio-input">
            <input type="radio" [(ngModel)]="currentAddressId" name="address-item" value="{{address['id']}}">
            <label></label>
          </div>
          <div class="info">
            <h3>{{address['first_name'] + ' ' + address['last_name']}}</h3>
            <div class="phone">
              <strong>{{ 'Tel' | translate}}:</strong> {{address['telephone'] ? address['telephone'] : 'NULL'}}
            </div>
          </div>

        </div>
        <div class="col-item address">
          {{getCustomerFullAddress(address)}}
        </div>
        <div class="col-item last edit click" (click)="addEditAddress(address)">
          <span class="icon-edit-1"></span>
        </div>
      </li>
    </ul>
    <div class="list-mode-bot c-center" *ngIf="isShippingPopup()">
      <button class="gray" *ngIf="quoteState.hasShipment === true" (click)="removeShipping()">Remove shipment</button>
      <button class="primary" (click)="addShipment()">
        {{quoteState.hasShipment === true ? ('Update shipment' | translate) : ('Add shipment' | translate)}}
      </button>

    </div>
    <div class="list-mode-bot c-center" *ngIf="!isShippingPopup()">
      <button class="primary" (click)="updateAddress()">Close</button>
    </div>
  </div>
</div>
