<div class="outlets" *ngIf="entitiesState.outlet.items.count()>0">
  <div *ngFor="let outlet of getEnableOutletOrRegister(entitiesState.outlet.items); let i = index;">
    <div class="outlet-list" *ngIf="getEnableOutletOrRegister(outlet['registers'],false).length > 0">
      <div class="oulet-index" id="outlet-index">
        <i class="icon-outlet"></i>
        <span class="outlet-title">{{outlet['name']}}</span>
      </div>
      <ul>
        <li class="item" *ngFor="let register of getEnableOutletOrRegister(outlet['registers'],false); let i=index;"
            id="{{i == 0 ? 'register-index': ''}}">
          <div class="click" (click)="selectOutletAndRegister(outlet['id'],register['id'])">
									<span class="icon-reg-bg">
									<i class="icon-reg"></i>
									</span>
            <span class="title">{{register['name']}}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
