<div class="row" style="margin-top: 100px;">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-lg-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Pull Entity</h3>
      </div>
      <div class="panel-body">
        <form>
          <div class="form-group">
            <label for="action">Action</label>
            <input type="text" class="form-control" name="action" id="action" [(ngModel)]="data['action']" placeholder="Action...">
          </div>
          <div class="form-group">
            <label for="payload">Entity</label>
            <input type="text" class="form-control" name="payload" id="payload" [(ngModel)]="data['payload']['entityCode']" placeholder="Action...">
          </div>


          <button (click)="dispatch()" class="form-control btn btn-primary">Pull</button>
        </form>
      </div>
    </div>
  </div>
</div>
