<div class="row" style="margin-top: 100px;">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-lg-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
      </div>
      <div class="panel-body">
        <form>
          <div class="form-group">
            <label for="action">Action</label>
            <input type="text" class="form-control" name="action" id="action" placeholder="Action...">
          </div>


          <button type="submit" class="form-control btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
