<div class="outlet-page" perfectScroll>
  <div class="page-inner">
    <div class="page-title"><h1>{{'Select register' | translate}}</h1></div>
    <div class="container">
      <div class="outlet-wrap">
        <div class="domain-list">
          <pos-default-outlet-register [generalState]="generalState$ | async" [pullState]="pullState$ | async"
                                       [entitiesState]="entitiesState$ | async"></pos-default-outlet-register>
        </div>
      </div>
    </div>
  </div>
</div>

