<div class="outlet-page" perfectScroll>
  <div class="page-inner">
    <div class="page-title"><h1>{{'Select register' | translate}}</h1></div>
    <div class="container">
      <div class="outlet-wrap">
        <div class="domain-list">

          <pos-default-outlet-register-website [generalState]="generalState$ | async" [pullState]="pullState$ | async"></pos-default-outlet-register-website>

          <pos-default-outlet-register-outlets [entitiesState]="entitiesState$ | async" [pullState]="pullState$ | async"></pos-default-outlet-register-outlets>

        </div>
      </div>
    </div>
  </div>
</div>

