<div class="col-lg-4">
  <!-- Main Dashboard Chart -->
  <div class="block">
    <div class="block-header">
      <ul class="block-options">
        <li>
          <!--<button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>-->
          <span
            *ngIf="widgetData.type == 'revenue' || widgetData.type=='discount' || widgetData.type=='average_sales'" class="amount-label">{{_totals |
            priceFormat}}
          </span>
          <span *ngIf="widgetData.type == 'discount_percent'" class="amount-label">{{_totals + "%"}}</span>
          <span *ngIf="widgetData.type == 'customer_count' || widgetData.type == 'quantity'" class="amount-label">{{_totals}}</span>
        </li>
      </ul>
      <h3 class="block-title">{{widgetData.name}}</h3>
    </div>
    <div class="block-content block-content-full bg-gray-lighter text-center">
      <div>
        <canvas #dashChartLine class="dash-chart"></canvas>
      </div>
      <div>
        <br>
        <br>
        <br>
      </div>
      <div>
        <canvas #dashChartBar class="dash-chart"></canvas>
      </div>
    </div>
  </div>
</div>
