<div class="retail-dashboard">
	<div class="dashboard-date-content">
		<div class="clearfix">
			<div class="pull-left gray-bg dashboard-row">
				<div class="dashboard-heading">
					<h1>Retail Dashboard</h1>
				</div>
			</div>
			<div class="pull-right dashboard-actions">
        <dashboard-granularity></dashboard-granularity>
				<!--<ul class="button-group granularity-selector">-->
					<!--<li *ngFor="let period of getListTimePeriodPicker()['data']">-->
						<!--<a class="button" [ngClass]="{secondary: getPeriodValue() == period.value}" (click)="setGranularity(period.value)"> {{period.label}} </a>-->
					<!--</li>-->
				<!--</ul>-->
				<!--<ul class="button-group">-->
					<!--<li>-->
						<!--<a class="button secondary">-->
							<!--<i class="ion-ios-arrow-left"></i>-->
						<!--</a>-->
					<!--</li>-->
					<!--<li>-->
						<!--<a class="button date day"> <strong>4th Dec 2017</strong> </a>-->
					<!--</li>-->
					<!--<li>-->
						<!--<a class="button">-->
							<!--<i class="ion-ios-arrow-right"></i>-->
						<!--</a>-->
					<!--</li>-->
				<!--</ul>-->
				<ul class="button-group">
					<li><span>Scope:</span></li>
					<li *ngFor="let scope of getListScope()['data']">
						<a class="button" [ngClass]="{secondary: getScopeValue() == scope.value}" (click)="changeScopeValue(scope.value)">{{scope.label}}</a>
						<!--<a class="button" [ngClass]="{secondary: getScopeValue() == scope.value}" >{{scope.label}}</a>-->
            <!--//test-->
            <!--<report-select style="display: none" [elementData]="getListScope()"-->
                           <!--[(model)]="getDataFilter()['scope']"-->
                           <!--(modelChange)="dashboardReportService.getDashboardReport()">-->
            <!--</report-select>-->
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!--<div class="dashboard-primary-content">-->
		<!--<div class="dashboard-container clearfix">-->
			<!--<div class="retail-dashboard-chart">-->
				<!--<div class='widget'>-->
					<!--<h1>Revenue</h1>-->
					<!--<h2>$479</h2>-->
					<!--<h3 class="neutral">-->
						<!--<div class="change">No change</div>-->
						<!--<div class="relation">Previous Day</div>-->
					<!--</h3>-->
					<!--<div class="bar-chart">Bar chart</div>-->
					<!--<div class="chart-line-time">Chart line time</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="retail-dashboard-chart">-->
				<!--<div class='widget'>-->
					<!--<h1>Revenue</h1>-->
					<!--<h2>$479</h2>-->
					<!--<h3 class="negative">-->
						<!--<div class="change">Up</div>-->
						<!--<div class="relation">Previous Day</div>-->
					<!--</h3>-->
					<!--<div class="bar-chart">Bar chart</div>-->
					<!--<div class="chart-line-time">Chart line time</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="retail-dashboard-chart">-->
				<!--<div class='widget'>-->
					<!--<h1>Revenue</h1>-->
					<!--<h2>$479</h2>-->
					<!--<h3 class="positive">-->
						<!--<div class="change">Up</div>-->
						<!--<div class="relation">Previous Day</div>-->
					<!--</h3>-->
					<!--<div class="bar-chart">Bar chart</div>-->
					<!--<div class="chart-line-time">Chart line time</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="retail-dashboard-chart">-->
				<!--<div class='widget'>-->
					<!--<h1>Revenue</h1>-->
					<!--<h2>$479</h2>-->
					<!--<h3 class="positive">-->
						<!--<div class="change">Up</div>-->
						<!--<div class="relation">Previous Day</div>-->
					<!--</h3>-->
					<!--<div class="bar-chart">Bar chart</div>-->
					<!--<div class="chart-line-time">Chart line time</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="retail-dashboard-chart">-->
				<!--<div class='widget'>-->
					<!--<h1>Revenue</h1>-->
					<!--<h2>$479</h2>-->
					<!--<h3 class="negative">-->
						<!--<div class="change">Up</div>-->
						<!--<div class="relation">Previous Day</div>-->
					<!--</h3>-->
					<!--<div class="bar-chart">Bar chart</div>-->
					<!--<div class="chart-line-time">Chart line time</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="retail-dashboard-chart">-->
				<!--<div class='widget'>-->
					<!--<h1>Revenue</h1>-->
					<!--<h2>$479</h2>-->
					<!--<h3 class="neutral">-->
						<!--<div class="change">No change</div>-->
						<!--<div class="relation">Previous Day</div>-->
					<!--</h3>-->
					<!--<div class="bar-chart">Bar chart</div>-->
					<!--<div class="chart-line-time">Chart line time</div>-->
				<!--</div>-->
			<!--</div>-->
			<!--<div class="retail-dashboard-chart">-->
				<!--<div class='widget'>-->
					<!--<h1>Revenue</h1>-->
					<!--<h2>$479</h2>-->
					<!--<h3 class="negative">-->
						<!--<div class="change">Up</div>-->
						<!--<div class="relation">Previous Day</div>-->
					<!--</h3>-->
					<!--<div class="bar-chart">Bar chart</div>-->
					<!--<div class="chart-line-time">Chart line time</div>-->
				<!--</div>-->
			<!--</div>-->

		<!--</div>-->
	<!--</div>-->
  <div class="dashboard-primary-content">
    <div class="dashboard-container clearfix">
      <retail-dashboard-chart [typeChart]="typeChart.value"
                              [data_view]="getViewData(typeChart.value)"
                              [period]="getPeriodValue()"
                              *ngFor="let typeChart of getListTypeChart()['data']; trackBy:trackByValue"
                              class="retail-dashboard-chart-container"></retail-dashboard-chart>
    </div>
  </div>
	<div class="dashboard-secondary-content">
		<div class="dashboard-database">
			<h2>Products sold</h2>
			<div class="filter-select">
				<span>Show product's variants</span>
				<select name="" id="">
					<option value="no">No</option>
					<option value="yes">Yes</option>
				</select>
			</div>
			<table class="datatable">
				<thead>
					<tr>
						<th colspan="2">Product</th>
						<th class="datatable-sorting-down"><a>Revenue</a></th>
						<th><a>Items Sold</a></th>
						<th><a>Discount</a></th>
						<th>Trend</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th colspan="2"><a href="#" target="_blank">Running Shoes / 10</a></th>
						<td>$216<span class="decimals">.00</span></td>
						<td>2</td>
						<td>$24<span class="decimals">.00</span></td>
						<td>
							<product-trend></product-trend>
						</td>
					</tr>
					<tr>
						<th colspan="2"><a href="#" target="_blank">Sports Bag</a></th>
						<td>$126<span class="decimals">.00</span></td>
						<td>3</td>
						<td>$9<span class="decimals">.00</span></td>
						<td>
              <product-trend></product-trend>
						</td>
					</tr>
					<tr>
						<th colspan="2"><a href="#" target="_blank">Soccer Ball</a></th>
						<td>$85<span class="decimals">.00</span></td>
						<td>4</td>
						<td>$15<span class="decimals">.00</span></td>
						<td>
              <product-trend></product-trend>
						</td>
					</tr>
					<tr>
						<th colspan="2"><a href="#" target="_blank">Team Jersey / Blue / Medium</a></th>
						<td>$52<span class="decimals">.00</span></td>
						<td>1</td>
						<td>$13<span class="decimals">.00</span></td>
						<td>
              <product-trend></product-trend>
						</td>
					</tr>
					<tr>
						<th colspan="2"><a href="#" target="_blank">Jean For Film</a></th>
						<td>$0<span class="decimals">.00</span></td>
						<td>1</td>
						<td>$0<span class="decimals">.00</span></td>
						<td>
              <product-trend></product-trend>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="datatable-no-results"> No data available for this period. </div>
			<div class="view-full-report"> View full report </div>
		</div>
	</div>
	<div class="dashboard-secondary-content">
		<div class="dashboard-database">
			<h2>TOP SALES PEOPLE</h2>
			<table class="datatable">
				<thead>
					<tr>
						<th colspan="2">Product</th>
						<th><a>Revenue</a></th>
						<th><a>Items Sold</a></th>
						<th class="datatable-sorting-up"><a>Discount</a></th>
						<th>Trend</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th colspan="2"><a href="#" target="_blank">Running Shoes / 10</a></th>
						<td>$216<span class="decimals">.00</span></td>
						<td>2</td>
						<td>$24<span class="decimals">.00</span></td>
						<td>
							bbb
						</td>
					</tr>
					<tr>
						<th colspan="2"><a href="#" target="_blank">Sports Bag</a></th>
						<td>$126<span class="decimals">.00</span></td>
						<td>3</td>
						<td>$9<span class="decimals">.00</span></td>
						<td>
							bbb
						</td>
					</tr>
					<tr>
						<th colspan="2"><a href="#" target="_blank">Soccer Ball</a></th>
						<td>$85<span class="decimals">.00</span></td>
						<td>4</td>
						<td>$15<span class="decimals">.00</span></td>
						<td>
							bbb
						</td>
					</tr>
					<tr>
						<th colspan="2"><a href="#" target="_blank">Team Jersey / Blue / Medium</a></th>
						<td>$52<span class="decimals">.00</span></td>
						<td>1</td>
						<td>$13<span class="decimals">.00</span></td>
						<td>
							bbb
						</td>
					</tr>
					<tr>
						<th colspan="2"><a href="#" target="_blank">Jean For Film</a></th>
						<td>$0<span class="decimals">.00</span></td>
						<td>1</td>
						<td>$0<span class="decimals">.00</span></td>
						<td>
							bbb
						</td>
					</tr>
				</tbody>
			</table>
			<div class="datatable-no-results"> No data available for this period. </div>
			<div class="view-full-report"> View full report </div>
		</div>
	</div>
</div>
