.dashboard-row {
  max-width: none;
  width: auto;
  margin: 0 60px;
}
.dashboard-heading {
  float: left;
}
.dashboard-actions {
  float: right;
  width: 50%;
  margin: 10px auto;
}
.button-group {
  list-style: none;
  margin: 0;
  left: 0;
  display: inline-block;
  vertical-align: middle;
  line-height: inherit;
}



