.left-menu-side {
  position: fixed; top: 0; left: -280px;
  width: 280px; height: 100%;
  font-family: $mediumFont;
  font-size: $sizeS; color: #D2D4DA;
  background: $cblueDeep;
  z-index: 9997;
  @include single-transition(all,0.3s);
  @include tablet {
    @include single-transition(all,0);
  }
  .search {
    padding: 31px 20px 10px;
    input[type="text"] {
      color: #D2D4DA; font-size: 13px;
      background: transparent;
      border: #2F384A solid 1px;
      height: 33px; line-height: 31px; padding: 0 30px;
      @include border-radius(16px);
      &:focus:not([readonly]) {
        border: #7C8089 solid 1px;
        background: transparent;
        @include box-shadow(none);
      }
      &::-webkit-input-placeholder {color: #353E4D;}
      &:-moz-placeholder {color: #353E4D;}
      &::-moz-placeholder {color: #353E4D;}
      &:-ms-input-placeholder {color: #353E4D;}
    }
      button {
          color: #D2D4DA; font-size: 13px;
          background: transparent;
          border: #2F384A solid 1px;
          height: 33px; line-height: 31px; padding: 0 30px;
          @include border-radius(16px);
          &:focus:not([readonly]) {
              border: #7C8089 solid 1px;
              background: transparent;
              @include box-shadow(none);
          }
          &::-webkit-input-placeholder {color: #353E4D;}
          &:-moz-placeholder {color: #353E4D;}
          &::-moz-placeholder {color: #353E4D;}
          &:-ms-input-placeholder {color: #353E4D;}
      }
  }
  &.mn-xpos {
    width: 313px; left: -313px;
      background: $white; padding-top: 0;
      .mn-close{
        position: absolute;
        right: 0;
        top: 0;
        width: 58px;
        height: 58px;
        background: $cgreen;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 23px;
        opacity: 0;
        cursor: pointer;
        @include single-transition(opacity,0.3s);
        &:hover{
          background: $cgreen2;
        }
      }
    @include box-shadow(5px 0px 10px 0px rgba(135,149,162,0.28));
    .left-menu-link {
      padding-top: .01em;
    }
  }
  .bot-bar {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%; padding: 22px 20px;
    text-align: center;
  }
  button {
    min-width: 160px;
    font-family: $boldFont;
    height: 33px; line-height: 33px;
    font-size: 12px; padding: 0;
    @include border-radius(15px);
    &.red {
      @include box-shadow(0px 0px 16px 0px rgba(241,115,114,0.28));
    }
  }
}



.box-content {
  position: relative; background: $white;
  margin: 0 0 38px; padding: 29px 22px 20px;
  min-height: 145px;
  @include clearfix;
  @include border-radius(11px);
  @include box-shadow(0 0 2px 0 rgba(204,208,213,0.75));
  h3, h4 {
    font-family: $boldFont; overflow: hidden;
    font-size: $sizeS; color: $mainTxt;
    text-transform: uppercase;
    margin: 0 0 13px;
  }
  h4 {text-transform: none;}
  &.color {
    background: #D2E0EC; min-height: inherit;
    @include box-shadow(none);
  }
  .f-left {width: 175px; padding-right: 20px; margin: 0; padding-bottom: 10px;}
  .option-list {float: none; width: auto; overflow: hidden;clear: both;}
}

.th-row {
  @include clearfix;
  &.one-column, &.two-column {
    > div {width: calc(50% - 18px);}
    &:last-child {
      > div {margin-bottom: 0;}
    }
  }
  &.two-column {
    > div {
      float: left;
      &:nth-of-type(2n) {float: right;}
      &:nth-of-type(2n+1) {clear: left;}
    }
  }
}
.accordion-blk {
  margin: 0 auto;
  .acr-head, .acr-content {
    padding-left: $hoztSpace;
    padding-right: $hoztSpace;
  }
  .acr-head, .acr-head h2, .acr-content {
    @include single-transition(all,0.3s);
  }
  .acr-head {
    position: relative;
    padding-top: 15px;
    &, h2 {
      font-family: $mediumFont;
      font-size: $size; color: $gray20;
      text-transform: uppercase; margin: 0;
    }
    [class^="icon-"] {
      position: absolute; top: auto; left: 16px; margin: -1px;
      color: $cgreen2; font-size: 23px;
    }
  }
  .acr-content {
    position: relative;
    @include clearfix;
    .inner {padding-top: 15px; padding-bottom: 31px;}
  }
}

.search-option {
  input[type="text"],
  input[type="search"] {
    color: $mainTxt; text-align: center;
    background: #CFDAE5; border: #B7C3CF solid 1px;
    width: 90px; height: 32px; line-height: 30px;
  }
}

.option-list {
  @include clearfix;
  li {
    float: left; width: 50%;
    padding-right: 12px; margin-bottom: 12px;
    &:nth-of-type(2n+1) {clear: left;}
  }
}

.single-choice {
  .f-left {
    position: relative; width: auto; max-width: 175px;text-align: center;min-width: 145px;
    padding-right: 30px; margin-right: 13px; overflow: hidden;
    &:after {
      font-family: $icomoon;
      content: "\e907"; font-size: 27px;
      position: absolute; top: -4px; right: -6px;
    }
  }
  .option-list {
    li {padding-right: 0;}
  }
  .single-list {
    // span {opacity: 0;}
  }
}

.filter-product {
  .box-content {
    .f-left {width: 120px;}
    &:first-child {
      .option-list li {
        width: 45%;
        &:nth-of-type(odd) {width: 55%;}
      }
    }
    &:last-child {
      .f-left {width: 155px;}
    }
  }
}
.sort-product, .sort-category {
  .box-content {
    &:first-child {
      .option-list li {
        width: 45%;
        &:nth-of-type(odd) {width: 55%;}
      }
    }
  }
}


.search-customer, .new-customer,
.integrate-inventories, .integrate-extension {
  float: left;
  width: calc(50% - 18px);
  .box-content {margin-bottom: 0;}
}

.search-customer,
.integrate-inventories {
  .acr-content {padding-right: 0;}
}

.search-customer {
  .box-content {
    .f-left {width: 180px;}
    &:first-child {
      .option-list li {
        width: 55%;
        &:nth-of-type(odd) {width: 45%;}
      }
    }
  }
}

.new-customer,
.integrate-extension {
  float: right;
  .acr-content {padding-left: 0;}
}
.search-order {
  clear: both;
  .box-content {
    .f-left {width: 125px;}
  }
}

.f-left {float: left;}
.f-right {float: right;}

.d-show {display: block!important;}
.d-hide {display: none!important;}



.options-bar {
  float: left; padding-top: 26px; padding-left: $hoztSpace;
  .select-wrapper {
    @extend .select-small;
    width: auto; margin-right: 25px;
  }
  .click {
    @extend .link-btn;
    min-width: 135px; margin-right: 22px;
  }
}
.account-blk {
  position: relative;
  float: right; min-height: 30px;
  padding-right: 36px; margin-top: 29px;
  .sign-in, .acc-drown {
    position: relative;
    display: inline-block; white-space: nowrap;
    padding-bottom: 8px; margin-top: 5px;
  }
  &, .acc-name {
    &:after {
      position: absolute;
      font-family: $icomoon;
    }
  }
  &:after {
    top: -4px; right: 0;
    content: "\e91d";
    color: #B5B9BF; font-size: 36px;
  }
  .acc-name {
    padding-right: 16px;
    em {
      color: #9F9E9E; font-size: 12px;
    }
    &:after {
      top: 3px; right: 0;
      content: "\e90a";
      font-size: 11px;
    }
  }
  .drown-blk {
    right: 0; min-width: 141px;
    display: none; z-index: 9;
    @include box-shadow(0 0 8px 5px rgba(101,182,177,0.18));
    /*opacity: 0; z-index: -1;*/
  }
  .acc-drown {
    cursor: pointer;
    &:hover {
      .drown-blk {display: block; /*opacity: 1;*/}
    }
  }
}

.slink {
  color: #FFE1BD;
  [class^="icon-"] {
    position: relative; top: 6px;
    font-size: 20px; margin-left: 3px;
  }
}
.add-register {
  .fr-control {
    width: 40.9448%; margin: 35px 0 0 3.4448%;
    li {padding-left: 175px;}
    label {width: 175px; padding-right: 25px;}
  }
}

.button-bar {
  text-align: center; margin: 27px 0 0;
  button {
    min-width: 134px;
    &.orange {height: 39px; line-height: 35px;}
  }
}



.payment {
  .fr-control {
    label {width: 200px;}
    li {padding-left: 200px; margin-bottom: 18px;}
  }
  .button-bar {margin: 0;}
}

.back-btn {
  font-family: $mediumFont;
  font-size: $size; color: #A5A5A5; padding-left: 22px;
  em {
    font-family: Times New Roman, Times, serif;
    font-size: 16px;
    font-style: italic; font-weight: bold;
  }
  [class^="icon-"] {
    position: absolute;
    @include ver-pos; left: -2px;
    font-size: 22px;
  }
}


.outlet-table {
  background: $white;  
  @include border-radius(6px);
  th, td {
    position: relative; padding: 10px;font-size: 13px; text-align: left;border-bottom: 1px solid $border;
    &:first-of-type{padding-left: 40px;}
  }
  tr {
    &:nth-of-type(2n+2) {
      td{background: $cbkg; }          
    }
    &:hover{
      td{background: #eee;}  
    }
  }
  th {
    background: $cinput; font-size: $sizeS; ;
    &:first-child {@include border-radius(6px 0 0 0);}
    &:last-child {padding-left: 25px;@include border-radius(0 6px 0 0);}
  }
  td {
    input {text-align: center;}    
    p{
      margin-bottom: 5px;
    }
  }
  input[type="text"],
  input[type="search"] {background: #E7EDF7;}
}

.outlet-management .outlet-table{
  th,td{
    &:first-of-type{padding-left: 10px;}
  }
}


.new-outlet {
  .outlet-address {
    .fr-control {
      margin: 8px 10.8267% 0 6.4960%;
      li {
        float: left; width: 45%;
        padding-left: 138px;
        label {width: 138px;}
        &:nth-of-type(odd) {
          margin-right: 10%;
          label {padding-left: 35px;}
        }
      }
    }
  }
  .outlet-info {
    .fr-control {
      margin: 8px 4.1338% 0 3.4448%;
      > li {
        float: left; width: 48.5074%;
        padding-left: 215px;

        label {width: 215px;}
        &:nth-of-type(odd) {
          margin-right: 2.9850%;
          padding-left: 136px; padding-right: 79px;
          label {width: 136px;}
        }
        &.ctrl-spec {
          label {
            @include no-pos;
            top: 6px; left: 0;
          }
        }
        .groups {
          margin-left: -14px;
          button {
            float: left; margin: 0 0 14px 14px;
            width: 113px;
            &.orange {clear: both;}
          }
        }
        .select2 ul li{padding-left: 5px;}
      }
    }
  }
  .tabs-blk {
    .tabs-header {
      li {width: 298px;}
    }
    .tabs-content {padding-left: 0; padding-right: 0;}
  }
}

#newOutletInfo {
  width: 500px;
  .popup-content {
    text-align: center;
    color: $disTxt; padding: 54px 27px 59px;
    h3, p {margin: 0;}
    h3 {
      font-family: $boldFont;  margin-bottom: 5px;
      color: $mainTxt; font-size: 15px;
    }
    .button-bar {
      margin-top: 40px;
      button {min-width: 117px; margin: 0 10px;}
    }
  }
}


/*X-retail layout*/
.xcontainer-wrapper {
  background: $cbkg2;
  .top-bar {
    height: 80px; border-bottom: none;
    padding-left: $hozSpace; padding-right: $hoztSpace;
    font-size: $sizeS; overflow: visible; z-index: 999;
    .icon-link {
      float: left; height: 80px; line-height: 80px;
      em {
        position: relative; top: 3px;
        font-family: $boldFont;
      }
      &.dashboard {
        margin-right: 0;
        width: 260px; text-align: left;
        @include ellipsis;
        [class^="icon-"] {
          color: $cgreen2; margin-right: 8px; margin-left: 3px;
        }
      }
    }
  }
  .left-menu-side {    
      padding-top: 0;}
  .xcontainer-inner {    
    .setting-blk {  
      padding-bottom: 65px;      
      .accordion-blk {        
        height: 100%;
        position: relative;
        padding-top: 30px;              
      }
      @include xlarge{
        padding-bottom: 0;
        .accordion-blk{
          padding-left: 10%;
          padding-right: 10%;
        }
      }
    }
  }
  .menu-toggle {position: absolute; left: 0; top: 14px;}
  .setting-blk {
    margin-left: 280px;
    overflow: hidden;   
    .bottom-bar {
        text-align: right;
        position: fixed;
        width: 120px;
        right: 35px;
        bottom: 15px;
        left: inherit;
        
      button {min-width: 117px;}
    }
    .accordion-blk {
      padding-top: 19px;
      .box-content {
        &.color {
          min-height: 26px;
          h3 {
            position: absolute; left: 22px;
            width: calc(100% - 110px);
            @include ver-pos;

          }
        }
        .search-option input[type="text"]{
          width: 100%;
        }
      }
    }
  }
  button{
    &.btn-danger{
      background: #c9302c;
      &:hover{
        background: #12203A;        
      }
    }
  }
}

.client-db{
  position: absolute;
  margin: 0;
  top: -30px;
  right: 30px;
}

