//================ FORM POPUP ==========================================
.form-popup{
  padding: 20px 0;
  .form-popup-top{
    border-bottom: 1px solid $border;
    padding-bottom: 15px;
    .shipment-amount{
      font-size: 15px;  
      display: flex;
      align-items: center;    
      label{
        font-family: $mediumFont;
        text-align: right;
        color: $cgreen;
      }
      input{
        width: 100px;
        font-family: $boldFont;
        font-size: 15px;
        color: $cgreen;
      }
    }
  }
  h2{
      color: $grayDark;
      font-size: 17px; 
      font-family: $boldFont;
      text-transform: uppercase;
      text-align: center;
      margin: 0 0 15px;      
    }
  .form-popup-content{
    // width: 550px;
    margin: 20px auto 0;      
    .content-scroll{
      position: relative;
      max-height: 300px;
      padding: 0 200px;
    }
    .form-group{
      label{
        font-family: $mediumFont;
        font-size: 13px;
        color: $gray60;
        text-transform: capitalize;
      }
      .form-control{
        color: $mainTxt;
        background: $cbkg;
        height: 40px;

      }
    }
    .button-group{
      margin-top: 30px;
      text-align: center;
      button{
        width: 110px;
        margin-right: 10px;
      }
    }
  }

}

// add note form
#addNotePopup{
  height: auto !important;
  width: 530px;
}
.addNote-form{
  padding: 20px 30px;
  h2{
    text-align: left;
  }
  .form-popup-content{
    width: auto;
    margin: 0;
    textarea{
      min-height: 100px;
      font-family: $mainFont;
      border: none;
    }
    .button-group{
      margin-top: 20px;
    }
  }
}