#toast-container{
  &.toast-top-center  {
    top: 15px;
    > div{
      width: 360px;
      margin-bottom: 6px;
    }
  }
  > .toast{
    min-height: 80px;
    width: 360px;
    font-size: 15px;
    padding: 10px 10px 10px 20px;
    background-image: none !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include box-shadow(0 0 6px 0 rgba(0,0,0,0.25));
    @include  border-radius(6px);
    &:before{
        font-family: 'icomoon' ;
        font-size: 30px;
        opacity: .6;
    }
    > div{      
      padding: 0 0 0 20px;
      width: calc(100% - 60px);
    }
    .toast-message{      
      text-align: left;      
    }
    .toast-close-button{
      font-size: 33px;
      order: 2;
      opacity: .3;
      color: $black;
      right: inherit;
      top: inherit;
      flex: inherit;
      text-shadow: none;
      -webkit-text-shadow: none;
      width: 35px;
      padding: 0;
      text-align: center;
      &:hover{
        cursor: pointer;
        opacity: .5;
      }
    }

    &.toast-error{      
      background: #db524b;
      &:before{
        content: "\e93e";
      }
    }
    &.toast-warning{      
      background: #fbb040;
      &:before{
        content: "\e93c";
      }
    }
    &.toast-info{      
      background: #56c0e0;
      &:before{
        content: "\e93d";
      }
    }
    &.toast-success{      
      background: #58b957;
      &:before{
        content: "\e93b";
      }
    }     
  }
}