<div class="cashdrawer-leftside">
  <div class="top-bar">
    <span class="menu-toggle" (click)="openLeftMenu()" id="hambuger-menu"><span class="icon-menu amenu"></span><span
      class="text">X-Retail
    </span></span>
  </div><!--end top-bar-->
  <div class="cashdrawer-inner" perfectScroll (scrollEnd)="loadMoreShift()">
    <div class="items no-line" *ngIf="!posQuoteState.info.isShiftOpening">
      <div class="price" (click)="openShiftPopup()" id="button-open-shift-tutorial">
        <button class="bounder">{{ 'Open' | translate }}</button>
      </div>
      <div class="timer">
        <h4>{{ 'No Opening Shift' | translate }}</h4>
      </div>
    </div>

    <div *ngFor="let shiftGrouped of shiftState.list.shiftGroped">
      <div class="date">
        {{!!shiftGrouped['today'] ? ('Today' | translate) : shiftGrouped['timestamp']}}
      </div>
      <pos-default-sales-shifts-list-item *ngFor="let shift of shiftGrouped['shifts']" [shift]="shift"></pos-default-sales-shifts-list-item>
    </div>

    <div class="loading-img" *ngIf="shiftState.list.currentPage < shiftState.list.lastPageNumber">
      <img src="assets/img/loading.gif" alt="loading image">
    </div>

  </div>
</div>
