<!-- START Add new License page -->
<div class="addNew">
  <div class="white-box">
    <div>
      <div class="title-page">
        <h1>
          {{ isEditingLicense() ? "Update License" : "Create License"}}
          <span *ngIf="isEditingLicense()">{{id}}</span>
        </h1>
      </div>
      <form class="js-validation-license form-horizontal form-addlicense">
        <div class="form-content box560">
          <div class="form-group">
            <label class="control-label" for="val-owner">Shop Owner</label>
            <div class="element">
              <select class="js-select2 form-control" id="val-owner" name="val-owner" style="width: 100%;" [disabled]="!!license['_id']"
                      data-placeholder="Choose one..">
                <option value="createNew">Create new</option><!-- Required for data-placeholder attribute to work with Select2 plugin -->
                <option *ngFor="let user of users" [value]="user._id" [selected]="user._id=== license['shop_owner_id']">{{ user.username }}</option>
              </select>
            </div>
          </div>

          <!-- If create new user-->
          <div *ngIf="license['shop_owner_id'] == 'createNew'">
            <div class="form-group">
              <label class="control-label" for="firstname">First Name:</label>
              <div class="element">
                <input type="text" class="form-control" id="firstname" name="firstname" [(ngModel)]="user['profile']['first_name']" placeholder="Enter a first name">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="lastname">Last Name:</label>
              <div class="element">
                <input type="text" class="form-control" id="lastname" name="lastname" [(ngModel)]="user['profile']['last_name']" placeholder="Enter a last name">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="username">Username:</label>
              <div class="element">
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter a username" [(ngModel)]="user['username']">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="inputEmail">Email:</label>
              <div class="element">
                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Enter a email" [(ngModel)]="user['email']">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label" for="status">License status:</label>
            <div class="element">
              <select class="form-control" id="status" name="status" [(ngModel)]="license['status']">
                <option value="1">Activated</option>
                <option value="0">Deactivated</option>
              </select>
            </div>
          </div>
        </div>

        <table class="table table-responsive tbl-addlicense">
          <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Status</th>
            <!--<th>Version</th>-->
            <th>Pricing</th>
            <th>Billing Cycle</th>
            <th>Addition Entity</th>
            <th>Based URLs</th>
            <th>Purchased Date</th>
            <th>Last Invoice</th>
            <th>Expire Date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let product of licenseHasProducts">
            <td>
              <div class="form-material" *ngIf="product['is_new'] == true">
                <div class="col-xs-6">
                  <label class="css-input css-checkbox css-checkbox-primary">
                    <input type="checkbox" name="{{'product_id' + product['product_id']}}"
                           [checked]="product['checked']==true"
                           [(ngModel)]="product['checked']"><span></span>
                  </label>
                </div>
              </div>
            </td>
            <td>
              <div class="form-material">
                {{ product.name }}
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" [(ngModel)]="product['status']" id="val-status_product"
                        name="{{'status_product' + product['product_id']}}"
                        style="width: 100%;"
                        data-placeholder="Choose one..">
                  <option value="1">Activated</option>
                  <option value="0">Deactivated</option>
                </select>
              </div>
            </td>
            <!--<td>-->
            <!--<div class="form-group">-->
            <!--<select class="form-control" id="val-version"-->
            <!--name="{{'val-version'+product['product_id']}}"-->
            <!--style="width: 100%;"-->
            <!--data-placeholder="Choose one.." [(ngModel)]="product['start_version']">-->
            <!--<option></option>&lt;!&ndash; Required for data-placeholder attribute to work with Select2 plugin &ndash;&gt;-->
            <!--<option *ngFor="let version of product['versions']" [value]="version['version']">{{ version['version'] }}-->
            <!--</option>-->
            <!--</select>-->
            <!--</div>-->
            <!--</td>-->
            <td>
              <div class="form-group">
                <select class="form-control" id="val-price" name="{{'val-price'+product['product_id']}}" style="width: 100%;"
                        data-placeholder="Choose one.." [(ngModel)]="product['pricing_id']">
                  <ng-template ngFor let-price [ngForOf]="prices">
                    <option *ngIf="isPricingOfProduct(price, product)"
                            [value]="price._id">{{ price['display_name'] }}
                    </option>
                  </ng-template>

                </select>
              </div>
            </td>
            <td>
              <div class="form-group" *ngIf="isNotSelectTrial(product)">
                <select class="form-control" [(ngModel)]="product['billing_cycle']" id="val-product_billing_cycle"
                        name="{{'product_billing_cycle' + product['billing_cycle']}}"
                        style="width: 100%;"
                        data-placeholder="Choose one..">
                  <option *ngFor="let cycle of getBillingCycleData()" [value]="cycle['billingCycle']">{{cycle['name']}}</option>
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <div class="form-material">
                  <input class="form-control" type="text" name="{{'val-addition_entity'+product['addition_entity']}}"
                         id="{{ 'val-addition_entity' + product['addition_entity'] }}"
                         placeholder="Enter addition entity.." [(ngModel)]="product['addition_entity']" [min]="1">
                </div>
              </div>
            </td>
            <td class="td-baseurl">
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Enter URL here..." #base>
                  <span class="input-group-btn">
                                        <button class="btn btn-primary btn-plus" type="button" (click)="addBasedUrl(product, base.value)">
                                            <span class="ion-ios-plus-empty"></span>
                                    </button>
                                    </span>
                </div>
                <div class="input-group row baseurl-list" *ngFor="let baseUrl of product['base_url']">
                  <div class="col-sm-12">
                    <input class="form-control" [ngStyle]="{'color': baseUrl['in_use'] ? 'green' : ''}" type="text" disabled [value]="baseUrl['url']">
                    <div class="button-group">
                      <button *ngIf="baseUrl['is_valid']" class="btn btn-success" title="Deactive" type="button"
                              (click)="baseUrl['is_valid'] = !baseUrl['is_valid']">
                        <i class="fa fa-check"></i>
                      </button>
                      <button *ngIf="!baseUrl['is_valid']" class="btn btn-danger" title="Active" type="button"
                              (click)="baseUrl['is_valid'] = !baseUrl['is_valid']">
                        <i class="fa fa-check"></i>
                      </button>
                      <button class="btn btn-default btn-orange" title="Remove" type="button" (click)="removeBaseUrl(product,baseUrl)">
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="form-group">
                <div class="form-material">
                  {{ product.purchase_date ? (product.purchase_date | amCalendar:'LL') : '' }}
                </div>
              </div>
            </td>
            <td>
              <div class="form-group">
                <div class="form-material">
                  {{ product.last_invoice ? (product.last_invoice | amCalendar:'LL') : '' }}
                </div>
              </div>
            </td>
            <td>
              <div class="form-group">
                <div class="form-material">
                  <input class="form-control expire_date_picker" type="text" name="{{'val-expire_date'+product['product_id']}}"
                         id="{{ 'val-expire_date' + product['product_id'] }}"
                         placeholder="Enter Expire Date..">
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="group-btn tac line-top">
          <button type="button" (click)="routerActions.go('cloud/default/license/list')" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
