<div id="makeAdjust" class="popup-wrapper open">
  <div class="popup-content">
    <div class="cashdrawer-form adjust-cash">
      <h2 class="p-head">
        {{ 'Make Adjustment Cash' | translate }}
        <span>{{ 'Logged in as' | translate }} {{authenticate.getUserName()}}</span>
      </h2>
      <div class="inner" perfectScroll>
        <form>
          <div class="item-row">
            <div class="radio-input huge">
              <input type="radio" name="adjust_type" id="radio-adjust-add" value="1" [(ngModel)]="_data.isIn"/>
              <label for="radio-adjust-add" (click)="_data.isIn = 1">{{ 'Add' | translate }}</label>
            </div>
            <div class="radio-input huge">
              <input type="radio" name="adjust_type" id="radio-adjust-remove" value="0" [(ngModel)]="_data.isIn"/>
              <label for="radio-adjust-remove" (click)="_data.isIn = 0">{{ 'Remove' | translate }}</label>
            </div>
            <retail-text class="input-text" [(model)]="_data.amount" [disabled]="shiftState.detail.waitingServer"
                         [formKey]="'popup-adjust-shift'"
                         [validation]="'require,p-number'"></retail-text>
          </div>
          <textarea [disabled]="shiftState.detail.waitingServer" placeholder="{{ 'Add note here' | translate }}" [(ngModel)]="_data.note" name="adjust_name"></textarea>
        </form>
      </div>
      <div class="desc-bottom">
        <button class="gray" (click)="cancel()" [ladda]="shiftState.detail.waitingServer">{{ 'Cancel' | translate }}</button>
        <button (click)="adjustShift()" [ladda]="shiftState.detail.waitingServer">{{ 'Done' | translate }}</button>
      </div>
    </div>
  </div>
</div>
<div class="popup-overlay open"></div>
