<div id="closeShift" class="popup-wrapper open">
  <div class="popup-content">
    <div class="closeshift-table" >      
      <h2 class="p-head">
        {{ ('Close Shift' | translate) + ' #' + shiftState.detail.shift['id'] }}
        <span>{{ 'Logged in as' | translate }} {{authenticate.getUserName()}}</span>
      </h2>
      <div class="inner" perfectScroll>
        <table>
          <thead>
          <tr>
            <th>&nbsp;</th>
            <th>{{ 'Expected' | translate }} ($)</th>
            <th class="c-center">{{ 'Counted' | translate }} ($)</th>
            <th class="c-center">{{ 'Differences' | translate }} ($)</th>
          </tr>
          </thead>
          <tbody class="first v-bot">
          <tr *ngFor="let payment of shiftState.detail.amounts.paymentUsed">
            <td>{{payment['title']}}</td>
            <td>{{getExpectedAmount(payment) | priceFormat}}</td>
            <td class="td-input">
              <retail-text class="fix-post-text" [(model)]="_data.counted[payment['id']]" inputSelectText [disabled]="shiftState.detail.waitingServer"
                           (modelChange)="getDiff(payment)"
                           [formKey]="'popup-close-shift'"
                           [validation]="'require,i-number'">
              </retail-text>
            </td>
            <td class="c-center"><span class="un-expect">{{getDiff(payment) | priceFormat}}</span></td>
          </tr>
          </tbody>
          
          <tbody>
          <tr>
            <td><strong>{{ 'CASH AMOUNT TAKEOUT' | translate }}</strong></td>
            <td colspan="3">
              <div class="cash-amount">
                <retail-text [(model)]="_data['takeOut']" inputSelectText [disabled]="shiftState.detail.waitingServer"
                             [formKey]="'popup-close-shift'"
                             [validation]="'require,i-number'">
                </retail-text>
                <textarea placeholder="{{ 'Add note here' | translate }}" [(ngModel)]="_data['note']" name="note">{{ 'Add note here' | translate }}</textarea>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="desc-bottom">
        <button class="gray" (click)="shiftActions.changeStatePopup(null)" [ladda]="shiftState.detail.waitingServer">
          {{ 'Cancel' | translate }}
        </button>
        <button (click)="closeShift()" [ladda]="shiftState.detail.waitingServer">{{ 'Close Shift' | translate }}</button>
      </div>
    </div>
  </div>
</div>
<div class="popup-overlay open"></div>
