<div class="customer-table">
  <div class="c-search">
    <input placeholder="{{ 'Type email, phone, name' | translate }} ..." type="text" name="cartCustomerSearchString"
           [formControl]="cartCustomerSearchString" inputSelectText
           [value]="cartCustomerState.cartCustomerSearchString">
  </div>
  <div class="customer-row-wrap" perfectScroll>
    <div *ngFor="let customer of cartCustomerState.cartCustomers;trackBy:customerTrackBy">
      <div *ngIf="customer['id'] != configState.setting.customer.getDefaultCustomerId()" class="customer-row animated fadeIn" (click)="setCustomerToQuote(customer)">
        <div class="customer-head">
        <span class="avatar-img click">
          <img src="assets/img/avatar.png">
        </span>
          <div class="c-name">
            <span class="c-user">{{customer['first_name'] +" "+ customer['last_name']}}</span>
            <span class="c-mail">{{customer['email']}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-bottom">
    <button class="gray" (click)="cancelAction()">{{ 'Cancel' | translate }}</button>
    <button (click)="createNewCustomer()"  [ngClass]="{disable: !createCustomerPermission()}">{{ 'Create New' | translate }}</button>
  </div>
</div>
