<div id="cart-table-items" class="cart-table" [ngStyle]="cartItemState.cartItemsStyle" perfectScroll [hidden]="cartCustomerState.inSearchCustomers">
  <div class="customer-row">
    <div class="customer-head" (click)="customerAction($event)">
      <span class="avatar-img click">
        <img src="assets/img/avatar.png">
      </span>
      <div class="c-name">
        <span class="c-user">{{getCustomerInfo(true)['customerName']}}</span>
        <span class="c-mail">{{getCustomerInfo()['customerEmail']}}</span>
      </div>
      <span class="customer-icon-action icon" (click)="customerAction($event,true)" [ngClass]="{'icon-minus': quoteState.customer && quoteState.customer['id'] && quoteState.customer['id'] !== configState.setting.customer.getDefaultCustomerId(),
      'icon-plus':!quoteState.customer || quoteState.customer['id'] === configState.setting.customer.getDefaultCustomerId()}">
        <span class="tooltiptext-left" *ngIf="quoteState.customer && quoteState.customer['id'] && quoteState.customer['id'] !== configState.setting.customer.getDefaultCustomerId()">{{ 'Remove Customer' | translate }}</span>
        <span class="tooltiptext-left" *ngIf="!quoteState.customer || quoteState.customer['id'] === configState.setting.customer.getDefaultCustomerId()">{{ 'Add Customer' | translate }}</span>
      </span>
    </div>
  </div>

  <pos-default-sales-checkout-cart-reference-number id="cart-reference-number-comp" class="cart-reference-number-comp"
                                                    [posQuoteState]="quoteState"></pos-default-sales-checkout-cart-reference-number>

  <pos-default-sales-checkout-cart-refund-items class="refund-items-comp" *ngIf="configState.isResolveSetting && quoteState.creditmemo"
                                                [configState]="configState" [posQuoteState]="quoteState">
  </pos-default-sales-checkout-cart-refund-items>

  <div *ngFor="let item of quoteState.quote.getAllVisibleItems(); let i = index;trackBy:trackByProduct">
    <pos-default-sales-checkout-cart-items-item [configState]="configState" [cartItemState]="cartItemState" [item]="item" [i]="i"></pos-default-sales-checkout-cart-items-item>
  </div>
</div>
