<div *ngFor="let item of posQuoteState.creditmemo['items']">
  <div class="cart-row bundle checked"
       *ngIf="item['type_id']=='bundle' && item['children_calculated']">
    <div class="cart-head">
      <div class="c-num">{{item['qty_ordered']}}</div>
      <input [disabled]="!item['can_edit_qty'] || item['qty_to_refund'] == 0" class="count-num" type="text" [value]="item['qty']" enterBlur inputNumber
             inputSelectText [isDecimal]="item['is_qty_decimal']"/>
      <div class="c-name">
        <h3 class="product-name">{{item['name']}}</h3>
        <p class="p-product-name">{{item['sku']}}</p>
      </div>
    </div>
    <div class="cart-content">
      <div class="inner">
        <div class="cart-head" *ngFor="let childItem of getChildrenBundle(item)"
             (click)="activeRefundItem($event,childItem)"
             [ngClass]="{checked: !!childItem ['qty']>0}">
          <div class="c-num">{{childItem['qty_to_refund']}}</div>
          <input [disabled]="!childItem['can_edit_qty'] || childItem['qty_to_refund'] == 0"
                 class="count-num" type="text"
                 [value]="childItem['qty']" inputNumber
                 inputSelectText
                 [isDecimal]="childItem['is_qty_decimal']"/>
          <div class="c-price">
            <span class="refund-pr" *ngIf="childItem['qty']>0">
                -{{(configState.setting.tax.displayCartPricesExclTax() ? childItem['row_total'] : childItem['row_total_incl_tax'])| priceFormat}}
            </span>
          </div>
          <div class="check-box" *ngIf="childItem['qty']>0">
            <input type="checkbox" class="return_stock" [(ngModel)]="childItem['back_to_stock']" #tooltip checked data-toggle="tooltip"
                   data-placement="left"
                   title="Return to Stock">
            <span></span>
          </div>
          <div class="c-name">
            <h3 class="product-name">{{childItem['name']}}</h3>
            <p class="p-product-name">{{childItem['sku']}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="cart-row" *ngIf="!item['parent_id'] &&!(item['type_id']=='bundle' && item['children_calculated'])"
       (click)="activeRefundItem($event,item)" [ngClass]="{checked: item ['qty']>0}">
    <div class="cart-head">
      <div class="c-num">{{item['qty_to_refund']}}</div>
      <input [disabled]="!item['can_edit_qty'] || item['qty_to_refund'] == 0"
             class="count-num" type="text"
             [value]="item['qty']" inputNumber
             inputSelectText
             [isDecimal]="item['is_qty_decimal']"/>
      <div class="c-price" *ngIf="item['qty']>0">
            <span class="refund-pr">
                -{{(configState.setting.tax.displayCartPricesExclTax() ? item['row_total'] : item['row_total_incl_tax'])| priceFormat}}
            </span>
      </div>
      <div class="check-box" *ngIf="item['qty']>0">
        <input type="checkbox" class="return_stock" [(ngModel)]="item['back_to_stock']" #tooltip checked data-toggle="tooltip"
               data-placement="left"
               title="Return to Stock">
        <span></span>
      </div>
      <div class="c-name" *ngIf="!item['custom_sale_name']">
        <h3 class="product-name">{{item['name']}}</h3>
        <p class="p-product-name" *ngIf="!item['custom_sale_name']">{{item['sku']}}</p>
      </div>
      <div class="c-name" *ngIf="item['custom_sale_name']">
        <h3 class="product-name">{{item['custom_sale_name']}}</h3>
      </div>
    </div>
  </div>
</div>
