<div class="total-blk" #totalsElement>
  <div class="btn-collapse"> <!-- add "c-hide" class when hidden gradien layer -->
    <span class="close-arr" (click)="cartTotalsActions.toggleBlockTotalState()"></span>
  </div>

  <!-- Total Refunded -->
  <div class="total-row-content">
    <div class="refunded-total" *ngIf="quoteState.info.isRefunding === true">
      <div class="total-row has-popover total-head">
        <div class="t-txt">
          <span>{{ 'Refunded Total' | translate }}</span>
        </div>
        <div class="t-value">
          {{quoteState.creditmemo['totals']['grand_total'] | priceFormat}}
        </div>
      </div>
      <div class="total-row has-popover">
        <div class="t-txt">
          <span>
            {{configState.setting.tax.displayCartSubtotalExclTax()? ("Subtotal"|translate) : ("Subtotal Incl.tax"|translate)}}
          </span>
        </div>
        <div class="t-value">
          {{(configState.setting.tax.displayCartSubtotalExclTax() ?
          quoteState.creditmemo['totals']['subtotal'] : quoteState.creditmemo['totals']['subtotal_incl_tax']) | priceFormat}}
        </div>
      </div>
      <div class="total-row has-popover">
        <div class="t-txt">
          <span>{{ 'Discount Amount' | translate }}</span>
        </div>
        <div class="t-value">
          {{quoteState.creditmemo['totals']['discount_amount'] | priceFormat}}
        </div>
      </div>
      <div class="total-row has-popover">
        <div class="t-txt">
          <span>{{ 'Tax' | translate }}</span>
        </div>
        <div class="t-value">
          {{quoteState.creditmemo['totals']['tax_amount'] | priceFormat}}
        </div>
      </div>
      <div class="total-row has-popover">
        <div class="t-txt">
          <span>Refund Shipping</span>
        </div>
        <div class="t-value">
          <div class="clickable"><span *ngIf="quoteState.creditmemo['retail_has_shipment'] == '1'" class="icon-pencil"></span>
            <input type="text"
                   [(ngModel)]="quoteState.creditmemo['shipping_amount']" [disabled]="quoteState.creditmemo['retail_has_shipment'] != '1'"/>
          </div>
        </div>
      </div>
      <div class="total-row has-popover">
        <div class="t-txt">
          <span>Adjustment</span>
        </div>
        <div class="t-value">
          <div class="clickable"><span class="icon-pencil"></span>
            <input type="text" [(ngModel)]="quoteState.creditmemo['adjustment']">
          </div>
        </div>
      </div>
    </div>

    <div [ngClass]="{'total-exchange-amount': quoteState.info.isRefunding === true}">
      <div class="total-row has-popover total-head" *ngIf="quoteState.info.isRefunding === true">
        <div class="t-txt">
          <span>{{ 'Total Exchange Amount' | translate}}</span>
        </div>
        <div class="t-value">
          {{(quoteState.quote.getShippingAddress()['grand_total'] || 0) | priceFormat}}
        </div>
      </div>

      <div class="total-row-content">

        <div class="total-row has-popover hover">
          <div class="t-txt" [ngClass]="{'discount-txt': quoteState.quote.getShippingAddress()['subtotal_incl_tax'] != quoteState.quote.getShippingAddress()['subtotal']}">
            <span class="">{{ 'Subtotal' | translate }}</span>
            <div class="popover-wrapper left bottom" *ngIf="quoteState.quote.getShippingAddress()['subtotal_incl_tax'] != quoteState.quote.getShippingAddress()['subtotal']">
              <div class="p-outer">
                <div class="p-inner">
                  <div class="content-list">
                    <h3>{{ 'Subtotal' | translate }}</h3>
                    <ul>
                      <li>
                        <p class="name">{{ 'Including' | translate }} {{ 'Tax' | translate }}</p>
                        <p class="value">{{(quoteState.quote.getShippingAddress()['subtotal_incl_tax']||0) |priceFormat}}</p>
                      </li>
                      <li>
                        <p class="name">{{ 'Excluding' | translate }} {{ 'Tax' | translate }}</p>
                        <p class="value">{{(quoteState.quote.getShippingAddress()['subtotal']||0) |priceFormat}}</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="t-value">
            {{(configState.setting.tax.displayCartSubtotalExclTax() ? (quoteState.quote.getShippingAddress()['subtotal'] ||
            0):(quoteState.quote.getShippingAddress()['subtotal_incl_tax']||0)) | priceFormat}}
          </div>
        </div>


        <div class="total-row has-popover" [ngClass]="{open: cartTotalsState.isOpeningPopupDiscount}" [clickOutSide]="cartTotalsState.isOpeningPopupDiscount" (outside)="cartTotalsActions.changeDiscountPopupState($event)">
          <div class="t-txt discount-txt">
      <span class="click" (click)="cartTotalsActions.changeDiscountPopupState(true)">
        {{ 'Discount' | translate }}
      </span>
            <div *ngIf="cartTotalsState.isOpeningPopupDiscount" class="popover-wrapper color down discount">
              <div class="p-outer">
                <div class="p-inner">
                  <div class="small-topbar">
                    <h3>{{ 'CART DISCOUNT' | translate }}</h3>
                  </div>
                  <div class="small-content">
                    <div class="stop-row">
                <span class="click" (click)="cartTotalsActions.changeDiscountType(true)"
                      [ngClass]="{current: cartTotalsState.isDiscountWholeOrderValue}">
                                    $
                </span>
                      <span class="click" (click)="cartTotalsActions.changeDiscountType(false)"
                            [ngClass]="{current: !cartTotalsState.isDiscountWholeOrderValue}">
                                    %
                </span>
                      <input [value]="quoteState.quote.getData('discount_whole_order')" enterBlur inputSelectText
                             (blur)="updateOrderDiscount('discount_whole_order',$event)" type="text"/>
                    </div>
                    <div class="sbot-row">
                      <input type="text" [ngModel]="quoteState.quote.getData('coupon_code')" enterBlur inputSelectText
                             (blur)="updateOrderDiscount('coupon_code',$event)"
                             placeholder="Coupon Code"/>
                    </div>
                  </div>
                  <div class="small-botbar">
              <span class="click gray" (click)="removeOrderDiscount()">
                Remove
              </span>
                    <span class="click" (click)="syncOrder()">
                Check
              </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="t-value">
            {{ ((quoteState.quote.getShippingAddress()['discount'] || 0) + (configState.posRetailConfig.inclDiscountPerItemInDiscount ?
            (quoteState.quote.getShippingAddress()['retail_discount_per_item']||0):0)) | priceFormat}}
          </div>
        </div>


        <div class="total-row" *ngIf="quoteState.hasShipment">
          <div class="t-txt">
            <span class="">{{configState.setting.tax.displayCartShippingExclTax() ? "Shipping" : "Shipping Incl.tax"}}</span>
          </div>
          <div class="t-value">
            {{(configState.setting.tax.displayCartShippingExclTax() ? quoteState.quote.getShippingAddress()['shipping'] :
            quoteState.quote.getShippingAddress()['shipping_incl_tax']) | priceFormat}}
          </div>
        </div>


        <div class="total-row has-popover hover">
          <div class="t-txt" [ngClass]="{'discount-txt': getAppliedTaxes().length > 0}">
            <span [hidden]="getAppliedTaxes().length > 0">{{ 'Tax' | translate }}</span>
            <span class="" [hidden]="getAppliedTaxes().length == 0">{{ 'Tax' | translate }}</span>
            <div class="popover-wrapper left bottom" *ngIf="getAppliedTaxes().length > 0">
              <div class="p-outer">
                <div class="p-inner">
                  <div class="content-list">
                    <h3>{{ 'Tax' | translate }}</h3>
                    <ul>
                      <li *ngFor="let applied of getAppliedTaxes()">
                        <p class="name">{{applied['id'] +' (' + applied['percent'] + '%)'}}</p>
                        <p class="value">{{applied['amount'] | priceFormat}}</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="t-value">
            {{((quoteState.quote.getShippingAddress()['tax_only'] || 0)) | priceFormat}}
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
