<div class="checkout-completed">
  <div class="total-top">
    <span>{{ 'Paid' | translate }}</span>
    <span class="grand-total">
                {{(posStepState.totals.remain > 0 ? posStepState.totals.totalPaid : posStepState.totals.grandTotal) | priceFormat}}
                </span>
  </div>

  <div class="sign-icon"><span class="icon-tick"></span></div>

  <div class="control-bar">

    <div class="button-group" [ngClass]="{active: isRefundExchange}">
      <button (click)="print()">{{ 'Print Receipt' | translate }}</button>
      <div class="inner">
        <button (click)="printReceipt()">Print order</button>
        <button (click)="printReceipt('refund')">Print refund</button>
      </div>
    </div>

    <button [ngClass]="{active: openEmailSender}"
            (click)=" openEmailSender = !openEmailSender">
      Email
    </button>
    <button (click)="printReceipt('gift')">{{ 'Print' | translate }} {{ 'Gift Receipt' | translate }}</button>

    <div class="s-blk" [ngClass]="{'d-show':openEmailSender}">
      <input type="text" [(ngModel)]="customerEmail" placeholder="Type customer Email"/>
      <button (click)="sendEmailReceipt()" [disabled]="receiptState.salesReceipt.emailReceipt.isSending" [ladda]="receiptState.salesReceipt.emailReceipt.isSending">
        {{ 'Send' | translate }}
      </button>
    </div>
  </div>

  <div class="completed-bot">
    <button (click)="posStepActions.newOrder()">
      {{ 'New order' | translate }}
    </button>
  </div>
</div>
