<div class="cover">
  <span class="click back-btn" (click)="back()"><span class="icon-left-thin"></span>{{ 'Back' | translate }}</span>

  <!--content of checkout-->
  <div class="content-top">
    <div class="total-top">
      <span>{{ 'Total Paid' | translate }}:</span><span class="grand-total">{{posStepState.totals.totalPaid | priceFormat}}</span>
    </div>
    <div class="control-bar">
      <button *ngFor="let payment of posStepState.paymentMethodCanUse;trackBy:trackById"
              [disabled]="posStepState.totals.remain <=0 && !posQuoteState.info.isRefunding || ((payment['type'] =='tyro' && !offlineService.online))  || (posStepState.paymentMethodUsed.count() >= 1 && (!posConfigState.posRetailConfig.allowSplitPayment || posQuoteState.info.isRefunding))"
              (click)="posStepActions.userSelectPaymentMethod(payment)" class="c-huge">
                        <span [ngClass]="{'icon-card': payment['type'] == 'credit_card',
                              'icon-wallet':payment['type'] == 'cash',
                              'icon-payment':payment['type'] == 'payment_gateway' || payment['type']=='tyro',
                              'icon-diamond':payment['type'] == 'reward_point'}">
                        </span>
        {{payment['title']}}
      </button>
      <button class="c-huge" *ngIf="showGCPayment()" (click)="applyGiftCard()"
              [disabled]="isDisableGC()">
        <span class='icon-card'></span>{{ 'Gift card' | translate }}
      </button>
    </div>
  </div>
  <div class="checkout-table" perfectScroll="">
    <div class="checkout-row" *ngFor="let selectedPayment of posStepState.paymentMethodUsed">
      <checkout-cash *ngIf="selectedPayment['type'] =='cash'" [posStepState]="posStepState" [posConfigState]="posConfigState" [method]="selectedPayment"></checkout-cash>
      <checkout-credit-card *ngIf="selectedPayment['type'] =='credit_card'" [method]="selectedPayment" [posStepState]="posStepState"></checkout-credit-card>
      <checkout-payment-tyro *ngIf="selectedPayment['type'] =='tyro' && offlineService.online" [method]="selectedPayment" [posStepState]="posStepState"></checkout-payment-tyro>
    </div>
    <div class="checkout-row"
         *ngIf="showRewardPointPayment()">
      <checkout-rewardpoint [posConfigState]="posConfigState" [posStepState]="posStepState" [posQuoteState]="posQuoteState" [posSyncState]="posSyncState"></checkout-rewardpoint>
    </div>
    <!--this.posQuoteState.quote.getGiftCardData()-->
    <!--<div class="checkout-row" *ngFor="let gcData of posStepState.gcUsedDatas">-->
      <!--<gift-card *ngIf="showGCPayment()" [posConfigState]="posConfigState" [posStepState]="posStepState" [posQuoteState]="posQuoteState" [posSyncState]="posSyncState" [gcData]="getGiftCardData(gcData)"></gift-card>-->
    <div class="checkout-row" *ngFor="let gcData of posQuoteState.quote.getGiftCardData()">
      <gift-card *ngIf="showGCPayment()" [posConfigState]="posConfigState" [posStepState]="posStepState" [posQuoteState]="posQuoteState" [posSyncState]="posSyncState" [gcData]="gcData"></gift-card>
    </div>
    <div class="checkout-row" *ngIf="posStepState.isCheckingGC == false">
      <gift-card *ngIf="showGCPayment()" [posConfigState]="posConfigState" [posStepState]="posStepState" [posQuoteState]="posQuoteState"
                 [posSyncState]="posSyncState" [gcData]="defaultGCData()"></gift-card>
    </div>
  </div>
  <div class="content-bot">
    <div class="info-checkout">
      <div class="info-row cash-rounding-checkout" *ngIf="posStepState.totals.rounding !== 0">
                        <span class="value">
                            {{(posStepState.totals.rounding | priceFormat)}}</span>
        <span class="txt">{{'Cash Rounding'|translate}}</span>
      </div>
      <div class="info-row">
                        <span class="value">
                            {{(posStepState.totals.remain | priceFormat)}}</span>
        <span class="txt">{{checkActionOrder() ?  ('Change'|translate) : ('Remain'|translate)}}</span>
      </div>
      <div class="info-row" [ngClass]="{disabled: !showRewardPointPayment()}">
        <span class="value">{{getRewardPointDetail()['reward_point_earn']}}</span>
        <span class="txt">{{ 'Points earned' | translate }}</span>
      </div>
    </div>
    <button [disabled]="disableClickSaveOrder()" class="huge" (click)="complete()" [ladda]="posStepState.isSavingOrder">
      {{checkActionOrder() ? ("Complete" | translate) : ("Partial" | translate)}}
    </button>
  </div>
  <!--end content of checkout-->
</div>
