<div class="top-bar" *ngIf="quoteState.info.isShiftOpening">    
    <div class="icon-link btn-delete" (click)="posQuoteActions.clearQuote()">
        <i class="icon-trash"></i>
        <span class="tooltiptext-bottom">{{"Clear Cart" | translate}}</span>
    </div>    
    <div class="cart-info">
        Cart
        (<span class="cart-num">5</span>)
    </div>
    <div class="nav-customer">
        <a class="btn-more icon-more2"></a>

        <ul class="submenu" style="display: none">
            <li>
                <a href="#">
                    <i class="icon-edit"></i>
                    <span>Add Note</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-add-wishlist"></i>
                    <span>Send To Customer’s Wish List</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-save-cart"></i>
                    <span>Save Current Cart</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-retrive-order"></i>
                    <span>Retrieve On-hold Orders</span>
                </a>
            </li>
        </ul>
        <div class="popup-overlay"></div>        
    </div>
</div>
