<div class="top-bar">
  <div class="icon-link btn-delete" (click)="posQuoteActions.clearQuote(); cartItemActions.changeRowSelected(-1);">
    <i class="icon-trash"></i>
    <span class="tooltiptext-bottom">{{"Clear Cart" | translate}}</span>
  </div>
  <div class="cart-info">
    {{'Cart' | translate}}
    <span class="cart-num">({{(quoteState.quote.getShippingAddress().getData('total_qty') || 0) | qtyFormat}})</span>
  </div>
  <div class="nav-customer">
    <a class="btn-more icon-more2" (click)="cartActionBarActions.changeModeActionPopup(true)"></a>

    <ul class="submenu" #actionsContainer [hidden]="!cartActionBarState.isOpenActions">
      <li>
        <a (click)="openNotePopup()">
          <i class="icon-edit"></i>
          <span>{{'Add Note' | translate}}</span>
        </a>
      </li>
      <li>
        <a (click)="pushWishlist()">
          <i class="icon-add-wishlist"></i>
          <span>{{'Send To Customer’s Wish List' | translate}}</span>
        </a>
      </li>
      <li>
        <a (click)="saveCurrentCart()">
          <i class="icon-save-cart"></i>
          <span>{{'Save Current Cart' | translate}}</span>
        </a>
      </li>
      <li>
        <a (click)="openOnholdPopup()">
          <i class="icon-retrive-order"></i>
          <span>{{'Retrieve On-hold Orders' | translate}}</span>
        </a>
      </li>
    </ul>
    <div class="popup-overlay" [ngClass]="{open: cartActionBarState.isOpenActions}"></div>
  </div>
</div>

<pos-default-sales-checkout-actions-bar-order-onhold *ngIf="isOpeningOnholdPopup()" [cartActionBarState]="cartActionBarState" [clickOutSide]="isOpeningOnholdPopup()" (outside)="openOnholdPopup($event)" [checkType]="2"></pos-default-sales-checkout-actions-bar-order-onhold>
<pos-default-sales-checkout-actions-bar-note *ngIf="isOpenNotePopup()" [cartActionBarState]="cartActionBarState" [quoteState]="quoteState" [clickOutSide]="isOpenNotePopup()" (outside)="openNotePopup($event)" [checkType]="2">
</pos-default-sales-checkout-actions-bar-note>
