<div class="product-category" #productCategory>
  <div class="categories-list" [ngClass]="{'cate-collapse': !checkoutProductState.isCategoryMode}">

    <div class="cateogries-inner">
      <a class="back-cate"><!-- "last-cate" class when lastest categories -->
        <i class="icon-back-btn"></i>Back
        <span class="tooltiptext-bottom">{{ 'Back' | translate }}</span>
      </a>


      <ul>
        <li>
          <a href="#">
            <img src="../../assets/img/categories-img/clothings.png" alt="clothings">
            <span class="cat-name">clothings</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../../assets/img/categories-img/accessories-shoes.png" alt="accessories-shoes">
            <span class="cat-name">Accessories<br/>Shoes</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../../assets/img/categories-img/watch.png" alt="watchs">
            <span class="cat-name">Watchs</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../../assets/img/categories-img/leather-belts.png" alt="leather-belts">
            <span class="cat-name">leather belts</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../../assets/img/categories-img/clothings.png" alt="clothings">
            <span class="cat-name">clothings</span>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="../../assets/img/categories-img/accessories-shoes.png" alt="accessories-shoes">
            <span class="cat-name">Accessories<br/>Shoes</span>
          </a>
        </li>


      </ul>
      <div class="navigation">
        <a class="icon-left-thin preview">Preview</a>
        <a class="icon-left-thin next">Next</a>
      </div>
    </div>

    <span class="cate-close" (click)="toggleCategoryMode()"></span>

  </div>

  <div class="grid-product-top" #productBreadcrumb>
    <ul class="breadcumb">
      <li>
        <a>All Fashion</a>
      </li>
      <li class="current">
        <span>Women</span>
      </li>
    </ul>
    <div class="view-mode">
      <label>View as:</label>
      <a class="icon-grid" [ngClass]="{current: checkoutProductState.isGridMode}" (click)="changeViewMode()"></a>
      <a class="icon-list" [ngClass]="{current: !checkoutProductState.isGridMode}" (click)="changeViewMode(false)"></a>
    </div>
  </div>
</div>
