<div class="product-category" id="product-category" #productCategory>
  <div class="categories-list" [ngClass]="{'cate-collapse': !checkoutProductState.isCategoryMode}">

    <div class="cateogries-inner" [ngClass]="{'disabled': !checkoutProductState.currentCategory || checkoutProductState.currentCategory['level'] == 1,'last-cate': checkoutProductState.categoryList.count()==0}">
      <a class="back-cate" (click)="checkoutProductCategoryActions.backCategory()">
        <i class="icon-back-btn"></i>{{ 'Back' | translate }}
        <span class="tooltiptext-bottom">{{ 'Back' | translate }}</span>
      </a>
      <!-- class of preview/next button is "hidden" when lastest categories  -->
      <div class="cate-slider" drag-scroll perfectScroll>
        <div class="item animated fadeIn" *ngFor="let category of checkoutProductState.categoryList" (click)="checkoutProductCategoryActions.selectCategory(category)">
          <a >
            <img src="{{category['image_url']? category['image_url'] :'assets/img/cate-no-image.png'}}">
            <span class="cat-name">{{category['name']}}</span>
          </a>
        </div>
      </div>
      <!--<a class="cate-arrow prev"></a>-->
      <!--<a class="cate-arrow next"></a>-->

    </div>

    <span class="cate-close" (click)="toggleCategoryMode()"></span>

  </div>

  <div class="grid-product-top" #productBreadcrumb>
    <ul class="breadcumb" *ngIf="!!checkoutProductState.currentCategory">
      <li *ngFor="let cB of checkoutProductState.categoryBreadcrumb;let last = last" [ngClass]="{current: last}">
        <span>{{cB}}</span>
        <span *ngIf="last" style="color: #ffab21">&nbsp;({{checkoutProductState.productGridTotals}})</span>
      </li>
    </ul>
    <div class="view-mode">
      <label>{{'View as:' | translate}}</label>
      <a class="icon-grid" [ngClass]="{current: checkoutProductState.isGridMode}" (click)="changeViewMode()"></a>
      <a class="icon-list" [ngClass]="{current: !checkoutProductState.isGridMode}" (click)="changeViewMode(false)"></a>
    </div>
  </div>
</div>
