<div id="bottom-bar" class="bottom-bar"><!-- add "totals-collapse" class when hide total cart -->
  <div class="pay-info" [ladda]="posSyncState.isSyncing" (click)="goCheckoutStep()"
       [ngClass]="{refund: quoteState.grandTotal < 0, disable: ((!quoteState.info.isRefunding && quoteState.items.count() === 0 && quoteState.valid_reference_number === true) || (quoteState.valid_reference_number === false && !quoteState.info.isRefunding))}">
    <!-- add "disable" class when cart is empty -->
    <span class="value">{{ 'pay' | translate }}</span>
    <span class="grand-total">{{quoteState.grandTotal | priceFormat}}</span>
  </div>
</div>
