<div class="grid-product-inner" [ngStyle]="checkoutProductState.productsStyles" (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)" #gridProductInner perfectScroll (scrollEnd)="loadMorePage()">
  <div class="grid-mode">
    <div *ngFor="let product of checkoutProductState.productGridProducts;trackBy: trackByItemFn;" class="item"
         [ngStyle]="checkoutProductState.productGridStyles">
      <span class="tags sale" *ngIf="isSales(product)"><img src="assets/icon/sale-icon148x84.png" alt=""/></span>
      <span class="tags info" *ngIf="isOutOfStock(product)"><img src="assets/icon/info-icon80x80.png" alt=""/></span>
      <span class="show-label" (click)="viewDetail(product)"><span>{{ 'View Details' | translate }}</span></span>

      <div class="inner" (click)="quoteActions.selectProductToAdd(product)">
        <pos-default-sales-checkout-grid-product-image [imageUrl]="product['origin_image']"></pos-default-sales-checkout-grid-product-image>
        <h3 class="product-name"><span>{{product['name']}}</span></h3>
        <span class="icon-addcart"></span>
      </div>
    </div>
  </div>
  <div class="loading-img" *ngIf="(checkoutProductState.productGridCurrentPage + checkoutProductState.bufferPageView) < checkoutProductState.productGridTotalsPage">
    <img src="assets/img/loading.gif" alt="loading image">
  </div>
  <div class="search-no-result"
       *ngIf="checkoutProductState.productGridProducts.count() == 0">
    <h3>{{ 'THERE IS NO RESULTS FOR' | translate }}
      <span *ngIf="!!checkoutProductState.searchString || !!checkoutProductState.currentCategory">
        "{{checkoutProductState.searchString}}"
      </span>
    </h3>
    <p>
      Please try a different
      <span style="color: darkcyan;" class="click">search </span> or
      <span style="color: darkcyan;" class="click">{{ 'category' | translate }}</span>
    </p>
  </div>
</div>
