<div class="list-product-inner" perfectScroll >
  <div class="list-mode">
    <div class="list-item">
      <ul class="items">        
        <li class="product-item">
          Product
        </li>
        <li class="sku-item">
          Sku
        </li>
        <li class="qty-item">
          Qty
        </li>
        <li class="price-item">
          Price
        </li>
      </ul>
      <ul class="items">
        <div class="list-addcart">
          <a class="btn-detail">
            View detail
          </a>
          <div class="btn-addcart">
            <i class="icon-addcart"></i>
            <span>Add to cart</span>
          </div>          
        </div>
        <li class="product-item">
          <div class="product-img">
              <img src="http://mage2.dev/pub/media/catalog/product/w/b/wb02-green-0.jpg" alt="" >
          </div>        
          <div class="product-name">
              Wayfarer Messenger Bag
          </div>
        </li>
        <li class="sku-item">
         24-MB05
        </li>
        <li class="qty-item">
          67.00
        </li>
        <li class="price-item">
          <span class="price">$150.00</span>
        </li>
      </ul>
      <ul class="items">
      <div class="list-addcart">
          <a class="btn-detail">
            View detail
          </a>
          <div class="btn-addcart">
            <i class="icon-addcart"></i>
            <span>Add to cart</span>
          </div>
          
        </div>
        <li class="product-item">
          <div class="product-img">
              <img src="http://mage2.dev/pub/media/catalog/product/w/b/wb02-green-0.jpg" alt="" >
          </div>        
          <div class="product-name">
              Wayfarer Messenger Bag
          </div>
        </li>
        <li class="sku-item">
         24-MB05
        </li>
        <li class="qty-item">
          67.00
        </li>
        <li class="price-item">
          <span class="price">$150.00</span>
        </li>
      </ul>
      <ul class="items">
      <div class="list-addcart">
          <a class="btn-detail">
            View detail
          </a>
          <div class="btn-addcart">
            <i class="icon-addcart"></i>
            <span>Add to cart</span>
          </div>
          
        </div>
        <li class="product-item">
          <div class="product-img">
              <img src="http://mage2.dev/pub/media/catalog/product/w/b/wb02-green-0.jpg" alt="" >
          </div>        
          <div class="product-name">
              Wayfarer Messenger Bag
          </div>
        </li>
        <li class="sku-item">
         24-MB05
        </li>
        <li class="qty-item">
          67.00
        </li>
        <li class="price-item">
          <span class="price">$150.00</span>
        </li>
      </ul>
      <ul class="items">
        <div class="list-addcart">
          <a class="btn-detail">
            View detail
          </a>
          <div class="btn-addcart">
            <i class="icon-addcart"></i>
            <span>Add to cart</span>
          </div>
          
        </div>

        <li class="product-item">
          <div class="product-img">
              <img src="http://mage2.dev/pub/media/catalog/product/w/b/wb02-green-0.jpg" alt="" >
          </div>        
          <div class="product-name">
              Wayfarer Messenger Bag
          </div>
        </li>
        <li class="sku-item">
         24-MB05
        </li>
        <li class="qty-item">
          67.00
        </li>
        <li class="price-item">
          <span class="price">$150.00</span>
        </li>
      </ul>
      <ul class="items">
        <li class="product-item">
          <div class="product-img">
              <img src="http://mage2.dev/pub/media/catalog/product/w/b/wb02-green-0.jpg" alt="" >
          </div>        
          <div class="product-name">
              Wayfarer Messenger Bag
          </div>
        </li>
        <li class="sku-item">
         24-MB05
        </li>
        <li class="qty-item">
          67.00
        </li>
        <li class="price-item">
          <span class="price">$150.00</span>
        </li>
      </ul>
      <ul class="items">
        <li class="product-item">
          <div class="product-img">
              <img src="http://mage2.dev/pub/media/catalog/product/w/b/wb02-green-0.jpg" alt="" >
          </div>        
          <div class="product-name">
              Wayfarer Messenger Bag
          </div>
        </li>
        <li class="sku-item">
         24-MB05
        </li>
        <li class="qty-item">
          67.00
        </li>
        <li class="price-item">
          <span class="price">$150.00</span>
        </li>
      </ul>
      <ul class="items">
        <li class="product-item">
          <div class="product-img">
              <img src="http://mage2.dev/pub/media/catalog/product/w/b/wb02-green-0.jpg" alt="" >
          </div>        
          <div class="product-name">
              Wayfarer Messenger Bag
          </div>
        </li>
        <li class="sku-item">
         24-MB05
        </li>
        <li class="qty-item">
          67.00
        </li>
        <li class="price-item">
          <span class="price">$150.00</span>
        </li>
      </ul>
      <ul class="items">
        <li class="product-item">
          <div class="product-img">
              <img src="http://mage2.dev/pub/media/catalog/product/w/b/wb02-green-0.jpg" alt="" >
          </div>        
          <div class="product-name">
              Wayfarer Messenger Bag
          </div>
        </li>
        <li class="sku-item">
         24-MB05
        </li>
        <li class="qty-item">
          67.00
        </li>
        <li class="price-item">
          <span class="price">$150.00</span>
        </li>
      </ul>
      <ul class="items">
        <li class="product-item">
          <div class="product-img">
              <img src="http://mage2.dev/pub/media/catalog/product/w/b/wb02-green-0.jpg" alt="" >
          </div>        
          <div class="product-name">
              Wayfarer Messenger Bag
          </div>
        </li>
        <li class="sku-item">
         24-MB05
        </li>
        <li class="qty-item">
          67.00
        </li>
        <li class="price-item">
          <span class="price">$150.00</span>
        </li>
      </ul>
      <ul class="items">
        <li class="product-item">
          <div class="product-img">
              <img src="http://mage2.dev/pub/media/catalog/product/w/b/wb02-green-0.jpg" alt="" >
          </div>        
          <div class="product-name">
              Wayfarer Messenger Bag
          </div>
        </li>
        <li class="sku-item">
         24-MB05
        </li>
        <li class="qty-item">
          67.00
        </li>
        <li class="price-item">
          <span class="price">$150.00</span>
        </li>
      </ul>
      <ul class="items">
        <li class="product-item">
          <div class="product-img">
              <img src="http://mage2.dev/pub/media/catalog/product/w/b/wb02-green-0.jpg" alt="" >
          </div>        
          <div class="product-name">
              Wayfarer Messenger Bag
          </div>
        </li>
        <li class="sku-item">
         24-MB05
        </li>
        <li class="qty-item">
          <span class="zero">00.00</span>
        </li>
        <li class="price-item">
          <span class="spec-price">$30.00</span>
          <span class="old-price">$150.00</span>
        </li>
      </ul>
      <ul class="items">
        <li class="product-item">
          <div class="product-img">
              <img src="http://mage2.dev/pub/media/catalog/product/w/b/wb02-green-0.jpg" alt="" >
          </div>        
          <div class="product-name">
              Wayfarer Messenger Bag
          </div>
        </li>
        <li class="sku-item">
         24-MB05
        </li>
        <li class="qty-item">
          67.00
        </li>
        <li class="price-item">
          <span class="price">$150.00</span>
        </li>
      </ul>

    </div>
      
  </div>
</div>