<div id="list-product-perfect-scroll" class="list-product-inner" [ngStyle]="checkoutProductState.productsStyles" perfectScroll (scrollEnd)="loadMorePage()">

  <div class="list-mode">
    <div class="list-item">
      <ul class="items">
        <li class="product-item">
          {{ 'Product' | translate}}
        </li>
        <li class="sku-item">
          {{ 'Sku' | translate}}
        </li>
        <li class="qty-item">
          {{ 'Qty' | translate}}
        </li>
        <li class="price-item">
          {{ 'Price' | translate}}
        </li>
      </ul>
      <ul class="items animated fadeIn" *ngFor="let product of checkoutProductState.productGridProducts;trackBy: trackByItemFn;">
        <div class="list-addcart" (click)="addToCart(product,$event)">
          <a class="btn-detail" (click)="quoteActions.selectProductToAdd(product,1,false,null, true)">
            {{ 'View detail' | translate}}
          </a>
          <div class="btn-addcart">
            <i class="icon-addcart"></i>
            <span>{{'Add to cart' | translate}}</span>
          </div>
        </div>

        <li class="product-item">
          <div class="product-img">
            <!--<img src="{{product['origin_image']}}" alt="">-->
            <pos-default-sales-checkout-grid-product-image [imageUrl]="product['origin_image']"></pos-default-sales-checkout-grid-product-image>
            <!-- sale - soldout label -->
            <span class="tags sale" *ngIf="isSales(product)">{{'Sale' | translate}}</span>
            <span class="tags soldout" *ngIf="isOutOfStock(product)">{{'Sold out' | translate}}</span>
          </div>
          <div class="product-name">
            {{product['name']}}
          </div>
        </li>
        <li class="sku-item">
          {{product['sku']}}
        </li>
        <li class="qty-item">
          {{product['stock_items']['qty'] | number:'1.2-2'}}
        </li>
        <li class="price-item">
          <span class="price">{{product['price'] | priceFormat:true}}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="loading-img" *ngIf="(checkoutProductState.productGridCurrentPage + checkoutProductState.bufferPageView) < checkoutProductState.productGridTotalsPage">
    <img src="assets/img/loading.gif" alt="loading image">
  </div>

  <div class="search-no-result" *ngIf="checkoutProductState.productGridProducts.count() == 0">
    <h3>{{ 'THERE IS NO RESULTS FOR' | translate }}
      <span *ngIf="!!checkoutProductState.searchString || !!checkoutProductState.currentCategory">
        "{{checkoutProductState.searchString}}"
      </span>
    </h3>
    <p>
      {{ 'Please try a different' | translate}}
      <span style="color: darkcyan;" class="click">{{ 'search' | translate}} </span> {{ 'or' | translate}}
      <span style="color: darkcyan;" class="click">{{ 'category' | translate }}</span>
    </p>
  </div>

</div>
