<pos-default-sales-checkout-popup-product-detail *ngIf="productOptionsState.isOpenProductDetailPopup" [posConfigState]="posConfigState"
                                                 [productOptionsState]="productOptionsState">

</pos-default-sales-checkout-popup-product-detail>

<pos-default-sales-checkout-popup-custom-sale *ngIf="isOpenCustomSalePopup()" [posQuoteState]="posQuoteState" [posConfigState]="posConfigState"
                                              [clickOutSide]="isOpenCustomSalePopup()" [checkType]="2" (outside)="clickOutside($event)">

</pos-default-sales-checkout-popup-custom-sale>

<pos-default-sales-checkout-popup-customer-detail [checkoutPopupState]="checkoutPopupState" [entitiesState]="entitiesState" [quoteState]="posQuoteState" [posConfigState]="posConfigState">
</pos-default-sales-checkout-popup-customer-detail>
