<div class="checkout-blk" *ngIf="posStepState.checkoutStep"
     [ngClass]="{'order-list-checkout': isOrderListPage()}">
  <div class="inner">
    <pos-default-sales-checkout-step-payments *ngIf="isStepPayment()" [integrateRpState]="integrateRpState" [posQuoteState]="posQuoteState" [posStepState]="posStepState" [posConfigState]="posConfigState">
    </pos-default-sales-checkout-step-payments>
    <!--<pos-default-sales-checkout-step-complete *ngIf="isStepComplete()"></pos-default-sales-checkout-step-complete>-->
  </div>
</div>
