<div class="top-bar">
  <span class="menu-toggle" (click)="menuLeftActions.changeOpenState(true)"><span class="icon-menu amenu"></span><span class="text">X-Retail</span></span>
  <span class="icon-link">
        <span class="icon-truck">
            <span class="tooltiptext-bottom">{{ 'Shipment' | translate }}</span>
        </span>
    </span>
  <span class="icon-link" (click)="openPopupCustomSale()">
      <span class="icon-edit-sale">
          <span class="tooltiptext-bottom">{{'Custom Sale' | translate}}</span>
      </span>
    </span>
  <div class="search-blk">
    <span class="icon-search"></span>
    <input id="pos_search_text" type="text"
           [value]="checkoutProductState.searchString"
           [formControl]="searchString"
           placeholder="{{('Search by ' + configState.posRetailConfig.fieldSearchProduct) | translate }}" inputSelectText/>
  </div>
</div>
