<div id="productInfo" class="popup-wrapper animated fadeIn" [ngClass]="{'open': productOptionsState.isOpenProductDetailPopup}">
  <div class="popup-content">
    <div class="product-information">
      <div class="media-blk">
        <div class="media-img"><img src="{{productOptionsState.product.media_gallery[indexImage]}}"/></div>
        <div class="media-thumb">
          <div class="inner">
            <ul>
              <li *ngFor="let image of productOptionsState.product.media_gallery;let i = index"
                  [ngClass]="{active: i==indexImage}" (click)="indexImage= i"
                  [hidden]="i>(indexImage + 2) || i<indexImage">
                <img src="{{image}}"/>
              </li>
            </ul>
          </div>
          <p class="media-control">
            <span class="icon-left" [ngClass]="{disable: indexImage == 0}" (click)="changeIndexImage(-1)"></span>
            <span class="icon-right"
                  [ngClass]="{disable: indexImage == (productOptionsState.product.media_gallery.length-1)}"
                  (click)="changeIndexImage(1)"></span>
          </p>
        </div>
      </div>
      <div class="description-blk">
        <div class="tabs-blk">
          <!--tabs header-->
          <ul class="tabs-header">
            <li [ngClass]="{active: productOptionsState.tabView ==='option'}" (click)="productOptionsActions.changeTabView('option')">
              {{ 'Option' | translate }}
            </li>
            <li [ngClass]="{active: productOptionsState.tabView ==='detail'}" (click)="productOptionsActions.changeTabView('detail')">
              {{ 'Detail' | translate }}
            </li>
            <li class="disabled">{{ 'Warehouse' | translate }}</li>
          </ul>
          <div id="option" class="tabs-content"
               [ngClass]="{'d-show': productOptionsState.tabView ==='option','d-hide':productOptionsState.tabView !=='option'}">
            <div class="inner" perfectScroll>
              <div class="name-row">
                <p class="product-name">{{productOptionsState.product['name']}}</p>
                <p class="price">{{productOptionsState.product['price'] | priceFormat : true}}</p>
                <p class="sku-val">{{productOptionsState.product['sku']}}</p>
                <p class=""></p>
              </div>
              <form class="form-row">
                <ul class="fr-control">
                  <li *ngIf="productOptionsState.product.getTypeId()!='grouped'">
                    <label>{{ 'Quantity' | translate }}</label>
                    <div class="quantity-blk">
                      <span class="icon-minus" [ngClass]="{disable: productOptionsState.buyRequest.getData('qty') <= 1}" (click)="changeQty(false)"></span>
                      <span class="icon-plus" (click)="changeQty()"></span>
                      <input [value]="productOptionsState.buyRequest.getData('qty')" type="text" name="qty">
                    </div>
                  </li>
                  <pos-default-sales-checkout-popup-product-detail-customizable-options *ngFor="let option of productOptionsState.product['customizable_options']" [option]="option" [productOptionsState]="productOptionsState">
                  </pos-default-sales-checkout-popup-product-detail-customizable-options>

                  <div *ngIf="productOptionsState.product.getTypeId()==='configurable'">
                    <pos-default-sales-checkout-popup-product-detail-super-attribute *ngFor="let attribute of convertAttributeObjectToArray()"
                                                                                     [attribute]="attribute"
                                                                                     [productOptionsState]="productOptionsState">
                    </pos-default-sales-checkout-popup-product-detail-super-attribute>
                  </div>
                  <pos-default-sales-checkout-popup-product-detail-super-group *ngIf="productOptionsState.product.getTypeId()==='grouped'" [productOptionsState]="productOptionsState"></pos-default-sales-checkout-popup-product-detail-super-group>
                </ul>
              </form>
              <div *ngIf="productOptionsState.product.getTypeId() === 'bundle'">
                <pos-default-sales-checkout-popup-product-detail-bundle-options *ngFor="let option of productOptionsState.product.x_options['bundle']['options']"
                                                                                [option]="option"
                                                                                [productOptionsState]="productOptionsState">
                </pos-default-sales-checkout-popup-product-detail-bundle-options>
              </div>
            </div>
          </div>
          <!--Detail Content-->
          <div id="detail" class="tabs-content"
               [ngClass]="{'d-show': productOptionsState.tabView ==='detail','d-hide':productOptionsState.tabView !=='detail'}">
            <div class="inner" perfectScroll>
              <div class="name-row">
                <p class="product-name">{{productOptionsState.product.getData('name')}}</p>
                <p class="price">{{productOptionsState.product.getData('price') | priceFormat : true}}</p>
                <p class="sku">{{productOptionsState.product.getData('sku')}}</p>
                <p class="sku-val"></p>
              </div>

              <div class="info-row">
                <table class="table">
                  <tr>
                    <td>{{ 'Qty' | translate }}</td>
                    <td>{{productOptionsState.product.stock_items['qty']}}</td>
                  </tr>
                  <tr>
                    <td>{{ 'In stock' | translate }}</td>
                    <td>{{productOptionsState.product.stock_items['is_in_stock'] == '1'? ("Yes"|translate) : ("No"|translate)}}</td>
                  </tr>
                  <tr>
                    <td>{{ 'Attribute set id' | translate }}</td>
                    <td>{{productOptionsState.product.attribute_set_id}}</td>
                  </tr>
                  <tr>
                    <td>{{ 'Tax class' | translate }}</td>
                    <td>{{productOptionsState.product.getTaxClassName()}}</td>
                  </tr>
                  <tr *ngIf="productOptionsState.product.special_price">
                    <td>{{ 'Special price' | translate }}</td>
                    <td>
                      {{productOptionsState.product.special_price | priceFormat}}
                    </td>
                  </tr>
                  <tr *ngIf="productOptionsState.product.special_price">
                    <td>{{ 'Special from date' | translate }}</td>
                    <td>
                      {{productOptionsState.product.special_from_date}}
                    </td>
                  </tr>
                  <tr *ngIf="productOptionsState.product.special_price">
                    <td>{{ 'Special to date' | translate }}</td>
                    <td>
                      {{productOptionsState.product.special_to_date}}
                    </td>
                  </tr>
                </table>
              </div>

              <!-- <div class="detail-row">
                   <h4>Description</h4>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                       aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                       consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                       Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                   <h4>Sort Description</h4>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
               </div>-->
            </div>
          </div>

          <!--Stock Content-->
          <div id="stock" class="tabs-content"
               [ngClass]="{'d-show': productOptionsState.tabView ==='stock','d-hide':productOptionsState.tabView !=='stock'}">
            <div class="inner" perfectScroll>
              <div class="name-row">
                <p class="product-name">{{ 'Product name' | translate }}</p>
                <p class="price">$100.00</p>
                <p class="sku">{{ 'Product-SKU' | translate }}</p>
                <p class="sku-val">WSKB2019</p>
              </div>
              <div class="info-row">
                <table>
                  <tr>
                    <td>{{ 'Quantity' | translate }} in {{ 'Outlet' | translate }} A</td>
                    <td>100</td>
                  </tr>
                  <tr>
                    <td>{{ 'Quantity' | translate }} in {{ 'Outlet' | translate }} A</td>
                    <td>100</td>
                  </tr>
                </table>
              </div>
              <table class="table">
                <tr>
                  <th>{{ 'Outlet' | translate }}</th>
                  <th>{{ 'Inventory Count' | translate }}</th>
                </tr>
                <tr>
                  <td>{{ 'Outlet' | translate }} A</td>
                  <td>25</td>
                </tr>
                <tr>
                  <td>{{ 'Outlet' | translate }} Nguyen Chi Thanh</td>
                  <td>31</td>
                </tr>
                <tr>
                  <td>{{ 'Outlet' | translate }} Westlake</td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>{{ 'Outlet' | translate }} Hang Khay</td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>{{ 'Outlet' | translate }} Trang Tien</td>
                  <td>50</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="desc-bottom">
          <button class="gray" (click)="productOptionsActions.cancelProductOptions()">{{ 'Cancel' | translate }}</button>
          <button (click)="productOptionsActions.confirmProductOptions()">
            {{productOptionsState.currentProcessing === 'ADD_NEW' ? 'Add to Cart' : 'Update Item'}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="popup-overlay" [ngClass]="{'open': productOptionsState.isOpenProductDetailPopup}"></div>
