 <!-- Change id="addNotePopup" when NOTE popup-->
<div id="productInfo" class="popup-wrapper animated fadeIn" [ngClass]="{'open': productOptionsState.isOpenProductDetailPopup}">  
  <div class="popup-content">
    <!-- Add note --> 
    <div class="form-popup addNote-form hide">
      <h2>Add note</h2>   
      <div class="form-popup-content">   
        <form>
          <div class="form-group">            
              <textarea class="form-control"  placeholder="Begin your message ..."></textarea>            
          </div>
          <div class="button-group">
            <button class="gray">Cancel</button>
            <button class="primary">Save</button>
          </div>
        </form>
     </div>
    </div>
    <!-- New address -->
    <div class="form-popup new-address-popup ">
        <div class="form-popup-top">
          <h2>New address</h2>             
        </div>
        <div class="form-popup-content"> 
          <form>
            <div class="content-scroll" perfectScroll>
              <div class="row">
                <div class="form-group col-sm-6">
                  <label >First name</label>
                  <input type="text" class="form-control"  placeholder="First name">
                </div>
                <div class="form-group col-sm-6">
                  <label >Last name</label>
                  <input type="text" class="form-control"  placeholder="Last name">
                </div>
              </div>  
              <div class="row">
                <div class="form-group col-sm-12">
                  <label >Stress</label>
                  <input type="text" class="form-control"  placeholder="Stress">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-4">
                  <label >Country</label>                
                  <select  class="form-control">
                    <option>
                      United States
                    </option>
                  </select>
                </div>
                <div class="form-group col-sm-4">
                  <label >State/ Province</label>
                  <select  class="form-control">
                    <option>
                      United States
                    </option>
                  </select>
                </div>
                <div class="form-group col-sm-4">
                  <label >City - <em>Optional</em></label>
                  <input type="text" class="form-control"  placeholder="Last name">
                </div>
              </div> 
              <div class="row">
                <div class="form-group col-sm-6">
                  <label >Telephone</label>
                  <input type="text" class="form-control"  placeholder="Telephone">
                </div>
                <div class="form-group col-sm-6">
                  <label >Zip/ Postal Code</label>
                  <input type="text" class="form-control"  placeholder="Zip/ Postal Code">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="checkbox-input">
                    <input type="checkbox" id="add-address">
                    <label for="add-address">Add to address book</label>
                </div>
                </div>
              </div>
            </div>
            <div class="button-group">
              <button class="gray">Cancel</button>
              <button class="primary">Save</button>
            </div>
          </form>        
        </div>           
    </div>
    <!-- shipment-add -->
    <div class="form-popup add-shipment-popup hide">
        <div class="form-popup-top">
          <h2>Add shipment</h2>   
          <div class="shipment-amount row">
            <label class="col-sm-6">Shipment Amount:</label>
            <input type="text"  class="col-sm-6">
          </div>
        </div>
        <div class="form-popup-content"> 
          <form>
            <div class="content-scroll" perfectScroll>
              <div class="row">
                <div class="form-group col-sm-6">
                  <label >First name</label>
                  <input type="text" class="form-control"  placeholder="First name">
                </div>
                <div class="form-group col-sm-6">
                  <label >Last name</label>
                  <input type="text" class="form-control"  placeholder="Last name">
                </div>
              </div>  
              <div class="row">
                <div class="form-group col-sm-12">
                  <label >Stress</label>
                  <input type="text" class="form-control"  placeholder="Stress">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-4">
                  <label >Country</label>                
                  <select  class="form-control">
                    <option>
                      United States
                    </option>
                  </select>
                </div>
                <div class="form-group col-sm-4">
                  <label >State/ Province</label>
                  <select  class="form-control">
                    <option>
                      United States
                    </option>
                  </select>
                </div>
                <div class="form-group col-sm-4">
                  <label >City - <em>Optional</em></label>
                  <input type="text" class="form-control"  placeholder="Last name">
                </div>
              </div> 
              <div class="row">
                <div class="form-group col-sm-6">
                  <label >Telephone</label>
                  <input type="text" class="form-control"  placeholder="Telephone">
                </div>
                <div class="form-group col-sm-6">
                  <label >Zip/ Postal Code</label>
                  <input type="text" class="form-control"  placeholder="Zip/ Postal Code">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="checkbox-input">
                    <input type="checkbox" id="add-address">
                    <label for="add-address">Add to address book</label>
                </div>
                </div>
              </div>
            </div>
            <div class="button-group">
              <button class="gray">Cancel</button>
              <button class="primary">Save</button>
            </div>
          </form>        
        </div>           
    </div>

    <!-- shipment-popup -->
    <div class="list-mode-popup shipment-list-popup  hide">
      <h2>Add shipment</h2>
      <div class="list-mode-content">        
        <div class="list-mode-top clearfix">
          <div class="pull-left">
            <label>Shipment Amount:</label>
            <input type="text">
          </div>
          <div class="pull-right">
            <button class="orange">New Address</button>
          </div>
        </div>
        <ul class="list-mode-content">
          <li class="item header">
              <div class="col-item name">Name</div>
              <div class="col-item address">Address</div>
              <div class="col-item zipcode">Zip code</div>
              <div class="col-item last edit">Edit</div>
          </li>
        </ul>
        <ul class="list-mode-content scroll" perfectScroll>          
          <li class="item">
              <div class="col-item name">
                <div class="radio-input">
                  <input type="radio" name="shipment-item">
                  <label></label>
                </div>
                <div class="info">
                  <h3>sydney Opera House</h3>
                  <div class="phone">
                    <strong>Phone:</strong> (+61) 2-950-7111
                  </div>
                </div>

              </div>
              <div class="col-item address">
                167 Bennelong Point, Sydney NSW 2000, Australia
              </div>
              <div class="col-item zipcode">
                736-1610
              </div>
              <div class="col-item last edit">
                <span class="icon-edit"></span>
              </div>
          </li>
          <li class="item">
              <div class="col-item name">
                <div class="radio-input">
                  <input type="radio" name="shipment-item">
                  <label></label>
                </div>
                <div class="info">
                  <h3>sydney Opera House</h3>
                  <div class="phone">
                    <strong>Phone:</strong> (+61) 2-950-7111
                  </div>
                </div>

              </div>
              <div class="col-item address">
                167 Bennelong Point, Sydney NSW 2000, Australia
              </div>
              <div class="col-item zipcode">
                736-1610
              </div>
              <div class="col-item last edit">
                <span class="icon-edit"></span>
              </div>
          </li>
          <li class="item">
              <div class="col-item name">
                <div class="radio-input" >
                  <input type="radio" name="shipment-item">
                  <label></label>
                </div>
                <div class="info">
                  <h3>sydney Opera House</h3>
                  <div class="phone">
                    <strong>Phone:</strong> (+61) 2-950-7111
                  </div>
                </div>

              </div>
              <div class="col-item address">
                167 Bennelong Point, Sydney NSW 2000, Australia
              </div>
              <div class="col-item zipcode">
                736-1610
              </div>
              <div class="col-item last edit">
                <span class="icon-edit"></span>
              </div>
          </li>
          <li class="item">
              <div class="col-item name">
                <div class="radio-input">
                  <input type="radio" name="shipment-item">
                  <label ></label>
                </div>
                <div class="info">
                  <h3>sydney Opera House</h3>
                  <div class="phone">
                    <strong>Phone:</strong> (+61) 2-950-7111
                  </div>
                </div>

              </div>
              <div class="col-item address">
                167 Bennelong Point, Sydney NSW 2000, Australia
              </div>
              <div class="col-item zipcode">
                736-1610
              </div>
              <div class="col-item last edit">
                <span class="icon-edit"></span>
              </div>
          </li>
        </ul>
        <div class="list-mode-bot clearfix">
          <button class="primary pull-right">Add shipment</button>
        </div>      
      </div>
    </div>  
    <!-- onHold-popup   -->
    <div class="list-mode-popup onHold-popup hide">
      <h2>Onhold orders</h2>
      <div class="list-mode-content">        
        <div class="list-mode-top clearfix">
          <div class="search-box">
            <span class="icon-search"></span>
            <input type="text" placeholder="Search by customer name, email and order’s note">
          </div>          
        </div>
        <ul class="list-mode-content">
          <li class="item header">
              <div class="col-item customer">Customer</div>
              <div class="col-item order">Orders</div>
              <div class="col-item total">Total</div>
              <div class="col-item last action">Action</div>
          </li>
        </ul>
        <ul class="list-mode-content scroll" perfectScroll>          
          <li class="item">
              <div class="col-item customer">                
                <div class="info">
                  <h3>sydney Opera House</h3>
                  <div class="date-time">
                    15 Jun, 1:45 PM
                  </div>
                </div>

              </div>
              <div class="col-item order">
                <div class="icon-noted">
                  <span class="tooltiptext-right">
                  We applied the same principles to the view mode to improve the hierarchy and legibility of the information.
                  </span>
                </div>

                <ul class="product-list">
                  <li>24 Pack Microfiber Cleaning Cloth 24 Pack Microfiber Cleaning Cloth 24 Pack Microfiber Cleaning Cloth
                  </li>
                  <li>
                    6-Piece Bakeware Set
                  </li>
                  <li>
                    Foldable Laundry Hamper Mesh
                  </li>
                </ul>
              </div>
              <div class="col-item total">
                <span class="cart-num">38</span>
                <span class="price">
                  $159.00
                </span>
              </div>
              <div class="col-item last action">
                <button class="primary">Retrieve</button>
                <span class="icon-trash"></span>
              </div>
          </li>
          <li class="item">
              <div class="col-item customer">                
                <div class="info">
                  <h3>sydney Opera House</h3>
                  <div class="date-time">
                    15 Jun, 1:45 PM
                  </div>
                </div>

              </div>
              <div class="col-item order">
                <div class="icon-noted">
                  <span class="tooltiptext-right">
                  We applied the same principles to the view mode to improve the hierarchy and legibility of the information.
                  </span>
                </div>
                <ul class="product-list">
                  <li>24 Pack Microfiber Cleaning Cloth 24 Pack Microfiber Cleaning Cloth 24 Pack Microfiber Cleaning Cloth
                  </li>
                  <li>
                    6-Piece Bakeware Set
                  </li>
                  <li>
                    Foldable Laundry Hamper Mesh
                  </li>
                </ul>
              </div>
              <div class="col-item total">
                <span class="cart-num">38</span>
                <span class="price">
                  $159.00
                </span>
              </div>
              <div class="col-item last action">
                <button class="primary">Retrieve</button>
                <span class="icon-trash"></span>
              </div>
          </li> 
          <li class="item">
              <div class="col-item customer">                
                <div class="info">
                  <h3>sydney Opera House</h3>
                  <div class="date-time">
                    15 Jun, 1:45 PM
                  </div>
                </div>

              </div>
              <div class="col-item order">
                <div class="icon-noted">
                  <span class="tooltiptext-right">
                  We applied the same principles to the view mode to improve the hierarchy and legibility of the information.
                  </span>
                </div>
                <ul class="product-list">
                  <li>24 Pack Microfiber Cleaning Cloth 24 Pack Microfiber Cleaning Cloth 24 Pack Microfiber Cleaning Cloth
                  </li>
                  <li>
                    6-Piece Bakeware Set
                  </li>
                  <li>
                    Foldable Laundry Hamper Mesh
                  </li>
                </ul>
              </div>
              <div class="col-item total">
                <span class="cart-num">38</span>
                <span class="price">
                  $159.00
                </span>
              </div>
              <div class="col-item last action">
                <button class="primary">Retrieve</button>
                <span class="icon-trash"></span>
              </div>
          </li> 
          <li class="item">
              <div class="col-item customer">                
                <div class="info">
                  <h3>sydney Opera House</h3>
                  <div class="date-time">
                    15 Jun, 1:45 PM
                  </div>
                </div>

              </div>
              <div class="col-item order">
                <div class="icon-noted">
                  <span class="tooltiptext-right">
                  We applied the same principles to the view mode to improve the hierarchy and legibility of the information.
                  </span>
                </div>
                <ul class="product-list">
                  <li>24 Pack Microfiber Cleaning Cloth 24 Pack Microfiber Cleaning Cloth 24 Pack Microfiber Cleaning Cloth
                  </li>
                  <li>
                    6-Piece Bakeware Set
                  </li>
                  <li>
                    Foldable Laundry Hamper Mesh
                  </li>
                </ul>
              </div>
              <div class="col-item total">
                <span class="cart-num">38</span>
                <span class="price">
                  $159.00
                </span>
              </div>
              <div class="col-item last action">
                <button class="primary">Retrieve</button>
                <span class="icon-trash"></span>
              </div>
          </li> 
          <li class="item">
              <div class="col-item customer">                
                <div class="info">
                  <h3>sydney Opera House</h3>
                  <div class="date-time">
                    15 Jun, 1:45 PM
                  </div>
                </div>

              </div>
              <div class="col-item order">
                <div class="icon-noted">
                  <span class="tooltiptext-right">
                  We applied the same principles to the view mode to improve the hierarchy and legibility of the information.
                  </span>
                </div>
                <ul class="product-list">
                  <li>24 Pack Microfiber Cleaning Cloth 24 Pack Microfiber Cleaning Cloth 24 Pack Microfiber Cleaning Cloth
                  </li>
                  <li>
                    6-Piece Bakeware Set
                  </li>
                  <li>
                    Foldable Laundry Hamper Mesh
                  </li>
                </ul>
              </div>
              <div class="col-item total">
                <span class="cart-num">38</span>
                <span class="price">
                  $159.00
                </span>
              </div>
              <div class="col-item last action">
                <button class="primary">Retrieve</button>
                <span class="icon-trash"></span>
              </div>
          </li>           
        </ul>
        <div class="list-mode-bot clearfix">
          <button class="gray pull-right">Close</button>
        </div>      
      </div>
    </div> 
    <!-- product-information    -->
    <div class="product-information hide">
      <div class="media-blk">
        <div class="media-img"><img src="{{productOptionsState.product.media_gallery[indexImage]}}"/></div>
        <div class="media-thumb">
          <div class="inner">
            <ul>
              <li *ngFor="let image of productOptionsState.product.media_gallery;let i = index"
                  [ngClass]="{active: i==indexImage}" (click)="indexImage= i"
                  [hidden]="i>(indexImage + 2) || i<indexImage">
                <img src="{{image}}"/>
              </li>
            </ul>
          </div>
          <p class="media-control">
            <span class="icon-left" [ngClass]="{disable: indexImage == 0}" (click)="changeIndexImage(-1)"></span>
            <span class="icon-right"
                  [ngClass]="{disable: indexImage == (productOptionsState.product.media_gallery.length-1)}"
                  (click)="changeIndexImage(1)"></span>
          </p>
        </div>
      </div>
      <div class="description-blk">
        <div class="tabs-blk">
          <!--tabs header-->
          <ul class="tabs-header">
            <li [ngClass]="{active: productOptionsState.tabView ==='option'}" (click)="productOptionsActions.changeTabView('option')">
              {{ 'Option' | translate }}
            </li>
            <li [ngClass]="{active: productOptionsState.tabView ==='detail'}" (click)="productOptionsActions.changeTabView('detail')">
              {{ 'Detail' | translate }}
            </li>
            <li class="disabled">{{ 'Warehouse' | translate }}</li>
          </ul>
          <div id="option" class="tabs-content"
               [ngClass]="{'d-show': productOptionsState.tabView ==='option','d-hide':productOptionsState.tabView !=='option'}">
            <div class="inner" perfectScroll>
              <div class="name-row">
                <p class="product-name">{{productOptionsState.product['name']}}</p>
                <p class="price">{{productOptionsState.product['price'] | priceFormat : true}}</p>
                <p class="sku">SKU</p>
                <p class="sku-val">{{productOptionsState.product['sku']}}</p>
              </div>
              <form class="form-row">
                <ul class="fr-control">
                  <li *ngIf="productOptionsState.product.getTypeId()!='grouped'">
                    <label>{{ 'Quantity' | translate }}</label>
                    <div class="quantity-blk">
                      <span class="icon-minus" [ngClass]="{disable: productOptionsState.buyRequest.getData('qty') <= 1}" (click)="changeQty(false)"></span>
                      <span class="icon-plus" (click)="changeQty()"></span>
                      <input [value]="productOptionsState.buyRequest.getData('qty')" type="text" name="qty">
                    </div>
                  </li>
                  <pos-default-sales-checkout-popup-product-detail-customizable-options *ngFor="let option of productOptionsState.product['customizable_options']" [option]="option" [productOptionsState]="productOptionsState">
                  </pos-default-sales-checkout-popup-product-detail-customizable-options>

                  <div *ngIf="productOptionsState.product.getTypeId()==='configurable'">
                    <pos-default-sales-checkout-popup-product-detail-super-attribute *ngFor="let attribute of convertAttributeObjectToArray()"
                                                                                     [attribute]="attribute"
                                                                                     [productOptionsState]="productOptionsState">
                    </pos-default-sales-checkout-popup-product-detail-super-attribute>
                  </div>
                  <pos-default-sales-checkout-popup-product-detail-super-group *ngIf="productOptionsState.product.getTypeId()==='grouped'" [productOptionsState]="productOptionsState"></pos-default-sales-checkout-popup-product-detail-super-group>
                </ul>
              </form>
              <div *ngIf="productOptionsState.product.getTypeId() === 'bundle'">
                <pos-default-sales-checkout-popup-product-detail-bundle-options *ngFor="let option of productOptionsState.product.x_options['bundle']['options']"
                                                                                [option]="option"
                                                                                [productOptionsState]="productOptionsState">
                </pos-default-sales-checkout-popup-product-detail-bundle-options>
              </div>
            </div>
          </div>
          <!--Detail Content-->
          <div id="detail" class="tabs-content"
               [ngClass]="{'d-show': productOptionsState.tabView ==='detail','d-hide':productOptionsState.tabView !=='detail'}">
            <div class="inner" perfectScroll>
              <div class="name-row">
                <p class="product-name">{{productOptionsState.product.getData('name')}}</p>
                <p class="price">{{productOptionsState.product.getData('price') | priceFormat : true}}</p>
                <p class="sku">{{productOptionsState.product.getData('sku')}}</p>
                <p class="sku-val"></p>
              </div>

              <div class="info-row">
                <table class="table">
                  <tr>
                    <td>{{ 'Qty' | translate }}</td>
                    <td>{{productOptionsState.product.stock_items['qty']}}</td>
                  </tr>
                  <tr>
                    <td>{{ 'In stock' | translate }}</td>
                    <td>{{productOptionsState.product.stock_items['is_in_stock'] == '1'? ("Yes"|translate) : ("No"|translate)}}</td>
                  </tr>
                  <tr>
                    <td>{{ 'Attribute set id' | translate }}</td>
                    <td>{{productOptionsState.product.attribute_set_id}}</td>
                  </tr>
                  <tr>
                    <td>{{ 'Tax class' | translate }}</td>
                    <td>{{productOptionsState.product.getTaxClassName()}}</td>
                  </tr>
                  <tr *ngIf="productOptionsState.product.special_price">
                    <td>{{ 'Special price' | translate }}</td>
                    <td>
                      {{productOptionsState.product.special_price | priceFormat}}
                    </td>
                  </tr>
                  <tr *ngIf="productOptionsState.product.special_price">
                    <td>{{ 'Special from date' | translate }}</td>
                    <td>
                      {{productOptionsState.product.special_from_date}}
                    </td>
                  </tr>
                  <tr *ngIf="productOptionsState.product.special_price">
                    <td>{{ 'Special to date' | translate }}</td>
                    <td>
                      {{productOptionsState.product.special_to_date}}
                    </td>
                  </tr>
                </table>
              </div>

              <!-- <div class="detail-row">
                   <h4>Description</h4>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                       aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                       consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                       Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                   <h4>Sort Description</h4>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
               </div>-->
            </div>
          </div>

          <!--Stock Content-->
          <div id="stock" class="tabs-content"
               [ngClass]="{'d-show': productOptionsState.tabView ==='stock','d-hide':productOptionsState.tabView !=='stock'}">
            <div class="inner" perfectScroll>
              <div class="name-row">
                <p class="product-name">{{ 'Product name' | translate }}</p>
                <p class="price">$100.00</p>
                <p class="sku">{{ 'Product-SKU' | translate }}</p>
                <p class="sku-val">WSKB2019</p>
              </div>
              <div class="info-row">
                <table>
                  <tr>
                    <td>{{ 'Quantity' | translate }} in {{ 'Outlet' | translate }} A</td>
                    <td>100</td>
                  </tr>
                  <tr>
                    <td>{{ 'Quantity' | translate }} in {{ 'Outlet' | translate }} A</td>
                    <td>100</td>
                  </tr>
                </table>
              </div>
              <table class="table">
                <tr>
                  <th>{{ 'Outlet' | translate }}</th>
                  <th>{{ 'Inventory Count' | translate }}</th>
                </tr>
                <tr>
                  <td>{{ 'Outlet' | translate }} A</td>
                  <td>25</td>
                </tr>
                <tr>
                  <td>{{ 'Outlet' | translate }} Nguyen Chi Thanh</td>
                  <td>31</td>
                </tr>
                <tr>
                  <td>{{ 'Outlet' | translate }} Westlake</td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>{{ 'Outlet' | translate }} Hang Khay</td>
                  <td>30</td>
                </tr>
                <tr>
                  <td>{{ 'Outlet' | translate }} Trang Tien</td>
                  <td>50</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="desc-bottom">
          <button class="gray" (click)="productOptionsActions.cancelProductOptions()">{{ 'Cancel' | translate }}</button>
          <button (click)="productOptionsActions.confirmProductOptions()">
            {{productOptionsState.currentProcessing === 'ADD_NEW' ? 'Add to Cart' : 'Update Item'}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="popup-overlay" [ngClass]="{'open': productOptionsState.isOpenProductDetailPopup}"></div>
