@import 'global';
.has-error .help-block{
       text-align: left !important;
       background-color: red;
      }

// STYLE
.auth-page {
  position: relative;
  width: 100vw; height: 100vh;
  overflow: hidden;

  [class^="log-"] {
    position: absolute; padding: 10px 0;
    height: 100%; overflow: hidden;
    @include single-transition(all,0.3s);
  }
  .log-img {
    left: 0;
    width: 63.9092%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url('assets/img/login-img_resized.jpg');
    &.forgot {
      opacity: 0; z-index: -1;
    }
  }
  .log-content {
    right: 0;
    width: 36.0907%;
    background: $white;
    .inner {
      position: absolute;
      @include hoz-pos; top: 13.73%;
      width: 56.7951%;
    }
    @media (max-width: 1199px){
      width: 40%;
      .inner{
        width: 80%;
      }
    }
    &.forgot {
      right: -36.0907%;
      .inner {top: 32.5%;}
    }
    h1, h3 {margin: 0; text-align: center;}
    h1.logo {
      margin-bottom: 30%;
      img {width: 190px; height: auto;}
    }
    .page-title{
      margin-bottom: 20px;
      h1{
        text-transform: none;
        font-size: 25px;
        color: $aqua;
      }
    }
    h3 {
      color: $color-text;
      font-size: 22px;
      margin: 0 0 37px;
    }
  }
  &.active {
    .log-img {
      opacity: 0; z-index: -1;
      &.forgot {opacity: 1; z-index: 1;}
    }
    .log-content {
      &.forgot {right: 0;}
    }
  }

  .fr-control {
    li {
    	padding-left: 0; text-align: center;margin-bottom: 20px;

    }
    input[type="text"],
    input[type="password"],
    input[type="email"] {
      background: $white;
      border: #C7C7C7 solid 1px;
      text-align: left;
      &::-webkit-input-placeholder {color: #A0A0A0;}
      &:-moz-placeholder {color: #A0A0A0;}
      &::-moz-placeholder {color: #A0A0A0;}
      &:-ms-input-placeholder {color: #A0A0A0;}
    }
    .button-group{
    	@include clearfix;
    	button {min-width: 114px; }
	    .click {
	      float: left; margin-top: 11px;
	      color: $aqua;
	  	}
	  	@media (max-width:1200px ){
	  		text-center: center;
	  		button,
	  		.click{
	  			@include float-reset;
	  			margin-bottom: 10px;

	  		}

	  	}

    }

	}



  .back-btn {
    position: absolute;
    top: 19px; left: 24px;
  }
  .term-link{
    color: $color-text;
    &:hover, &:focus{
      color: $aqua;
      text-decoration: underline;
    }
  }

.form-login{
  .button-group {
    margin-top:30px;
  }
  .btn-links{
    text-align: center;
    .sep{
      width: 20px;
    }
  }
}
.form-reset{
  .button-group {
    margin-top:30px;
  }
}

  .contact-btn {
    position: absolute;
    @include hoz-pos; bottom: 38px;
    color: $color-text;
    i {
      position: relative;
      top: 3px;
      font-size: 25px;
      margin-right: 8px;
      color: $gray;
    }
  }
}


//button group active animation
.button-group {
  position: relative;
  [class^="icon-"]{
    margin-left: 5px;
    display: none;
  }
  &.has-icon-drop{
    [class*="icon-"]{
      display: inline-block;
    }
  }

  .inner {
    position: absolute;
    bottom: 40px;
    width: 100%; height: 0;
    overflow: hidden;
    @include single-transition(all,0.3s);
  }
  button {width: 100%; margin: 0 0 1px; padding: 0 5px; line-height: 14px;}
  &.active {
    > button {background: #113158;}
    .inner {height: 120px;}
  }
}

button,.ladda-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none; cursor: pointer;
  font-family: 'OpenSans-Semibold', sans-serif; font-size: 12px;
  color: #FFF; text-transform: uppercase;
  text-align: center; vertical-align: middle; white-space: nowrap;
  padding: 0 15px; margin: 0;
  height: 39px; line-height: 39px;
  background: #1FA79D;
  @include user-select(none);
  @include border-radius(4px);
  @include single-transition(all,0.3s);
  &:hover {background: #113158;}
  &.gray {
    background: $gray;
    &:hover {background: #414141;}
  }
  &.active.focus, &.active:focus,
  &.focus, &.focus:active, &:active:focus, &:focus {
    outline: none;
    outline-offset: 0px;
    border: none;
  }
  &.secondary {
    font-family: 'OpenSans-Semibold', sans-serif;
    font-size:  13px; text-transform: none;
    height: 31px; line-height: 29px;
    border: #1FA79D solid 1px;
    &:hover {border-color: #113158;}
    &.white {
      color: #4F4F4F;
      border-color: #CBCBCB;
      &:hover {background: #B2B2B2!important; border-color: #B2B2B2; color:  #FFF;}
    }
  }
  &.orange {
    color:  #FFF; background: #F4A522;
    &:hover {background: #E89100!important;}
  }
  &.red {
    color: #FFF; background: #F46463!important;
    &:hover {background: #F44336!important;}
  }
  &.huge {
    font-family: 'OpenSans-Bold', sans-serif;
    font-size: 15px;
    height: 70px; line-height: 70px;
    @include border-radius(6px);
  }
  &.tiny {
    height: 31px; line-height: 31px;
    text-transform: none;
  }
  &.c-huge {
    position: relative;
    color: #414141; padding: 29px 5px 0;
    height: 70px; line-height: normal;
    background: #ECEAEB; border: #CCC solid 1px;
    @include border-radius(7px);
    //@include ellipsis;
    [class^="icon-"] {
      position: absolute;
      @include hoz-pos; top: 6px;
      color: #B3B3B3; font-size: 32px;
      @include single-transition(all,0.3s);
    }
    &:hover {
      border-color: #2DB9B0;
      background: #2DB9B0;
      &, [class^="icon-"] {color: #FFF;}
    }

  }


  &.bounder {
    &, &:hover {
      font-size: 13px; color: #414141;
      height: 41px; line-height: 39px;
      background: #FFF; border: #1FA79D solid 1px;
      padding-left: 24px; padding-right: 24px;
      @include border-radius(20px);
    }
  }
  &.outline {
    line-height: 37px;
    border: #919292 solid 1px;
    background: #FFF; color: #4F4F4F;
    &:hover {
      border-color: #1FA79D; background: #1FA79D;
      color: #FFF;
    }
  }
  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }
}
