<div class="acr-row add-register">
  <div class="acr-head">
    <h2 class="click" (click)="back()" style="max-width: 10%">
      <span class="icon-left click"></span>
      {{!!getRegion()['id'] ? ("Edit Region"|translate):("New Region"|translate)}}
    </h2>
  </div>
  <div class="acr-content">
    <div class="inner">
      <ul class="fr-control" style="width:70% !important;">
        <li>
          <label>{{ 'Region Name' | translate }}</label>
          <retail-text [(model)]="getRegion()['region_name']"
                       [formKey]="'region_edit_data'"
                       [validation]="'required'"></retail-text>
        </li>
        <li>
          <label>{{ 'List of Outlet' | translate }}</label>
          <retail-select2 [elementData]="getOutletSelect()" [multiple]="true" [validation]="'required'" [formKey]="'region_edit_data'"
                          [(model)]="getRegion()['assigned_outlets']"></retail-select2>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--<div class="bottom-bar" style="right: inherit !important">-->
<!--<div class="bottom-bar" style="right: auto !important;">-->
  <!--<button *ngIf="!!getRegion()['id']" class="red" (click)="confirmDeleteRegion()">-->
    <!--{{ 'Delete' | translate }}-->
  <!--</button>-->
<!--</div>-->
<div class="bottom-bar" style="width: auto;">
  <button *ngIf="!!getRegion()['id']" class="red" (click)="confirmDeleteRegion()">
    {{ 'Delete' | translate }}
  </button>
  <button (click)="saveRegion()">
    {{getRegion()['id']!=0 ? ('Save'|translate) : ('Add'|translate)}}
  </button>
</div>

<div class="popup-wrapper" style="z-index: 9998" [ngClass]="{open: viewState['isOpenPopup']}" id="newOutletInfo">
  <div class="popup-content">
    <h3>{{viewData['popup_text1']}}</h3>
    <p>{{viewData['popup_text2']}}</p>
    <div class="button-bar">
      <button class="gray" (click)="viewState['isOpenPopup'] = false">{{ 'No' | translate }}</button>
      <button (click)="callBackYes()">{{ 'Yes' | translate }}</button>
    </div>
  </div>
</div>
<div class="popup-overlay" style="z-index: 9997" [ngClass]="{open: viewState['isOpenPopup']}"></div>
